- unless params[:search].nil? && params[:slug].nil?
  %h1
    =t('.filtered')
- else
  %h1
    =t('.all')
- if current_user
  = link_to t('.mine'), manage_tours_path, class: 'all my-ads', target: '_blank'
