.heading
  %h1
    =t('.search')
= form_for :search, url: search_tours_path, method: :get, remote: true do |f|
  .search-filter.new-search
    .select-wrap.new-search
      = f.hidden_field :resort_categories, value: search_value_for(:resort_categories) || @country.try(:id)
      .select
        %span.name
          = @country.try(:name) || t('.countries')
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}}
          =t('.any')
        - tour_resort_categories.each do |resort_category|
          %li{data: { value: resort_category.id }}= resort_category.name
    .select-wrap.new-search
      = f.hidden_field :resorts, value: search_value_for(:resorts) || @resort.try(:id)
      .select
        %span.name
          = @resort.try(:name) || t('.resort')
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}}
          =t('.any')
        - tour_resorts.each do |resort|
          %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
    .select-wrap.new-search
      = f.hidden_field :period, value: search_value_for(:period)
      .select
        %span.name
          =t('.period')
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}}
          =t('.any_period')
        - tour_dates.each do |date|
          %li{data: { value: date.strftime("%m/%Y") }}= l(date, format: :period_filter)

    .clear

  = f.submit t('.applyFilters'), :class=> 'button', :style=>"display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;"
  %label.nrml{ :for => "show_passed",:style=>"margin-top: 0px; margin-bottom: 20px; text-align: center" }
    =t('.show_old')
    = f.check_box :show_passed, checked: search_value_for(:show_passed) == "1"
  - unless params[:search].nil?
    = link_to t('.cleanFilters'), main_app.search_tours_path, remote: true, class: 'button clear-filters', style: "margin-bottom: 20px; display: block; margin-left: auto; margin-right: auto;"
