.tour-card
  .leftcol
    = tour_logo_img(@tour)
    %ul.details-list
      %li.contacts
        .contacts-list
          %span.map{:title=> t('countries')}
            = tour_countries(@tour)
  .rightcol
    .h2
      -# %span.name
      %b{:title=>"Estacoes"}
        = tour_resorts_names_linked(@tour)
    %ul.details-list
      %li.details
        .details-list
          %span.date{:title=> t('check_in')}
            = check_in_formatted(@tour)
          -unless @tour.duration.nil?
            %span.days{:title=> t('duration')}
              = @tour.duration
              dias
          -unless @tour.price.nil?
            %span.price{:title=> t('price')}
              R$
              = @tour.price
              por dia
          -unless Settings.vamoj_easy
            %span.style{:title=> t('tourStyle')}
              = @tour.tour_style
            %span.accom{:title=> t('accommodation')}
              = @tour.accommodation
        .clear
  .h2{:itemprop=>"name"}
    Criador(es)
  .parti-col
    - @tour.user_owners.each do |onwr|
      .ava-col
        = avatar_img_sm(onwr)
      .name-col
        = link_to onwr.name, onwr, target: '_blank'
  .clear
  -unless @tour.description.nil?
    %p.descr
      %b
        =t('description')
        \:
      = @tour.description.html_safe
  -#- unless @tour.participants_in([:pending, :approved]).empty?
  -#  %p.descr
  -#    %b
  -#      =t('participants')
  -#    %ul
  -#      - @tour.participants_in([:pending, :approved]).each do |participant|
  -#        %li== #{participant.user.name} #{participant.user.surname}
  -#    - if @tour.participants_in([:pending]).where(user: current_user).first
  -#      - tour_participant = @tour.participants_in([:pending]).where(user: current_user).first
  -#      = link_to 'Recall', recall_tour_participant_path(@tour, tour_participant), class: 'button'
  -#%p.small
  -#  %b
  -#    Estilos de trip:
  -#  -TourStyle.all.each do |t_style|
  -#    = t_style.name
  -#    ="("+t_style.description.to_s+")."
  -#  %b
  -#    Tipos de moradia:
  -#  -Accommodation.all.each do |acco|
  -#    = acco.name
  -#    ="("+ acco.description.to_s+")."
  %div{:style=>"text-align: center"}
  -unless @tour.gallery_images.all.count.zero?
    = render 'shared/sliders/tip', images: @tour.gallery_images.all



-#  - @tour.resorts.each do |resort|
-#    = resort_logo_img(resort)

-#= participation_status(@tour, participate_button: true)

