%ol.trip-offers-list
  - tours.each do |tour|
    %li
      .piccol
        =link_to tour_logo_img(tour), show_tour_tours_path(country_or_resort(tour), tour), class: "title"
      .leftcol
        %p.title
          = link_to tour.title, show_tour_tours_path(country_or_resort(tour), tour)
        %i.date
          = check_in_formatted(tour)
          %b
            = tour.resort_categories.collect(&:name).join(', ')
          = tour_resorts_names(tour)
        %p
          = truncate_html(strip_tags(tour.description.html_safe.to_s), length: 70)
          = link_to 'Leia mais', show_tour_tours_path(country_or_resort(tour), tour), class: 'read-more'
        - if can? :manage, tour
          %br
          = link_to t('edit'), edit_manage_tour_path(tour)
          |
          -#= link_to t('participants'), manage_tour_participants_path(tour)
          /|
          = link_to t('destroy'), manage_tour_path(tour), method: :delete, data: { confirm: t('confirm_destroy') }
      .rightcol
        %p{:style=>"float: left;"}
          - if tour.user_owners.include?(current_user)
            Sua trip
          -#- else
          -#  = participation_status(tour)

      .clear

-# end announcement-list
