- tours.each do |tour_xs|
  %a.article.hidden-sm{:href => show_tour_tours_path(country_or_resort(tour_xs), tour_xs)}
    .article--image-big
      =tour_logo_img(tour_xs)
    .article--inner
      .article--title
        =tour_xs.title
  .article.visible-sm
    .article--inner.pad
      .article--image
        =tour_logo_img(tour_xs)
      .article--info
        .article--title
          =tour_xs.title

        .article--user
          = link_to tour_xs.user_owners.first.name+" "+tour_xs.user_owners.first.surname, user_path(tour_xs.user_owners.first), :target=>"_blank"
        .article--dates
          =check_in_formatted(tour_xs)
      .article--text
        =truncate_html(tour_xs.description, length: 300, omission: '...')
        %a{:href => show_tour_tours_path(country_or_resort(tour_xs), tour_xs)}
          =t('readMore')
      .article--tools.visible-sm.clearfix
        .article--category.right
          - if !tour_resorts_names_linked(tour_xs).empty?
            = tour_resorts_names_linked(tour_xs)
            = ' - '
            =tour_countries(tour_xs)
          - else
            =tour_countries(tour_xs)
