-content_for :for_head do
  -# general METAS
  %title
    =t('.title')
  %meta{:name => "description", :content =>  t('.descr')}
  %meta{:property=>"og:type", :content =>"article"}
  %meta{:property=> "og:description", :content => t('.descr')}
  %meta{:property=>"og:title", :content => t('.title')}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
  %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/vamo_junto_2.png"}
  %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/vamo_junto_3.png"}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_2.png"}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_3.png"}

.heading
  %h1
    =t('.header')
  = render 'shared/social_sharing', style: 'float: right;'

%p.search-intro
  =t('.appeal')
-# %span.tour-sin *?
= link_to t('.publish'), new_manage_tour_path, class: 'button', :style=>"display: block; margin-left: auto; margin-right: auto; margin-top: -20px;margin-bottom: 35px;"

.main-content
  .heading
    .search-heading
      = render 'search_heading'
  .search-result
    = render 'search_list'
  .clear

  -content_for :aside do
    %aside
      .search-filters
        = render 'search_filters'

      -#=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_resort_gallery'
    .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => t('vamoJunto')

      .article
        .article--inner
          .article--desc
            %p
              =t('.appeal')
            %p

            = link_to  t('.publish'), new_manage_tour_path, class: 'button', :style=>"display: block; margin-left: auto; margin-right: auto;"


      = render 'tour_xs', tours: @tours, tour_path_method: "tour_path"
      -#= render partial: "tour_xs", collection: @tours, tour_path_method: "tour_path"
      = will_paginate @tours
      -# ToDo pagination style
    -#.one
    =render 'shared/advert_xs'
