.main-content
  -content_for :for_head do
    -# general METAS
    %title #{@tour.title} | Vamo Junto com Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@tour.description.to_s)}

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@tour.description.to_s)}
    %meta{:property=>"og:title", :content => "Vamo Junto: " +@tour.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
    %meta{:property=> "og:image", :content=> tour_logo_img_url(@tour)}
    %meta{:itemprop=> "photo", :content=> tour_logo_img_url(@tour)}
    - if !@tour.gallery_images.all.count.zero?
      -@tour.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      =@tour.title

  %article
    = render 'show'

    .clear
    .heading
    .buttons
      - if can? :manage, @tour
        = link_to 'Edit', edit_manage_tour_path(@tour), class: "button"
      = link_to t('newTour'), new_manage_tour_path, class: "button"
      = link_to 'Todos Trips', tours_path, class: "button"

    - if Settings.enable_forum
      = render 'shared/comments', { comment_discourse: @tour, form_path: comment_tour_path, commentable_show_path: show_tour_tours_path(country_or_resort(@tour), @tour) }

-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Vamo Junto", :header_url => main_app.tours_path

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{tour_logo_img_url(@tour)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag(tour_logo_img_url(@tour))
        -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @tour.title
        .one--info-date
          %i
          %span
            =check_in_formatted(@tour)
      .one--inner
        .tabs
          .tabs--items
            %a.active{"data-id" => "b1", :href => "#"} Descrição
          .tabs--boxes
            .tabs--box.shown{"data-id" => "b1"}
              -#=image_tag(@tour.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
              %div
                %p
                  =@tour.description.html_safe

        .article--tools.clearfix
          .article--category.right
            - if !tour_resorts_names_linked(@tour).empty?
              = tour_resorts_names_linked(@tour)
              = ' - '
              =tour_countries(@tour)
            - else
              =tour_countries(@tour)


      = render 'shared/social_sharing'

      -unless @tour.gallery_images.all.count.zero?
        .one--inner
          =render 'shared/sliders/tip_slider_xs', images: @tour.gallery_images.all

      - if can? :manage, @tour
        .trips
          = link_to t('edit'), edit_manage_tour_path(@tour)

      - if Settings.enable_forum
        =render 'shared/comments_xs', { comment_discourse: @tour, form_path: comment_tour_path, commentable_show_path: show_tour_tours_path(country_or_resort(@tour), @tour) }

      /render 'shared/related_mat_xs'
      =render 'shared/advert_xs'
