%a.article.hidden-sm{:href => breeze_path(breeze_xs)}
  .article--image-big
    %img{:alt => "", :src => breeze_xs.image_url(:big_thumb), :itemprop => "image"}/
  .article--inner
    .article--title
      =breeze_xs.title
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => breeze_xs.image_url(:thumb), :itemprop => "image"}/
    .article--info
      .article--title
        =breeze_xs.title
    .article--text
      =breeze_xs.body
    .article--tools.visible-sm.clearfix
      - unless breeze_xs.tag_list.empty?
        .article--tags.left
          %span.bold
            Marcações:
          %span
            = tag_list_linked(breeze_xs.tag_list)
