= form_for(@breeze, :html => {:mulbreezeart => true, :class => 'admin-form'}) do |f|
  - if @breeze.errors.any?
    #error_explanation
      %h1
        = pluralize(@breeze.errors.count, "error")
        prohibited this breeze from being saved:
      %ul
        - @breeze.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :body
    = f.text_field :body
  .field
    = f.label :category
    = f.select(:breeze_category_id, nested_dropdown(BreezeCategory.all.arrange))
  .field
    minimal image 127*86
    = image_tag @breeze.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .actions
    = f.submit
