= form_for @video_category do |f|
  - if @video_category.errors.any?
    #error_explanation
      %h1= "#{pluralize(@video_category.errors.count, "error")} prohibited this video_category from being saved:"
      %ul
        - @video_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, data: { url: slug_video_categories_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :parent_id, t('parent')
    = f.collection_select(:parent_id, VideoCategory.all,:id, :name,{:prompt => t('selectParent')})
  .field
    = f.label :description
    = f.text_area :description, class: 'froala', :rows => 40, :cols => 120
  .field
    = image_tag @video_category.image_url(:thumb_1200_630).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image

  .actions
    = f.submit 'Save'
