%p#notice= notice
.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    %title Videos de Snowboard: #{@video_category.name.to_s} | Zona Radical
    %meta{:name => "description", :content => strip_tags(@video_category.description.to_s)}
    %meta{:name=>"keywords", :content => "videos de snowboard, video aulas, como aprender snowboard, snowboard no Brasil"}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"website"}
    %meta{:property=>"og:title", :content => "Videos de Snowboard: "+@video_category.name.to_s+" | Zona Radical"}
    %meta{:property=>"og:description", :content => strip_tags(@video_category.description.to_s)}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=>"og:image", :content =>@video_category.image_url(:thumb_1200_630).to_s}
    -# Microdata Metas
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"description", :content =>  strip_tags(@video_category.description.to_s)}
    %meta{:itemprop=>"keywords", :content => "videos de snowboard, video aulas, como aprender snowboard, snowboard no Brasil"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"headline", :content => "Video de snowboard em portugues do Brasil"}
    %meta{:itemprop=>"image", :content=> @video_category.image_url(:thumb_1200_630).to_s}
  .heading
    %h1{:itemprop=>"name"}
      -if @video_category.ancestry
        -#= link_to "Videos", "/videos/videos/", :class=>'video-header'
        />>
        - nums=Array.new(@video_category.ancestry_depth-1)
        - nums[0]=@video_category
        - (1..nums[0].ancestry_depth).each do |i|
          - nums[i]=nums[i-1].parent
        = nums.reverse.map{|wl| link_to wl.name, show_video_category_path(wl), :class=>'video-header'}.join(' >> ').html_safe
      -else
        =@video_category.name

  .introtext{:itemprop=>"description"}
    = @video_category.description.html_safe unless @video_category.description.nil?
    %meta{:itemprop=>"datePublished", :content=> @video_category.updated_at}
  -if can? :update, @video_category
    = link_to t('edit'), edit_video_category_path(@video_category)
  .clear
  %ul.stations-list
    =render @videos
    -#= will_paginate @videos,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @video_category.children?
    -@video_category.children.each do |video_sub_category|
      -unless video_sub_category.videos_size_with_children==0
        .heading
          %h1= video_sub_category.name + ' (' + video_sub_category.videos_size_with_children.to_s + ')'
          -if video_sub_category.videos_size_with_children > 4
            = link_to t('allVideos') + video_sub_category.name,  show_video_category_path(video_sub_category), class: :all
        .introtext= video_sub_category.description.html_safe unless video_sub_category.description.nil?
        -if can? :update, video_sub_category
          = link_to t('edit'), edit_video_category_path(video_sub_category)
        .clear
        %ul.stations-list
          =render video_sub_category.videos.sort_by { |a| [ a.created_at ] }.reverse[0..3]
        -if video_sub_category.videos_size_with_children > 4
          %p.others
            = link_to t('otherVideos') + video_sub_category.name, show_video_category_path(video_sub_category)
      -if video_sub_category.children?
        -video_sub_category.children.each do |video_subsub_category|
          -unless video_subsub_category.videos_size_with_children==0
            .heading
              %h1= video_subsub_category.name + ' (' + video_subsub_category.videos_size_with_children.to_s + ')'
              -if video_subsub_category.videos_size_with_children > 4
                = link_to t('allVideos') + video_subsub_category.name,  show_video_category_path(video_subsub_category), class: :all
            .introtext= video_subsub_category.description.html_safe unless video_subsub_category.description.nil?
            -if can? :update, video_subsub_category
              = link_to t('edit'), edit_video_category_path(video_subsub_category)
            .clear
            %ul.stations-list
              =render video_subsub_category.videos.sort_by { |a| [ a.created_at ] }.reverse[0..3]
            -if video_subsub_category.videos_size_with_children > 4
              %p.others
                = link_to t('otherVideos') + video_subsub_category.name, show_video_category_path(video_subsub_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_video_category', :video_category => @video_category
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear


-content_for :for_mobile do
  -if @video_category.parent
    =render 'layouts/header_xs', :header_txt=> @video_category.parent.name, :header_url => show_video_category_path(@video_category.parent)
  -else
    =render 'layouts/header_xs', :header_txt=> t('All Videos'), :header_url => main_app.videos_path

  .container
    .articles
      -#=render 'layouts/list_filters_xs', :header_txt => @tip_category.name
      .articles--title.clearfix
        .articles--filter.left
          %a.articles--filter-btn{:href => "#"} Categorias
          .articles--filter-box
            %ul.articles--filter-list
              =sub_menu_video_categories VideoCategory.all

        .news--item-title.right.clearfix
          .news--item-name.left
            =@video_category.name


      - if @video_category.description.present?
        .article
          .article--inner
            .article--desc
              = @video_category.description.html_safe

      = render partial: "videos/video_xs", collection: @videos
      -#= will_paginate @videos

      -#-if @video_category.children?
      -@video_category.children.each do |video_sub_category|
        -if video_sub_category.videos
          .articles--title.clearfix
            .news--item-title.right.clearfix
              .news--item-name.left
                =video_sub_category.name
          = render partial: "videos/video_xs", collection: video_sub_category.videos.sort_by { |a| [ a.created_at ] }.reverse[0..3]
          -if video_sub_category.videos.count > 4
            %p.others
              = link_to t('otherVideos') + video_sub_category.name, show_video_category_path(video_sub_category)
        -video_sub_category.children.each do |video_subsub_category|
          -if video_subsub_category.videos_size_with_children>0
            .articles--title.clearfix
              .news--item-title.right.clearfix
                .news--item-name.left
                  =video_sub_category.name+':'
                  =video_subsub_category.name
            = render partial: "videos/video_xs", collection: video_subsub_category.videos.sort_by { |a| [ a.created_at ] }.reverse[0..3]
            -if video_subsub_category.videos_size_with_children > 4
              %p.others
                = link_to t('otherVideos') + video_subsub_category.name, show_video_category_path(video_subsub_category)
          -else
            .articles--title.clearfix
              .news--item-title.right.clearfix
                .news--item-name.left
                  =video_sub_category.name
            = render partial: "videos/video_xs", collection: video_sub_category.videos.sort_by { |a| [ a.created_at ] }.reverse[0..3]
            -if video_sub_category.videos_size_with_children > 4
              %p.others
                = link_to t('otherVideos') + video_sub_category.name, show_video_category_path(video_sub_category)


      =render 'shared/advert_xs'
