%nav.admin
  %ul.menu
    %li.submenu-item
      =link_to t('Blogs'), main_app.blogs_path
      %ul.submenu
        %li= link_to t('newBreeze'), main_app.new_blog_path

    %li.submenu-item
      =link_to t('Breezes'), main_app.breezes_path
      %ul.submenu
        %li= link_to t('newBreeze'), main_app.new_breeze_path
        -# %li= link_to t('breezzeCategories'), main_app.breeze_categories_path
        -# %li= link_to t('newBreezzeCategory'), main_app.new_breeze_category_path

    %li.submenu-item
      = link_to t('Events'), main_app.events_path
      %ul.submenu
        %li= link_to 'New Event', new_event_path

    %li.submenu-item
      = link_to t('Resorts'), main_app.resorts_path
      %ul.submenu
        %li= link_to t('newResort'), main_app.new_resort_path
        %li= link_to t('resortCategoties'), main_app.resort_categories_path
        %li= link_to t('newResortCategory'), main_app.new_resort_category_path

    %li.submenu-item
      = link_to t('Tips'), main_app.tips_path
      %ul.submenu
        %li= link_to t('newTip'), main_app.new_tip_path
        %li= link_to t('tipCategories'), main_app.tip_categories_path
        %li= link_to t('newTipCategory'), main_app.new_tip_category_path

    %li.submenu-item
      =link_to t('ImageGallery'), main_app.image_galleries_path
      %ul.submenu
        %li= link_to t('newImageGallery'), main_app.new_image_gallery_path
        %li=link_to t('mediaCategories'), main_app.media_image_categories_path
        %li= link_to t('newMediaCategory'), main_app.new_media_image_category_path
    %li.submenu-item
      = link_to t('Videos'), main_app.videos_path
      %ul.submenu
        %li= link_to t('newVideo'), main_app.new_video_path
        %li= link_to t('videoCategories'), main_app.video_categories_path
        %li= link_to t('newVideoCategory'), main_app.new_video_category_path

    %li.submenu-item
      = link_to t('accommodations'), main_app.accommodations_path
      %ul.submenu
        %li= link_to t('newAccommodation'), main_app.new_accommodation_path

    %li.submenu-item
      = link_to t('tourStyles'), main_app.tour_styles_path
      %ul.submenu
        %li= link_to t('newTourStyle'), main_app.new_tour_style_path

    %li.submenu-item
      = link_to t('tags'), main_app.manage_tags_path
      %ul.submenu
        %li= link_to t('newTag'), main_app.new_manage_tag_path

    %li.submenu-item
      = link_to t('slides'), slides_path
      %ul.submenu
        %li= link_to t('newSlide'), new_slide_path

    %li.submenu-item
      = link_to t('COntest'), '/contests'
      %ul.submenu
        %li= link_to t('New Contest'), main_app.new_contest_path
        %li= link_to t('Premio url contest'), main_app.contests_path
    %li
      =link_to 'Manage Users', "/manage/users"
