.menu
  %a.menu--close{:href => "#"}
  .menu--inner
    - if user_signed_in?
      %a.menu--loged{:href => main_app.profile_path}
        %img{:alt => "", :src => current_user.small_logo}
          %span
            = cut_phrase(current_user.name.capitalize + ' ' + current_user.surname.capitalize,16)
    - else
      %a.menu--login{:href => "#"}
        %img{:alt => "", :src => "images/menu--login.png"}
          %span Log in
    -# without Login has to padd the menu--links {style:"padding-top: 40px;"}
    .menu--links
      %ul
        %li.sub
          %span Home
          %i
          %ul
            %li
              =link_to 'Blogs', blogs_path
            %li
              =link_to "Videos", "http://zonaradical.com.br/snowboard-videos/snowboard-videos"
            %li
              =link_to t('events'), events_path
            %li
              =link_to t('imageGalleries'), main_app.image_galleries_path
        %li.sub
          %span
            =t('resortsShort')
          %i
          %ul
            =menu_xs_resort_categories ResortCategory.all.arrange
        %li.sub
          %span
            =t('tipsShort')
          %i
          %ul
            =menu_tip_categories TipCategory.all
            %li
              = link_to "Video Aulas de snowboard", "http://zonaradical.com.br/snowboard-videos/aulas-de-snowboard"
        %li
          = link_to t('vamoJunto'), main_app.tours_path
        %li
          %span
            = t('offers')
          %i
          %ul
            -if Settings.offers
              %li= link_to t('agencies'), main_app.agencies_path
              %li= link_to t('publishedOffers'), main_app.offers_path
            -else
              %li= link_to t('agencies'), main_app.agencies_path
        -if Settings.forum
          %li.sub
            - if Rails.application.secrets.discourse_url
              %span
                =t('communityZR')
              %i
              %ul
                - if @current_user.nil?
                  %li
                    = link_to t("Forum"), Rails.application.secrets.discourse_url
                  %li
                    = link_to t("Classifieds"), Rails.application.secrets.discourse_url+'/c/sua-loja-virtual/'
                - else
                  %li
                    = link_to t("Forum"), Rails.application.secrets.discourse_url+'/session/sso?return_path=%2F'
                  %li
                    = link_to t("Classifieds"), Rails.application.secrets.discourse_url+'/session/sso?return_path='+Rails.application.secrets.discourse_url+'/c/sua-loja-virtual/'
        %li.sub
          %span Galera Snow
          %i
          %ul
            %li= link_to t('athletes'), main_app.athletes_path
            %li= link_to t('organizations'), main_app.organizations_path
            %li= link_to "Amigos e links úteis", friends_url
            %li= link_to "Sobre o ZR", galera_url
    =link_to t('fullVersion'), params.merge({:mobile=>0}), :class =>'menu--settings'
    - if user_signed_in?
      =link_to 'Sair', main_app.full_sign_out_path, :class=>'sign-out'

.login
  %a.login--close{:href => "#"}
  .login--inner
    .login--title
      =t('signinZR')

    .form-login
      =t('signinEmail')
      = render 'devise/sessions/new'

    .login--socials
      %a.fb{:href => omniauth_authorize_path(:user, 'facebook')}
        =t('signinFB')
      %a.tw{:href => omniauth_authorize_path(:user, 'twitter')}
        =t('signinTW')

    .login--or
      =t('noFbTw')
      %a{:href => new_registration_path(:user)}
        =t('create')
