%ul.menu
  %li.submenu-item
    = active_link_to t('home'), main_app.root_path, active: [['static_pages', 'video_categories', 'events'], ['index', 'show']]
    %ul.submenu
      =link_to "Blogs", blogs_path
      =menu_video_categories VideoCategory.all.arrange
      =link_to t('events'), events_path
      =link_to t('imageGalleries'), main_app.image_galleries_path

  %li.submenu-item
    = active_link_to t('resortsShort'),main_app.resorts_url, :rel => 'nofollow', active: [['resorts', 'resort_categories'], []]
    %ul.submenu
      =menu_resort_categories ResortCategory.all.arrange

  %li.submenu-item
    = active_link_to t('tipsShort'),main_app.tips_url, :rel => 'nofollow', active: [['tips','tip_categories'], []]
    %ul.submenu
      =menu_tip_categories TipCategory.all
      %li
        = link_to t('videolessons'), "http://zonaradical.com.br/snowboard-videos/aulas-de-snowboard"

  %li= active_link_to t('vamoJunto'), main_app.tours_path

  -if Settings.offers
    %li.submenu-item
      = active_link_to t('offers'), main_app.offers_path, active: [['offers'], []]
      %ul.submenu
        %li= link_to t('agencies'), main_app.agencies_path
        %li= link_to t('publishedOffers'), main_app.offers_path
  -else
    %li= active_link_to t('agencies'), main_app.agencies_path


  -# %li
  -#  %a{:href => "http://zonaradical.com.br/vamo-junto.html"} Vamo junto

  -# %li.submenu-item
  -#  = link_to 'Ofertas', '#'
  -#  %ul.submenu
  -#    %li= link_to t('agencies'), main_app.agencies_path
  -#    -# %li= link_to t('offers'), main_app.offers_path

  -if Settings.forum
    %li.submenu-item
      - if Rails.application.secrets.discourse_url
        - if @current_user.nil?
          = link_to t("Forum"), Rails.application.secrets.discourse_url
          %ul.submenu
            %li
              = link_to t("Classifieds"), Rails.application.secrets.discourse_url+'/c/sua-loja-virtual/'
        - else
          = link_to t("Forum"), Rails.application.secrets.discourse_url+'/session/sso?return_path=%2F'
          %ul.submenu
            %li
              = link_to t("Classifieds"), Rails.application.secrets.discourse_url+'/session/sso?return_path='+Rails.application.secrets.discourse_url+'/c/sua-loja-virtual/'
              -# http://forum.zonaradical.com.br/session/sso?return_path=http://forum.zonaradical.com.br/c/sua-loja-virtual/
  %li.submenu-item
    %a{:href => "#"}
      Galera
      %span Snow
    %ul.submenu
      %li= link_to t('athletes'), main_app.athletes_path
      %li= link_to t('organizations'), main_app.organizations_path
      %li= link_to t('friends'), friends_url
      %li= link_to t('about'), galera_url, active: [['static_pages'], ['galera', 'show']]

- unless ssearch_page?
  = form_for '', url: ssearch_path, method: :get, html: { class: 'tag_main_filter_form' } do |f|
    .search-field
      = f.text_field :ssearch, value: params[:ssearch], placeholder: t('search'), autocomplete: :off
      = link_to '', 'javascript:;', onclick: "$('.tag_main_filter_form').submit()"
-#= form_for '', url: tags_path, method: :get, html: { class: 'tag_main_filter_form' } do |f|
-#  .search-field
-#    = f.text_field :tag_list, value: params[:tag_list], placeholder: 'pesquisa', autocomplete: :off
-#    = link_to '', 'javascript:;', onclick: "$('.tag_main_filter_form').submit()"
