= form_for(@video, :html => {:mulvideoart => true, :class => 'admin-form'}) do |f|
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title, data: { url: slug_videos_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :source
    = f.select :source, enum_option_pairs(Video, :source)
    .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :source_link
    = f.text_field :source_link
    -if @video.source_link.nil? || :source_link.empty?

      %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '315', :width => '560', :style => 'display:none'}

      %iframe.vimeo{:allowfullscreen => '', :frameborder => '0', :height => '315', :width => '560', :style => 'display:none'}

    -else
      - if @video.source_link.include?("youtube")
        %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '315', :src => getYoutubeEmbedLink(@video.source_link), :width => '560'}
      - else @video.source_link.include?("vimeo")
        %iframe.vimeo{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => getVimeoEmbedLink(@video.source_link), :width => "500"}

  .field
    = f.label :category
    = f.select(:video_category_id, nested_dropdown(VideoCategory.all.arrange))
  .actions
    = f.submit
