%a.article.hidden-sm{:href => show_video_path(video_xs.video_category, video_xs)}
  .article--image-big
    =thumbnail(video_xs.source_link)
  .article--inner
    .article--title
      =video_xs.title
.article.visible-sm
  .article--inner.pad
    .article--image
      =thumbnail(video_xs.source_link)
    .article--info
      .article--title
        =video_xs.title
    .article--text
      =video_xs.description.html_safe
      %a{:href => show_video_path(video_xs.video_category, video_xs)}
        =t('Veja o video')
    .article--tools.visible-sm.clearfix
