%li{:style=>"display: inline-block; vertical-align: middle; border-bottom: 0px solid #dbdbdb;"}
  .video-thumbnail[video]
    %p.video-thumbnail--name
      =link_to video.title[0..40], show_video_path(video.video_category, video)
    .video-thumbnail--image{:style=>"margin-left: 20px; margin-right: 20px;"}
      = link_to thumbnail(video.source_link), show_video_path(video.video_category, video)
  -if can? :video, :update
    = link_to 'Edit', edit_video_path(video)
  -if can? :video, :delete
    = link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }
  .clear
  -#
