.main-content{:itemscope => true, :itemtype => "http://schema.org/VideoObject"}
  -content_for :for_head do
    -# general METAS
    %title Snowboard Videos: "#{@video.title} | Zona Radical
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"website"}
    %meta{:name => "description", :content => @video.description.to_s}
    %meta{:property=>"og:title", :content => "Snowboard Videos: "+@video.title+" | Zona Radical"}
    %meta{:property=>"og:description", :content => @video.description.to_s}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -# 'https://www.youtube.com/watch?v=lB8o_OWNCxw'}
    -#- if @video.source_link.include?("youtube")
    -#meta{:property=>"og:video:url", :content => getYoutubeEmbedLink(@video.source_link)}
    -#%meta{:property=>"og:video:secure_url", :content => getYoutubeEmbedLink(@video.source_link).gsub('http','https')}
    -# %meta{:property=>"og:video:url", :content => 'http://www.youtube.com/watch?v=lB8o_OWNCxw'}
    -# %meta{:property=>"og:video:secure_url", :content => 'https://www.youtube.com/watch?v=lB8o_OWNCxw'}
    -# %meta{:property=>"og:video", :content => @video.source_link}
    -#- elsif @video.source_link.include?("vimeo")
    -#  %meta{:property=>"og:video", :content => "http:"+getVimeoEmbedLink(@video.source_link)}
    -# %meta{:property=>"og:video", :content => @video.source_link}
    -# %meta{:property=>"og:video:type", :content => 'text/html'}
    -# %meta{:property=>"og:video:width", :content => '701'}
    -# %meta{:property=>"og:video:height", :content => '394'}
    -# second
    -# %meta{:property=>"og:video:url", :content => 'http://www.youtube.com/v/lB8o_OWNCxw?version=3&amp;autohide=1'}
    -# %meta{:property=>"og:video:secure_url", :content => 'https://www.youtube.com/v/lB8o_OWNCxw?version=3&amp;autohide=1'}
    -#%meta{:property=>"og:video:type", :content => 'application/x-shockwave-flash'}
    -#  %meta{:property=>"og:video:width", :content => '701'}
    -#  %meta{:property=>"og:video:height", :content => '394'}
    %meta{:property=>"og:image", :content =>thumbnail_url(@video.source_link).to_s}
    %meta{:itemprop=>"keywords", :content => @video.tag_list}
  -#request.original_url.to_s

  .heading
    %h1
      -#span{:itemprop=>"articleSection"}
      -# =t('videos')
      /\:
      %span{:itemprop=>"about"}
        -if @video.video_category.ancestry
          -#= link_to "Videos", "/videos/videos/", :class=>'video-header'
          />>
          - nums=Array.new(@video.video_category.ancestry_depth-1)
          - nums[0]=@video.video_category
          - (1..nums[0].ancestry_depth).each do |i|
            - nums[i]=nums[i-1].parent
          = nums.reverse.map{|wl| link_to wl.name, show_video_category_path(wl), :class=>'video-header'}.join(' >> ').html_safe
        -#= link_to @video.video_category.name,  show_video_category_path(@video.video_category), :class=>'video-header'



  %article
    %h3{:itemprop=>"name"}
      =@video.title
    %i= tag_list_linked(@video.tag_list)
    - if @video.source_link.include?("youtube")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '394', :src => getYoutubeEmbedLink(@video.source_link), :width => '701'}
    - else @video.source_link.include?("vimeo")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0', :height => '394', :src => getVimeoEmbedLink(@video.source_link), :width => '701'}
    %p{:itemprop=>"description"}
      #{@video.description}
      = render 'shared/social_sharing', style: 'float: right;'
    - if can? :video, :update
      = link_to t('edit'), edit_video_path(@video)
      |
      \#{link_to 'Back', videos_path}
  .heading
-# end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_video_category', :video_category => @video.video_category
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> @video.video_category.name, :header_url => show_video_category_path(@video.video_category)


  .container
    .articles
      -# =render 'layouts/list_filters_xs', :header_txt => "Todas Dicas"
      .articles--title.clearfix
        .articles--filter.left
          %a.articles--filter-btn{:href => "#"} Categorias
          .articles--filter-box
            %ul.articles--filter-list
              =sub_menu_video_categories VideoCategory.all

        .news--item-title.right.clearfix
          .news--item-name.left
            =@video.title

      .article
        .article--inner
          .article--desc
            #{@video.description}

    - if @video.source_link.include?("youtube")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0',  :src => getYoutubeEmbedLink(@video.source_link), :width => '100%'}
    - else @video.source_link.include?("vimeo")
      %iframe.youtube{:allowfullscreen => '', :frameborder => '0',  :src => getVimeoEmbedLink(@video.source_link), :width => '100%'}
    = render 'shared/social_sharing', style: 'float: right;'

    =render 'shared/advert_xs'
