- unless collection.empty?
  %h1= locals[:title]
  %ul.tags
    - collection.each do |resource|
      %li
        %b= resource.title
        %i= truncate resource.summary, length: 100
        = link_to t('readMore'), resource.show_url
