-if params[:ssearch]
  .heading
    %h1
      = t('.results') +": "+params[:ssearch]
- else
  .heading
    %h1
      = t('.title')
  .clear

-if @resources[:tips].empty?
  %p{ style: "margin-top: 10px" }
    =t('.no_result')
-else
  = render 'show', collection: @resources[:tips], locals: { title: t('tips') }
  %heading


-#= render 'show', collection: @resources[:resorts], locals: { title: 'Estações Ski Snowboard' }
-#= render 'show', collection: @resources[:videos], locals: { title: 'Vídeos' }
-#= render 'show', collection: @resources[:galleries], locals: { title: 'Galerias' }
-#= render 'show', collection: @resources[:events], locals: { title: 'Eventos' }
-#= render 'show', collection: @resources[:offers], locals: { title: 'Pacotes' }
-#= render 'show', collection: @resources[:breezes], locals: { title: 'Breezes' }

= form_for '', url: ssearch_path, method: :get  do |f|
  .field
    = f.text_field :ssearch, value: params[:ssearch]
  .actions{ style: "margin-top: 10px" }
    = f.submit t('search')



-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      .article
        .article--inner
          .article--desc
            = t('.results')
      = form_for '', url: ssearch_path, method: :get  do |f|
        .field
          = f.text_field :ssearch, value: params[:ssearch]
        .actions{ style: "margin-top: 10px" }
          = f.submit t('search')

      -if @resources[:tips].empty?
        %p{ style: "margin-top: 10px" }
          =t('.no_result')
      -else
        = render 'show', collection: @resources[:tips], locals: { title: 'Dicas' }
        %heading

      =render 'shared/advert_xs'
