.main-content
  = form_tag user_offers_path(@user), id: 'show_passed_form', method: :get, enforce_utf8: false do
    Mostrar Pacotes passados
    = check_box_tag :show_passed, '1', params[:show_passed] == "1"

  .heading
    %h1== Pacotes criados por #{@user.name} #{@user.surname}
  = render 'offers/offer', offers: @offers_owned, offer_path_method: "offer_path"

  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_resort_gallery'
    .clear
