.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    %meta{:property=>"og:type", :content =>"website"}
    -if @image_gallery.image_gallerable
      %title #{@image_gallery.title} | Galeria de #{@image_gallery.image_gallerable.name} | Zona Radical
      %meta{:property=>"og:title", :content => @image_gallery.title+" | Galeria de "+@image_gallery.image_gallerable.name+" | Zona Radical"}
    - else
      %title Zona Radical Gallerias: #{@image_gallery.title}
      %meta{:property=>"og:title", :content => "Zona Radical Galerias: "+@image_gallery.title}
    %meta{:name => "description", :content =>  strip_tags(@image_gallery.description.to_s)}
    %meta{:property=>"og:description", :content =>  strip_tags(@image_gallery.description.to_s)}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -unless @image_gallery.gallery_images.all.count.zero?
      -@image_gallery.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"keywords", :content => @image_gallery.tag_list}
  .heading
    %h1
      =t('image_galleries')+":"
      -unless !@image_gallery.image_gallerable
        #{@image_gallery.image_gallerable.name}
    = render 'shared/social_sharing', style: 'float: right;'
  %article
    %h3
      =@image_gallery.title
    %i.extra-info
      =distance_of_time_in_words_to_now @image_gallery.updated_at
      = t('ago')
      ='/ 0 Comentários'
    %i= tag_list_linked(@image_gallery.tag_list)
    -unless @image_gallery.description.blank?
      %p.galdes
        =@image_gallery.description
    -unless @image_gallery.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @image_gallery.gallery_images.all
    .clear
    = render 'image_gallery_actions', image_gallery: @image_gallery
  .heading
    %b{:style=>"font-size: 16px;" }
      -unless !@image_gallery.image_gallerable
        = link_to "Voltar para perfil de "+@image_gallery.image_gallerable.name.to_s, @image_gallery.image_gallerable


  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =#render 'shared/aside/aside_media_image_category', :media_image_category => @image_gallery.media_image_category
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
    .clear
