%footer#mainApplication
  .inner
    %ul.footer-cols
      %li
        .heading
          %h1 Tweets
        %ul.tweet-list
          %a.twitter-timeline{"data-chrome" => "nofooter transparent noheader", "data-dnt" => "true", "data-widget-id" => "503293754615148544", :height => "236", :href => "https://twitter.com/ZonaRadicalBR"} Tweets by @ZonaRadicalBR
          %script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %li
        .heading
          %h1 Instagram
        %ul.flickr-list
          /
            SnapWidget 3*3
            <iframe src="http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnw2NXwzfDN8fHllc3w0fGZhZGVJbnxvblN0YXJ0fHllc3xubw==&ve=230814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:237px; height:237px"></iframe>
          -# SnapWidget 2*2
          %iframe.snapwidget-widget{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://snapwidget.com/in/?u=em9uYXJhZGljYWxicnxpbnwxMDN8MnwyfHx5ZXN8NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=230814", :style => "border:none; overflow:hidden; width:236px; height:236px", :title => "Instagram Widget"}
      %li
        .heading
          %h1 navegação
        %nav
          %ul.footer-menu
            %li= link_to t('Home'), main_app.root_path
            %li= link_to t('Blogs'), main_app.blogs_path
            %li= link_to t('resorts'),main_app.resorts_url, :rel => 'nofollow'
            %li= link_to t('tips'),main_app.tips_url, :rel => 'nofollow'
            %li= link_to "VAMO JUNTO", main_app.tours_url
            -if Settings.offers
              %li= link_to t('offers'), main_app.offers_path
            -else
              %li= link_to t('agencies'), main_app.agencies_path

            -if Settings.forum
              %li
                - if Rails.application.secrets.discourse_url
                  - if @current_user.nil?
                    %a{:href => Rails.application.secrets.discourse_url} Forum
                  - else
                    %a{:href => Rails.application.secrets.discourse_url + '/session/sso?return_path=%2F'} Forum
            %li
              = link_to t('contacts'), galera_url
      %li
        .heading
          %h1 Sobre a zr
        %p.about
          Site dedicado inteiramente para a prática de Snowboard. Além disso, um espaço para troca
          de experiências e disseminação da cultura do esporte de neve no Brasil. Com dicas e
          informações pertinentes a iniciantes e esportistas profissionais.
    -# end footer-cols
    .copyright
      %a{:href => "http://zonaradical.com.br/pol_priv.html"}
        %span{:style=>"color:blue"}
          Politica de Privacidade.
      Copyright
      %span{:itemprop=>"copyrightYear"}
        2014-2015.
      All Rights Reserved
