%footer.foot
  .foot--socials
    %a{:href => "https://www.facebook.com/zonaradicalbrasil",:target=>"blank"}
    %a{:href => "https://www.youtube.com/channel/UCSrETbpCKUUOS-RBhKZYfRw",:target=>"blank"}
    %a{:href => "https://twitter.com/ZonaRadicalBR",:target=>"blank"}
    %a{:href => "http://instagram.com/zonaradicalbr",:target=>"blank"}
  .foot--links
    %li
      = link_to t('resortsShort'), main_app.resorts_path
    %li
      %span //
    %li
      = link_to t("tipsShort"), main_app.tips_path
    %li
      %span //
    %li
      = link_to t('vamoJunto'), main_app.tours_path
    %li
      %span //
    -if Settings.offers
      %li= link_to t('offers'), main_app.offers_path
    -else
      %li= link_to t('agencies'), main_app.agencies_path
    %li
      %span //
    -if Settings.forum
      %li
        - if Rails.application.secrets.discourse_url
          - if @current_user.nil?
            = link_to t("Forum"), Rails.application.secrets.discourse_url
          - else
            = link_to t("Forum"), Rails.application.secrets.discourse_url+'/session/sso?return_path=%2F'
      %li
        %span //
    %li
      = link_to "Sobre o ZR", galera_url

  -#.foot--form
  -#  %input{:placeholder => "Seu email...", :type => "text"}
  -#    %button{:type => "submit"} @
  -#    %br
  -#      %span Receba a nossa newsletter
  .foot--copy
    %a{:href => "http://zonaradical.com.br/pol_priv.html"}
      Politica de Privacidade.
    Copyright 2014-2015.

  .foot--copy
    Languages:
    -all_locale_webs.each do |loc,web|
      -if loc[0..1].to_s==session[:locale][0..1].to_s
        =session[:locale]
      -else
        -if Rails.env.development?
          =link_to loc, url_for(params.except(:locale).merge(:locale=> loc))
        -else
          = link_to loc, web+request.fullpath
