=render 'shared/sign_in'
%header
  .inner
    = link_to image_tag('logo.png'), main_app.root_path, class: :logo
    .enter-block
      - if user_signed_in?
        .registered
          %span
            = t('hello')
            #{link_to current_user.name, main_app.profile_path} /
          = link_to t('signOut'), main_app.full_sign_out_path, :class => 'exit-link', :method => :get
      - else
        .non-registered
          - if controller_name != 'sessions'
            %span.signIn-dialog= t('signIn')
            = link_to omniauth_authorize_path(:user, 'facebook'), :class => 'login' do
              %span.fb
            = link_to omniauth_authorize_path(:user, 'twitter'), :class => 'login' do
              %span.tw
            %span /
            = link_to t('Sign up'), new_registration_path(:user)
            %br/
      =link_to t('mobileVersion'), :mobile => 1
      ||
      -all_locale_webs.each do |loc,web|
        -if loc[0..1].to_s==session[:locale][0..1].to_s
          =session[:locale]
        -else
          -if Rails.env.development?
            =link_to loc, url_for(params.except(:locale).merge(:locale=> loc))
          -else
            = link_to loc, web+request.fullpath

    %nav
      =render 'shared/menu/top_menu'
      -#.search-field
      -#  %input{:placeholder => "Pesquisa", :type => "text"}/
      -#  %a{:href => "#"}
    - if can? :manage, :all
      =render 'shared/menu/admin_menu'
    - flash.each do |key, value|
      %div{:class => "flash flash-#{key}"}= value
    = unread_notifications

