%header.head
  - if header_txt.nil?
    %a.head--logo{:href => main_app.root_path}
  - else
    %a.head--back{:href => header_url}
      %i
      %span
        = header_txt
  - unless ssearch_page?
    = form_for '', url: ssearch_path, method: :get, html: { class: 'tag_main_filter_form' } do |f|
      .head--input
        = f.text_field :ssearch, value: params[:ssearch], placeholder: t('search'), autocomplete: :off
      .head--tools.clearfix
        %a.left.i1{:href => "#"}
        %a.left.i2{:href => "#"}
  - else
    .head--tools.clearfix
      %a.left.i2{:href => "#"}
