.news--item-title.clearfix
  .news--item-name.left
    = header_txt
    -#.articles--title.clearfix
    -#.articles--filter.left
    -#  %a.articles--filter-btn{:href => "#"} Filters (0)
    -#  .articles--filter-box
    -#    %ul.articles--filter-list
    -#      %li
    -#        %a{:href => "#"} Categoria 1
    -#        %i.non-active +
    -#        %i.active -
    -#        %ul
    -#          %li.sub
    -#            \&gt; SubCategoria 1
    -#            %ul
    -#              %li &gt; SubCategoria 1
    -#              %li &gt; SubCategoria 2
    -#              %li &gt; SubCategoria 3
    -#              %li &gt; SubCategoria 4
    -#          %li &gt; SubCategoria 2
    -#          %li &gt; SubCategoria 3
  -#.news--item-title.right.clearfix
  -#  .news--item-name.left
  -#    = header_txt
  -#  -#a.news--item-more.right.hidden-xs{:href => "#"} Todos
