!!!
%html{ lang: session[:locale], prefix: "og: http://ogp.me/ns#" }
  -# video: http://ogp.me/ns/video#/
  %head
    = render 'shared/ads'
    %meta{ property: "fb:admins", content: "1646785799" }
    %meta{ property: "og:site_name", content: "Zona Radical" }
    %link{ rel: "shortcut icon", href: "http://zonaradical.com.br/images/favicon.gif" }

    - if content_for? :for_head
      = yield :for_head
    - else
      %title
        =t('metas.title')
      %meta{ name: "description",
        content: t('metas.descr')}
      %meta{ name: "keywords",
        content: t('metas.keyw')}
      %meta{:itemprop=>"keywords", :content => t('metas.keyw')}
      %meta{ property: "og:description", content: t('metas.descr') }
      %meta{ property: "og:title", content: t('metas.title')}
      %meta{ property: "og:url", content: request.original_url}
      %meta{ property: "og:image", content: "http://zonaradical.com.br/images/slide-1.jpg" }
      %meta{ property: "og:type", content: "website" }

    - if mobile_device?
      %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" }
      %meta{ name: "format-detection", content: "telephone=no" }


    /[if lt IE 9]
      %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" }

    -#link{ href: "http://#{request.host}#{request.fullpath}", hreflang: 'pt-br', rel: "alternate"}
    - non_locale_webs.each do |loc,web|
      %link{ href: web+request.path, hreflang: loc, rel: "alternate"}


  %body
    - if !mobile_device?
      .fb-root
      = render 'layouts/header'
      - if content_for? :top_section
        %section.top-section
          = content_for :top_section
      %section.content
        = yield

        - if content_for? :aside
          %aside
            -#= render 'shared/aside/aside_tags'
            = content_for :aside
          .clear
        %p.inv
          %a.inv{ href: "https://plus.google.com/113457398355662495397", rel: "publisher" } Google+
          Editor:
          %span{ itemprop: "editor" }
            Ignat Fialkovskiy
          , founder of
          %span{ itemprop: "copyrightHolder" }
            ZonaRadical.com.br
      = render 'layouts/footer'

      %a.to-top{ href: "#" }
      = render 'layouts/analytics'
      = Gon::Base.render_data
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
      = csrf_meta_tags
    - elsif content_for? :for_mobile
      .fb-root
      = yield :for_mobile
      .container
        =render 'shared/newest_blog_xs'
        = render 'shared/ads_nut_1'
      = render 'layouts/footer_xs'
      = render 'shared/menu/menu_xs'
      -# %a.to-top{:href => "#"}

      = render 'layouts/analytics'
      =render 'shared/social_sharing'

      = Gon::Base.render_data
      = javascript_include_tag 'aka_adap/jquery-2.2.3.min.js', 'data-turbolinks-track' => true
      = javascript_include_tag 'aka_adap/slick.js', 'data-turbolinks-track' => true
      = javascript_include_tag 'aka_adap/scripts.js', 'data-turbolinks-track' => true
      = javascript_include_tag 'aka_adap/po-st', 'data-turbolinks-track' => true
      = stylesheet_link_tag    'aka_adap', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=latin,cyrillic', media: 'all', 'data-turbolinks-track' => true
    - else
      = stylesheet_link_tag    'application_mobile', media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
      = csrf_meta_tags
      .fb-root
      = render 'layouts/header_mobile'
      - if content_for? :top_section
        %section.top-section= content_for :top_section
      %section.content
        = yield

      = render 'layouts/analytics'
      %a.to-top{ href: "#" }
      = Gon::Base.render_data
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = javascript_include_tag params[:controller], 'data-turbolinks-track' => true


