#signIn{ :title => t('signIn') }
  = form_for(User.new, url: session_path(:user),      |
    html:{id: 'sign_in_user', :'data-type' => 'json'}, |
    remote: true) do |f|                               |
    = f.email_field :email, :placeholder => 'email'
    %p
    = f.password_field :password, :placeholder => 'password'
    %p
    - if Devise.mappings[:user].rememberable?
      %label.checkbox
        = f.check_box :remember_me
        \
        =t('rememberMe')
    %p
    = f.submit "Sign in", :class => "btn btn-success"
    %br/
    = link_to t('forgotPsw'), new_password_path('user'), :class => 'login-link'
    %br/
    = link_to t('noConfirm'), new_confirmation_path('user'), :class => 'login-link'
  .modal-footer
