.border-form-div
  %h1 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, :autofocus => true, :placeholder => 'email'
    = f.password_field :password, :placeholder => 'password'
    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        \ Remember_me
    = f.submit "Sign in", :class => "btn btn-success"
  = render "devise/shared/links"
