<section class="content">
  <h1><%=t('forgotPsw') %></h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.submit t('sendMe') %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
