= form_for [:manage, @tour], html: { style: 'padding-top: 0px;' } do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} proibiu salvar essa trip:"
      %ul
        - @tour.errors.full_messages.each do |msg|
          %li= msg
  %table{:style=>"width: 100%;"}
    %tr
      %td
        .field.bigger
          = f.label :title, "* "+t('titleSh')
          = f.text_field :title, data: { url: slug_manage_tours_path }
          .sml
            Campo obrigatorio, 15 simbolos minimo.
        /- if current_user.admin?
        /  .field{:style => "display: inline-block;"}
        /    = f.label :slug
        /    = f.text_field :slug

        .field.bigger
          = f.label :resort_category_ids,"* País(es)"
          = f.select :resort_category_ids, grouped_options_for_select(ResortCategory.allowed_countries_grouped, @tour.resort_category_ids),{},{multiple: true, style: 'width: 226px;' }

        .field.bigger
          = f.label :resort_ids
          = f.grouped_collection_select :resort_ids, ResortCategory.allowed_countries, :resorts, :name, :id, :name, { include_blank: true }, multiple: true, style: 'width: 226px;', data: { placeholder: 'Selecione um país' }
    %tr
      %td
        .field.bigger
          = f.label :duration, t('duration')
          = f.number_field :duration, style: 'width: 86px;'
          dias
        .field.bigger
          = f.label :check_in, "* "+t('check_in')
          = select_day tour_day(@tour), field_name: 'check_in_d', prefix: 'tour'
          = select_month tour_month(@tour), field_name: 'check_in_m', prefix: 'tour'
          = select_year tour_year(@tour), field_name: 'check_in_y', prefix: 'tour'

        .sml
          %i
            Caso não saiba ainda o dia certo do início da sua trip, basta escolher o mês e o ano.
            Mês e ano são campos obrigatórios.
    - if Settings.vamoj_easy
      = f.hidden_field :tour_style_id, :value => 3
    - else
      %tr
        %td
          .field.smaller
            = f.label :tour_style_id, t('tourStyle')
            = f.collection_select(:tour_style_id, TourStyle.all, :id, :name)
          .field.smaller
            = f.label :accommodation_id, t('accommodation')
            = f.collection_select(:accommodation_id, Accommodation.all, :id, :name, {:prompt => t('selectAccommodation')})
          .field.smaller
            = f.label :price, t('price')
            = f.text_field :price
            %p
              %i
                Já tem uma avaliação preliminar do seu orçamento diário? Coloca aqui!
    %tr
      %td
        .field
          = f.label :description, "* "+t('description'), style: 'margin-top: 0px;'
          = f.text_area :description, :class => 'froala', :style => "width: 100%;", :rows => 20, :cols => ""
          .sml
            Campo obrigatório.
        .clear
        %p{:style => "margin-top 30px; text-transform: uppercase;font-size: 18px;"}

  %p{:style => "margin-top 30px; text-transform: uppercase;font-size: 18px;"}
    %b
      Galeria
  %i{:style => "margin-bottom 30px;"}
    Algumas fotos da casa onde vai ficar? ou da sua trip anterior? Ajudará na procura do seu parceiro.
  %ul
  -unless @tour.gallery_images.all.count.zero?
    -@tour.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
        = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
        = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order',size: 4}
  .field
    = f.label :add_gallery_images, class: 'inline', style: 'margin-top: 0px;'
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions.inline
    = f.submit t('Save'), :class => 'btn-success'
    %br
    - if current_user.admin?
      = f.label :published
      = f.check_box :published
