.heading{ style: 'margin-bottom: 0;' }
  %h1 Editar trip

= render 'form'

= link_to t('Show'), @tour
\|
= link_to t('Back'), tours_path

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Vamo Junto", :header_url => main_app.tours_path

  .heading{ style: 'margin-bottom: 0;' }
    %h1
      Editar Recado
      =@tour.title

  = render 'form'

  = link_to t('Show'), @tour
  \|
  = link_to t('Back'), tours_path
