.heading{ style: 'margin-bottom: 0;' }
  %h1 Novo recado

= render 'form'

= link_to t('Back'), tours_path

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Vamo Junto", :header_url => main_app.tours_path

  .container
    .one
      .heading
        %h1 Novo recado

      = render 'form_xs'

      = link_to t('Back'), tours_path
