.main-content
  -content_for :for_head do
    -# general METAS
    %title #{@tour.title} | Vamo Junto com Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@tour.description.to_s)}
    %link{href: main_app.tours_url+"/"+@tour.id.to_s, rel: "canonical"}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@tour.description.to_s)}
    %meta{:property=>"og:title", :content => "Vamo Junto: " +@tour.title}
    %meta{:property=>"og:url", :content => main_app.tours_url+"/"+@tour.id.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/vamo_junto_1.png"}
    - if !@tour.gallery_images.all.count.zero?
      -@tour.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}

    %meta{:itemprop=>"url", :content => main_app.tours_url+"/"+@tour.id.to_s}

  .heading
    %h1
      =@tour.title
    = render 'shared/social_sharing', url: show_tour_tours_path(country_or_resort(@tour), @tour), style: 'float: right;'
  = render 'tours/show'

  -if !@tour.published
    %p
      %b Este trip nao foi publicado, por favor entre em contato com o Moderador, info(a)zonaradical.com.br

  .clear

  - if can? :manage, @tour
    = link_to 'Edit', edit_manage_tour_path(@tour)
    \|
  = link_to 'Back', manage_tours_path

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      -# =render 'shared/aside/aside_tip_category', :tip_category => nil
      -# =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
    .clear

- if @tour.updated_at > 15.seconds.ago
  #shareTour{:title => t('share')}
    %p Deseja compartilhar seu trip?
    = render 'shared/social_sharing', url: show_tour_tours_path(country_or_resort(@tour), @tour), style: 'float: right;'
    .modal-footer
