%a.article.hidden-sm{:href => blog_xs}
  .article--image-big
    %img{:alt => "", :src => blog_xs.image_url(:extra_big_thumb), :itemprop => "image"}/
  .article--inner
    .article--title
      =blog_xs.title
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => blog_xs.title, :src => blog_xs.image_url(:big_thumb), :itemprop => "image"}/
    .article--info
      .article--title
        =blog_xs.title
      -unless blog_xs.user.nil?
        .article--user
          = link_to blog_xs.user.name+" "+blog_xs.user.surname, user_path(blog_xs.user), :target=>"_blank"
    .article--text
      =blog_xs.content[0..150].html_safe
      =link_to t('readMore'), blog_xs
    .article--tools.visible-sm.clearfix

      - unless blog_xs.tag_list.empty?
        .article--tags.left
          %span.bold
            Marcações:
          %span
            = tag_list_linked(blog_xs.tag_list)

      .article--category.right
        -#=link_to blog_xs.tip_category.name, show_tip_category_path(blog_xs.tip_category)
