%li
  =link_to image_tag(blog.image_url(:big_thumb).to_s, itemprop: "image"), blog, :class => 'img-wrap'
  .details
    %p.name
      =link_to blog.title, blog
    %p
      =blog.content[0..150].html_safe
    =link_to t('readMore'), blog

  -if can? :blog, :update
    = link_to 'Edit', edit_blog_path(blog)
  -if can? :blog, :delete
    = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
  .clear
