= form_for(@blog, html: { multipart: true, class: 'admin-form' }) do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg
  -#- if !@blog.new_record? && current_user.admin?
  .actions
    = f.submit 'Save'
  .field
    = f.label :user
    -# = f.select :author_id, User.all.collect { |user| [user.name, user.id] }
    = f.select :user_id, User.all.joins(:roles).where(roles: { name: 'editor' }).order(name: :asc).collect { |user| [user.name + " " + user.surname, user.id] }
  .field
    minimal image 368*210
    = image_tag @blog.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :title
    = f.text_field :title
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :content
    = f.text_area :content, class: 'froala', rows: 40, cols: 120
  .field
    = f.label :orig_date, "* orig date"
    = f.text_field :orig_date, value: @blog.orig_date.try(:strftime, '%d/%m/%Y')
  .field
    = f.label :orig_url, "* orig url"
    = f.text_field :orig_url, value: @blog.orig_url
  = render 'shared/image_gallery/form_tips', f: f, media: @blog
  .actions
    = f.submit 'Save'
