.main-content
  -content_for :for_head do
    -# general METAS
    %title= t('.title')
    %meta{:name => "description", :content => t('.description')}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  t('.title')}
    %meta{:property=>"og:description", :content =>  t('.description')}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      -#{:style=>'font: normal normal 20px / 19px "HelveticaNeueBold", Arial, Helvetica, sans-serif;'}
      Blogs
  .clear
  %p{:style=>'padding-bottom: 16px;'}
    =t('.intro')


  -User.editors.each do |us|
    -if us.blogs.count>0
      .heading
        -#h1
        Blog
        =des(us)
        =us.name
        = link_to t('allBlogs') + ' ' +us.name, us, class: :all
      %ul.stations-list
        =render partial: "blogs/blog", collection: us.blogs.order(orig_date: :desc)[0..2]
        -#= will_paginate @blogs,:previous_label => '<<',:next_label => '>>', :inner_window => 1

  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
    -#=render 'shared/aside/aside_resort_gallery'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      -#=render 'layouts/list_filters_xs', :header_txt => "Todas Dicas"

      .article
        .article--inner
          .article--desc
            =t('.intro')

      = render partial: "blogs/blog_xs", collection: @blogs
      = will_paginate @blogs
      -# ToDo pagination style

      =render 'shared/advert_xs'
