.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    -# general METAS
    %title #{@blog.title} | Blogs de Snowboard | ZR
    %meta{:name => "description", :content =>  @blog.content[0..60].to_s}
    %meta{ name: "keywords",
      content: @blog.tag_list.to_s+", snowboard, snowboarding, Brasil, Brazil, prancha, roupas de snowboard, equipamento de snowboard, praticar snowboard, aprender snowboard, equipamento" }

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:description", :content =>  @blog.content[0..60].to_s}
    %meta{:property=>"og:title", :content => @blog.title+" | Blogs ZR"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @blog.image_url(:original).to_s}
    -# -unless @blog.gallery_images.all.count.zero?
    -#  -@blog.gallery_images[0..3].each do |image|
    -#    %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>@blog.user.name+' '+@blog.user.surname+" | Zona Radical"}
    %meta{:itemprop=>"description", :content => @blog.content[0..60].to_s}
    %meta{:itemprop=>"keywords", :content => @blog.tag_list.to_s+', snowboard, snowboarding, Brasil, Brazil, prancha, roupas de snowboard, equipamento de snowboard, praticar snowboard, aprender snowboard, equipamento'}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"image", :content=> @blog.image_url(:original).to_s}
    -unless @blog.gallery_images.all.count.zero?
      -@blog.gallery_images[0..3].each do |image|
        %meta{:property=> "image", :content=> image.image_url(:slider).to_s}
  .heading
    %h1
      %span{:itemprop=>"articleSection"}
        Blogs
        =': '
        =@blog.user.name
      -#\:
      -#span{:itemprop=>"about"}
      -#  = link_to @blog.blog_category.name, show_blog_category_path(@blog.blog_category)
  %article
    =image_tag(@blog.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
    %h2{:itemprop=>"headline"}
      =@blog.title
    %i.extra-info
      =t('.by')
      =link_to @blog.user.name+' '+@blog.user.surname, @blog.user
      %br
      -unless @blog.orig_url.to_s.empty?
        =t('.OrPub')
        =link_to URI(@blog.orig_url).host, @blog.orig_url, :rel => 'nofollow', :target=> "_blank"
      - if @blog.orig_date.to_s.empty?
        =distance_of_time_in_words_to_now @blog.created_at
      -else
        =distance_of_time_in_words_to_now @blog.orig_date


      = t('ago')
      - unless @blog.tag_list.empty?
        %br
        = 'Marcações: '
        = tag_list_linked(@blog.tag_list)
    %p
      =@blog.content.html_safe

    -unless @blog.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @blog.gallery_images.all

  .heading{:style=>"margin-top: 20 px;"}
    %h1
      %span{:itemprop=>"articleSection"}
        =t('.author')
  %article
    %table
      %tr
        %td{:width=>'25%'}
          =avatar_img(@blog.user)
        %td{:width=>'75%'}
          %h2{:itemprop=>"headline"}
            =link_to @blog.user.name+' '+@blog.user.surname,@blog.user, :target => "_blank"
          %i.extra-info
            =@blog.user.bio[0..300].html_safe unless !@blog.user.bio.present?
            =link_to t('readMore'), @blog.user



    = render 'shared/social_sharing', style: 'float: left; margin-top: 40px;'
    .clear
    - if can? :blog, :update
      = link_to t('edit'), edit_blog_path(@blog)
      |
      \#{link_to 'Back', blogs_path}
    - else
      %p== Faça #{link_to 'login', new_user_session_path} para poder editar.
-# end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_social_buttons'
    -#=render 'shared/aside/aside_resort_gallery'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{@blog.image_url(:big_thumb)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag @blog.image_url(:big_thumb)
          -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @blog.title
        .one--info-date
          %i
          %span
            -unless @blog.orig_url.to_s.empty?
              =t('originally publised at')
              =link_to @blog.title[0..15], @blog.orig_url
              =t('on')
            - if @blog.orig_date.to_s.empty?
              =@blog.created_at.strftime('%d/%m/%Y')
            -else
              =@blog.orig_date.strftime('%d/%m/%Y')
        -#= image_tag @blog.image_url(:big_thumb)
      .one--inner
        -unless @blog.user.nil?
          .one--inner-avatar
            =image_tag @blog.user.avatar_url(:ava)
            -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100"}/
          .one--inner-name.visible-sm
            =@blog.user.name
            =@blog.user.surname
        .tabs
          .tabs--boxes
            .tabs--box.shown{"data-id" => "b1"}
              -#=image_tag(@blog.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
              %div
                %p
                  =@blog.content.html_safe

        .article--tools.clearfix
          - unless @blog.tag_list.empty?
            .article--tags.left
              %span.bold
                Marcações:
              = tag_list_linked(@blog.tag_list)
          .article--category.right
            -#a{:href => show_blog_category_path(@blog.blog_category)} #{@blog.blog_category.name} - Category

      -unless @blog.user.nil?
        =render 'shared/author_xs', author: @blog.user

      -#.trips
      -#  %a{:href => "#"} Crirar Trip
      -#  %a{:href => "#"} Todos Trip
      -#  %a{:href => "#"} Crirar Trip
      -#  %a{:href => "#"} Todos Trip

      -#=render 'shared/comments_xs', { comment_discourse: @blog, form_path: comment_blog_path, commentable_show_path: show_blog_path(@blog.blog_category, @blog) }
      -#=render 'shared/related_mat_xs'

      =render 'shared/advert_xs'
