= form_for @resort_category do |f|
  - if @resort_category.errors.any?
    #error_explanation
      %h1= "#{pluralize(@resort_category.errors.count, "error")} prohibited this resort_category from being saved:"
      %ul
        - @resort_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, data: { url: slug_resort_categories_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :discourse_category
    = f.select :discourse_category, ResortCategory.discourse_categories.keys.to_a, include_blank: '-'
  .field
    = f.label :parent_id, t('parent')
    =# f.collection_select(:parent_id, ResortCategory.all,:id, :name,{:prompt => t('selectParent')})
    = f.select :parent_id, nested_dropdown(ResortCategory.all.arrange), include_blank: t('selectParent')
  .field
    = f.label :description
    = f.text_area :description, class: 'froala', rows: 40, cols: 120
  .field
    = image_tag @resort_category.image_url(:thumb_1200_630).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image

  .actions
    = f.submit 'Save'
