%p#notice= notice
.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    -# general METAS
    %title  #{@resort_category.name} | Todas #{@resort_category.resorts_size_with_children} estações de Ski e Snowboard | Zona Radical }
    %meta{:name => "description", :content =>  strip_tags(@resort_category.description.to_s)}
    %meta{ name: "keywords",
      content: @resort_category.name.to_s+", snowboard, snowboarding, Brasil, Brazil, praticar snowboard, aprender snowboard, estações de ski, estações de esqui, guia das estações"}

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  "#{@resort_category.name} | Todas #{@resort_category.resorts_size_with_children} estações de Ski e Snowboard | Zona Radical"}
    %meta{:property=>"og:description", :content =>  strip_tags(@resort_category.description.to_s)}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -# @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> @resort_category.image_url(:thumb_1200_630).to_s}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"keywords",
      :content => @resort_category.name.to_s+", snowboard, snowboarding, Brasil, Brazil, praticar snowboard, aprender snowboard, estações de ski, estações de esqui, guia das estações"}

  .heading
    %h1
      - if @resort_category.parent
        = link_to @resort_category.parent.name, show_resort_category_path(@resort_category.parent)
        =": "+@resort_category.name
      - else
        = t('resorts') + ': ' + @resort_category.name

    %meta{:itemprop=>"name", :content => t('resorts') + ': ' + @resort_category.name + " | Zona Radical"}
    -#= render 'shared/social_sharing', style: 'float: right;'
  .introtext{:itemprop=>"description"}
    = @resort_category.description.html_safe unless @resort_category.description.nil?
  -if can? :update, @resort_category
    = link_to t('edit'), edit_resort_category_path(@resort_category)
  .clear
  %ul.stations-list
    =render @resorts
    = will_paginate @resorts,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @resort_category.children?
    -@resort_category.children.sort_by{|a| a.name}.each do |resort_category|
      -unless resort_category.resorts.empty?
        .heading
          %h1= "#{resort_category.name} (#{resort_category.resorts_size_with_children})"
          = link_to t('allResorts') + resort_category.name, show_resort_category_path(resort_category), class: :all
        .introtext
          -if !resort_category.description.nil?
            =truncate_html(resort_category.description, length: 203, omission: '...')
            -if resort_category.description.html_safe.length>200
              =link_to t('readMore'), show_resort_category_path(resort_category)
        -if can? :update, resort_category
          = link_to t('edit'), edit_resort_category_path(resort_category)
        .clear
        %ul.stations-list
          =render resort_category.resorts.sort_by{|a| a.name}[0..2]
          -if resort_category.resorts.size > 3
            %p.others= link_to t('otherResorts') + resort_category.name, show_resort_category_path(resort_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => @resort_category
    =render 'shared/aside/aside_advert'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear

-content_for :for_mobile do
  - if @resort_category.parent
    =render 'layouts/header_xs', :header_txt=> @resort_category.parent.name, :header_url => show_resort_category_path(@resort_category.parent)
  - else
    =render 'layouts/header_xs', :header_txt=> "Todas Estações", :header_url => main_app.resorts_path

  .container
    .articles
      -#=render 'layouts/list_filters_xs', :header_txt => @resort_category.name
      .articles--title.clearfix
        .articles--filter.left
          %a.articles--filter-btn{:href => "#"} Países
          .articles--filter-box
            %ul.articles--filter-list
              =filter_xs_resort_categories(ResortCategory.all.arrange)
        .news--item-title.right.clearfix
          .news--item-name.left
            =@resort_category.name
          %a.news--item-more.right.hidden-xs{:href => main_app.resorts_path} Todas Estações

      .article
        - unless @resort_category.description.nil?
          .article--inner
            .article--desc
              = @resort_category.description.html_safe

      = render partial: "resorts/resort_xs", collection: @all_resorts
      = will_paginate @all_resorts
      -# ToDo pagination style
      =render 'shared/advert_xs'
