= form_for [:manage, @offer] do |f|
  - if @offer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offer.errors.count, "error")} prohibited this offer from being saved:"
      %ul
        - @offer.errors.full_messages.each do |msg|
          %li= msg
  -#.field
  -#  = image_tag @offer.image_url(:thumb).to_s
  -#  = f.label :image
  -#  = f.file_field :image
  -#  = f.check_box :remove_image
  %table{:style=>"width: 100%;"}
    %tr
      %td
        .field
          = f.label :title, "* "+t('offerTitle')
          = f.text_field :title, data: { url: slug_manage_offers_path }
          %br
          %i
            Campo obrigatorio, 15 simbolos minimo.
        - if current_user.admin?
          .field
            = f.label :slug
            = f.text_field :slug
      %td
        .field
          = f.label :tour_style_id, "* "+t('tourStyle')
          = f.collection_select(:tour_style_id, TourStyle.all, :id, :name)
        %p.small
          -TourStyle.all.each do |t_style|
            %b
              = t_style.name.to_s+": "
            = t_style.description.to_s+"."
    %tr
      %td
        .field
          = f.label :resort_category_ids, "* País(es) de destino"
          = f.select :resort_category_ids, grouped_options_for_select(ResortCategory.allowed_countries_grouped,@offer.resort_category_ids),{},{multiple: true, style: 'width: 226px'}
          %br
          %i
            Campo obrigatorio.
      %td
        .field
          = f.label :resort_ids, "Estações de destino"
          = f.grouped_collection_select :resort_ids, ResortCategory.allowed_countries, :resorts, :name, :id, :name, { include_blank: true }, multiple: true, style: 'width: 226px', data: { placeholder: 'Selecione 1o um país' }
    %tr
      %td
        .field
          = f.label :hotel_name, "Nome de moradia"
          = f.text_field :hotel_name
      %td
        .field
          = f.label :accommodation_id, t('accommodation')
          = f.collection_select(:accommodation_id, Accommodation.all, :id, :name, {:prompt => t('selectAccommodation')})
          %p.small
            -Accommodation.all.each do |acco|
              %b
                = acco.name.to_s+": "
              = acco.description.to_s+"."
  .field
    = f.label :description, "* O que está incluido no seu pacote"
    = f.text_area :description, :class => 'froala', :rows => 40, :cols => 120
    %i
      Campo obrigatorio.
      %br
      Coloca aqui uma boa descrição do seu pacote.
  .clear
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  %div#tabs{:style=>"margin-top: 38px;"}
    %b Escolha o tipo da sua oferta:
    com data predifinida de entrada, ou valido durante um periodo flexivel
    %ul.levels
      %li
        %a{:href => '#tab_type_start_date'}
          %span=t('startDateType')
      %li
        %a{:href => '#tab_type_active_interval'}
          %span=t('activeIntervalType')
    %div{:id=>'tab_type_start_date',
         :data => {'offer-kind' => Offer::KIND_START_DATE},
         class:['tab-panel', ('activate' if @offer.kind_start_date?)]}
      %table
        %tr
          %td{:style=>"width: 80%;"}
            .field
              = f.label :check_in, "* "+t('check_in')
              = select_day tour_day(@offer), field_name: 'check_in_d', prefix: 'offer', prompt: 'Escolha um dia (opcional)'
              = select_month tour_month(@offer), field_name: 'check_in_m', prefix: 'offer'
              = select_year tour_year(@offer), field_name: 'check_in_y', prefix: 'offer'
              %p
                %i
                  Campos obrigatorios.
    %div{:id=>'tab_type_active_interval',
         data: {'offer-kind' => Offer::KIND_ACTIVE_INTERVAL},
         class:['tab-panel', ('activate' if @offer.kind_active_interval?)]}
      %table
        %tr
          %td{:style=>"width: 25%;"}
            .field
              = f.label :active_from, "* "+t('active_from')
              = f.text_field :active_from, value: @offer.active_from.try(:strftime, '%d/%m/%Y')
          %td
            .field
              = f.label :active_till, "* "+t('active_till')
              = f.text_field :active_till, value: @offer.active_till.try(:strftime, '%d/%m/%Y')
              %p
                %i
                  Campos obrigatorios.
    %td
      .field
        = f.label :duration,"* "+"Escolha a duração do seu pacote"
        = f.number_field :duration
        dias
        %p
          %i
            Campo obrigatorio.
  =f.hidden_field :kind
  %table
    %tr
      %td
        .field
          = f.label :price, "Preço de pacote por pessoa"
          = f.text_field :price
      %td
        .field
          = f.label :currency_id, t('currency')
          = f.collection_select(:currency_id, Currency.all, :id, :name, {:prompt => t('selectCurrency')})
      %td
        .field
          = f.label :air_included, "A passagem está inclusa?"
          = f.check_box :air_included

  - if can? :manage, @offer
    .field
      = f.label :published, "Publicar?"
      = f.check_box :published
    %p
      Pode deixar este pacote como rascunho, sem publicar-lo para usuarios do ZR.

  %p{:style => "margin-top 30px; text-transform: uppercase;font-size: 18px;"}

  %ul
    -unless @offer.gallery_images.all.count.zero?
      -@offer.gallery_images.all.each do |image|
        %li
          = image_tag image.image_url(:thumb).to_s
          = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'name'}
          = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url'}
          = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
          = check_box_tag "gallery_images[remove_image][#{image.id}]"
          = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order',size: 4}
  .field
    = f.label :add_gallery_images, "Algumas fotos da estação, ou de hotel? Adiciona aqui."
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  %p{:style => "margin-bottom 30px;"}


  .actions
    = f.submit 'Save'
