.main-content
  = form_tag manage_offers_path, id: 'show_passed_form', method: :get, enforce_utf8: false do
    Mostrar Trips passados
    = check_box_tag :show_passed, '1', params[:show_passed] == "1"

  .heading
    %h1 Pacotes publicados
  = render 'offers/offer', offers: @offers_published, offer_path_method: "manage_offer_path"
  - unless @offers_draft.empty?
    .heading
      %h1 Rascunhos
    = render 'offers/offer', offers: @offers_draft, offer_path_method: "manage_offer_path"

  = link_to t('newOffer'), new_manage_offer_path, class: "button"

  .clear

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_resort_gallery'
    .clear
