.main-content
  -content_for :for_head do
    -# general METAS
    %title #{@offer.title} | Pacotes de viagem | ZR
    %meta{:name => "description", :content =>  strip_tags(@offer.description.to_s)}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@offer.description.to_s)}
    %meta{:property=>"og:title", :content => "Pacote de Viagem: " +@offer.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -# %meta{:property=> "og:image", :content=> "images/vamo_junto.png"}
    -unless @offer.gallery_images.all.count.zero?
      -@offer.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
    -# schema.org METAS
    -# %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    -unless @offer.gallery_images.all.count.zero?
      -@offer.gallery_images[0..3].each do |image|
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      Offers:
      =@offer.title
    = render 'shared/social_sharing', url: show_offer_offers_path(country_or_resort(@offer), @offer), style: 'float: right;'
  = render 'offers/show'

  -if !@offer.published
    %p
      %b Este pacote não é publicado.

  .clear

  - if can? :manage, @offer
    = link_to 'Edit', edit_manage_offer_path(@offer)
    \|
  = link_to 'Back', manage_offers_path

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_social_buttons'
      -# =render 'shared/aside/aside_tip_category', :tip_category => nil
      -# =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_advert'
    .clear
