<section class="content">
    <div class="border-form-div">
      <div class="heading">
        <h1>Sign up</h1>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <table style="width:100%">
            <tr>
              <td style="width:100%">

                Email
                <%= f.email_field :email, :autofocus => true, :placeholder => 'Endereço email' %>
                Nome
                <%= f.text_field :name, :placeholder => 'Nome' %>
                Sobrenome
                <%= f.text_field :surname, :placeholder => 'Sobrenome' %>
                <br>
                <br>
                Sua Senha
                <%= f.password_field :password, :placeholder => 'Senha' %>
                Confirme a senha
                <%= f.password_field :password_confirmation, :placeholder => 'Confirme a senha' %>
              </td>
              <td style="vertical-align:middle">
                <%= f.submit "Sign up",:class=>'btn btn-primary' %>
              </td>
            </tr>
          </table>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
</section>
