%h3 Gallery
-unless media.gallery_images.all.count.zero?
  %div{ style: 'margin-bottom: 10px' }
    Tipo da descrição
    = select_tag("gallery_images[description_type]", options_for_select(GalleryImage.description_types.keys, selected: media.gallery_description_type), class: 'type_description')
  -media.gallery_images.all.each do |image|
    %table
      %tr
        %td
          Ordem
          %br
          = text_field_tag "gallery_images[order][#{image.id}]", image.order, {placeholder: 'order', class: "order"}
        -unless image.image_url.blank?
          %td
            = image_tag image.image_url(:thumb).to_s
          %td{ style: 'display: block; margin-left: 10px' }
            Deletar img?
            %br
            = check_box_tag "gallery_images[remove_img][#{image.id}]"
        %td
          = text_field_tag "gallery_images[name][#{image.id}]", image.name, {placeholder: 'Titulo'}
          = text_field_tag "gallery_images[url][#{image.id}]", image.url, {placeholder: 'url', style: "display: block;"}
        %td
          = image.image.blank? ? 'Add img?' : 'Substituir img?'
          %br
          = file_field '', "gallery_images[update_images][#{image.id}]"
        %td
          Deletar?
          %br
          = check_box_tag "gallery_images[remove_image][#{image.id}]"
    .field.gallery_desc
      = text_area_tag "gallery_images[description][#{image.id}]", image.description, { placeholder: 'Descricao',size: '30x5', class: ('froala' unless media.gallery_description_type == 'text_covers') }

= render 'shared/image_gallery/new_slide', media: media