%h3 Adicionar Slide
.field#new-slider
  .item
    %table
      %tr
        %td
          Ordem
          %br
          = text_field_tag "new_slide[][order]", '', {placeholder: 'order', class: "order"}
        %td
          = text_field_tag "new_slide[][name]", '', {placeholder: 'Titulo'}
          = text_field_tag "new_slide[][url]", '', {placeholder: 'url', style: "display: block;"}
        %td
          Add img?
          %br
          = file_field '', "new_slide[][image]"
    .field.gallery_desc
      = text_area_tag "new_slide[][description]", '', { placeholder: 'Descricao',size: '30x5', class: ('froala' unless media.gallery_description_type == 'text_covers') }

%button{ type: 'button', id: 'add-tip-slider', title: "Adicionar mais um slide" } +