-content_for :for_head do
  %title Amigos do Zona Radical
  %meta{:name => "description",
    :content => "A lista dos amigos do Zona Radical"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "Os links uteis para todo snowboarder e a lista dos amigos do Zona Radical"}
  %meta{:property=>"og:title", :content => "Os links uteis para todo snowboarder e a lista dos amigos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1 Amigos e links úteis
  .introtext
    %p
      Aqui vem a lista dos nosso amigos e alguns links úteis.
  .heading
    %h2 Links úteis
  %ol.links-list
    %li
      %p.title
        Da Roma até o Rio
      %i.date
        %b
          =link_to "www.rome2rio.com","http://www.rome2rio.com/pt/",:target => 'blank'
      %p
        Um serviço muito útil caso você está viajando de mochileiro,
        ajuda encontrar o melhor trajeto entre dois lugares no mundo usando transporte público.
    %li
      %p.title
        Go Euro
      %i.date
        %b
          =link_to "www.goeuro.com","http://www.goeuro.com/",:target => 'blank'
      %p
        Mais um serviço para viajar de transporte público, desta vez dedicado completamente
        aos caminhos da Europa.
    %li
      %p.title
        Para comprar passagens de onibus no Chile e Argentina
      %i.date
        %b
          =link_to "www.plataforma10.com","http://www.plataforma10.com/ar/pt",:target => 'blank'
          ,
          =link_to "www.recorrido.cl","http://www.recorrido.cl/es",:target => 'blank'
          ,
          =link_to "www.ticketonline.com.ar","http://www.ticketonline.com.ar/home",:target => 'blank'
      %p
        Alguns  sites para procurar e comprar on-line as passagens de onibus.

  .heading
    %h2 Blogs Turísticos e Radicais
  %ol.links-list
    %li
      %p.title
        Viajando Sem Medo
      %i.date
        %b
          =link_to "www.viajandosemmedo.com","http://www.viajandosemmedo.com/",:target => 'blank'
      %p
        As dicas para quem quer viajar sem medo!
    %li
      %p.title
        Encontro Dos Radicais
      %i.date
        %b
          =link_to "encontrodosradicais.blogspot.com.br ","http://encontrodosradicais.blogspot.com.br/",:target => 'blank'
      %p
        Um blog historico juntando todo tipo de informação sobre os esportes radicais.
    %li
      %p.title
        Ordinary People Adventures
      %i.date
        %b
          =link_to "www.ordinarypeopleadventures.com","http://www.ordinarypeopleadventures.com/",:target => 'blank'
      %p
        Canal sobre viagens de aventuras de pessoas comuns.
    %li
      %p.title
        Blog de Esqui
      %i.date
        %b
          =link_to "esquieneve.com","http://esquieneve.com/",:target => 'blank'
      %p
        Notícias e novidades das estações de esqui e snowboard no blog do Cláudio Campos.
    %li
      %p.title
        Uma pitada de Mundo
      %i.date
        %b
          =link_to "umapitadademundo.com.br","http://umapitadademundo.com.br/",:target => 'blank'
      %p
        O blog reunindo as histórias pelo mundo e aventuras gastronômicas de um casal que adora cozinhar e viajar.
    %li
      %p.title
        GetOutside
      %i.date
        %b
          =link_to "GetOutside","http://getoutside.com.br/",:target => 'blank'
      %p
        O blog do nosso grande amigo Alessandro De Franceschi reunindo muitas dicas de viagem cómoda e segura.


  .heading
    %h2 Sociedades sob a prancha
  %ol.links-list
    %li
      %p.title
        Movimento BMF
      %i.date
        %b
          WWW:
          =link_to "bmfmovement.com","http://bmfmovement.com/",:target => 'blank'
          IN:
          =link_to "instagram.com/bmfmovement","http://instagram.com/bmfmovement",:target => 'blank'
          FB:
          =link_to "BMF crew","https://www.facebook.com/BMFmovement",:target => 'blank'
      %p
        Movimento internacional dos esportes radicas, primeiramente sob a prancha. Precursores do Freebord no Brasil.
    %li
      %p.title
        Board Girls
      %i.date
        %b
          =link_to "www.girlsonboard.com.br","http://www.girlsonboard.com.br/",:target => 'blank'
      %p
        Um blog das meninas sob a prancha, como o título sugere.
    %li
      %p.title
        Freebord Brasil
      %i.date
        %b
          =link_to "www.facebook.com/freebord.brasil","https://www.facebook.com/freebord.brasil",:target => 'blank'
      %p
        A comunadade sobre seis rodas.
    %li
      %p.title
        Caipirinha Snowboard
      %i.date
        %b
          =link_to "www.facebook.com/caipirinhasnowboard","https://www.facebook.com/caipirinhasnowboard",:target => 'blank'
      %p
        Uma comunidade dedicada a Freestyle Snowboarding, produção e divulgação de videos e fotos.
    %li
      %p.title
        Team 4i20
      %i.date
        %b
          WWW:
          =link_to "4i20.com.br","http://4i20.com.br/",:target => 'blank'
          FB:
          =link_to "4i20 Team","https://www.facebook.com/pages/4i20-Team/303878299626536",:target => 'blank'

      %p
        Um time de riders com objetivo a incentivar e propagar os “boardsports” no Brasil e no mundo
        e integrar todos os esportes com prancha e seus praticantes.
    %li
      %p.title
        Freeride-Sudamerica
      %i.date
        %b
          WWW:
          =link_to "www.freeridesudamerica.com","http://www.freeridesudamerica.com/",:target => 'blank'
          FB:
          =link_to "Freeride-Sudamerica","https://www.facebook.com/Freeride-Sudamerica-1663457417268798",:target => 'blank'

      %p
        Os representantes oficias de Freeride World Tou em America deo Sul.
  .heading
  .introtext
    %p
      Quer aparecer aqui? É só escrever pra gente
      =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br",:target => 'blank'

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil
  .container

    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Amigos e Links Uteis"

      .article
        .article--inner
          .article--desc
            Aqui vem a lista dos nosso amigos e alguns links úteis.
            Quer aparecer aqui? É só escrever pra gente
            =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br",:target => 'blank'

    .heading
      %h2 Links úteis
    %ol.links-list
      %li
        %p.title
          Da Roma até o Rio
        %i.date
          %b
            =link_to "www.rome2rio.com","http://www.rome2rio.com/pt/",:target => 'blank'
        %p
          Um serviço muito útil caso você está viajando de mochileiro,
          ajuda encontrar o melhor trajeto entre dois lugares no mundo usando transporte público.
      %li
        %p.title
          Go Euro
        %i.date
          %b
            =link_to "www.goeuro.com","http://www.goeuro.com/",:target => 'blank'
        %p
          Mais um serviço para viajar de transporte público, desta vez dedicado completamente
          aos caminhos da Europa.
      %li
        %p.title
          Para comprar passagens de onibus no Chile e Argentina
        %i.date
          %b
            =link_to "www.plataforma10.com","http://www.plataforma10.com/ar/pt",:target => 'blank'
            ,
            =link_to "www.recorrido.cl","http://www.recorrido.cl/es",:target => 'blank'
            ,
            =link_to "www.ticketonline.com.ar","http://www.ticketonline.com.ar/home",:target => 'blank'
        %p
          Alguns  sites para procurar e comprar on-line as passagens de onibus.

    .heading
      %h2 Blogs Turísticos e Radicais
    %ol.links-list
      %li
        %p.title
          Viajando Sem Medo
        %i.date
          %b
            =link_to "www.viajandosemmedo.com","http://www.viajandosemmedo.com/",:target => 'blank'
        %p
          As dicas para quem quer viajar sem medo!
      %li
        %p.title
          Encontro Dos Radicais
        %i.date
          %b
            =link_to "encontrodosradicais.blogspot.com.br ","http://encontrodosradicais.blogspot.com.br/",:target => 'blank'
        %p
          Um blog historico juntando todo tipo de informação sobre os esportes radicais.
      %li
        %p.title
          Ordinary People Adventures
        %i.date
          %b
            =link_to "www.ordinarypeopleadventures.com","http://www.ordinarypeopleadventures.com/",:target => 'blank'
        %p
          Canal sobre viagens de aventuras de pessoas comuns.
      %li
        %p.title
          Blog de Esqui
        %i.date
          %b
            =link_to "esquieneve.com","http://esquieneve.com/",:target => 'blank'
        %p
          Notícias e novidades das estações de esqui e snowboard no blog do Cláudio Campos.
      %li
        %p.title
          Uma pitada de Mundo
        %i.date
          %b
            =link_to "umapitadademundo.com.br","http://umapitadademundo.com.br/",:target => 'blank'
        %p
          O blog reunindo as histórias pelo mundo e aventuras gastronômicas de um casal que adora cozinhar e viajar.
      %li
        %p.title
          GetOutside
        %i.date
          %b
            =link_to "GetOutside","http://getoutside.com.br/",:target => 'blank'
        %p
          O blog do nosso grande amigo Alessandro De Franceschi reunindo muitas dicas de viagem cómoda e segura.


    .heading
      %h2 Sociedades sob a prancha
    %ol.links-list
      %li
        %p.title
          Movimento BMF
        %i.date
          %b
            WWW:
            =link_to "bmfmovement.com","http://bmfmovement.com/",:target => 'blank'
            IN:
            =link_to "instagram.com/bmfmovement","http://instagram.com/bmfmovement",:target => 'blank'
            FB:
            =link_to "BMF crew","https://www.facebook.com/BMFmovement",:target => 'blank'
        %p
          Movimento internacional dos esportes radicas, primeiramente sob a prancha. Precursores do Freebord no Brasil.
      %li
        %p.title
          Board Girls
        %i.date
          %b
            =link_to "www.girlsonboard.com.br","http://www.girlsonboard.com.br/",:target => 'blank'
        %p
          Um blog das meninas sob a prancha, como o título sugere.
      %li
        %p.title
          Freebord Brasil
        %i.date
          %b
            =link_to "www.facebook.com/freebord.brasil","https://www.facebook.com/freebord.brasil",:target => 'blank'
        %p
          A comunadade sobre seis rodas.
      %li
        %p.title
          Caipirinha Snowboard
        %i.date
          %b
            =link_to "www.facebook.com/caipirinhasnowboard","https://www.facebook.com/caipirinhasnowboard",:target => 'blank'
        %p
          Uma comunidade dedicada a Freestyle Snowboarding, produção e divulgação de videos e fotos.
      %li
        %p.title
          Team 4i20
        %i.date
          %b
            WWW:
            =link_to "4i20.com.br","http://4i20.com.br/",:target => 'blank'
            FB:
            =link_to "4i20 Team","https://www.facebook.com/pages/4i20-Team/303878299626536",:target => 'blank'

        %p
          Um time de riders com objetivo a incentivar e propagar os “boardsports” no Brasil e no mundo
          e integrar todos os esportes com prancha e seus praticantes.
      %li
        %p.title
          Freeride-Sudamerica
        %i.date
          %b
            WWW:
            =link_to "www.freeridesudamerica.com","http://www.freeridesudamerica.com/",:target => 'blank'
            FB:
            =link_to "Freeride-Sudamerica","https://www.facebook.com/Freeride-Sudamerica-1663457417268798",:target => 'blank'

        %p
          Os representantes oficias de Freeride World Tou em America deo Sul.

    =render 'shared/advert_xs'
