-content_for :for_head do
  %title A Galera e Contatos do Zona Radical
  %meta{:name => "description",
    :content => "A historia curta do Zona Radical"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "A historia curta e contatos do Zona Radical"}
  %meta{:property=>"og:title", :content => "A Galera e Contatos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1 Galera ZR
  .introtext
    %p
      A ideia deste site nasceu a partir de um papo entre um brasileiro e um russo que se conheceram nas pistas do Chile.
      O primeiro, em busca de se tornar um snowbordista, sempre atrás de desafios e novas técnicas no esporte. O
      outro, russo de nascimento, brasileiro de coração e radical por natureza.
      Aqui, os dois reuniram profissionais para a parte técnica de criação do site, e claro, diversos riders e snowbordistas experts no assunto.
    %p
      Nós não vendemos nada em nosso site. Tentamos juntar o maior número possível de informações diferentes sobre a prática do snowboarding,
      estações ao redor do mundo, organizações, eventos, atletas, entre muitos outros assuntos relacionados ao esporte.
      Além disso, estamos colaborando com a maioria dos eventos de snowboard no Brasil. Somos o canal web oficial do
      %a{:href => "http://zonaradical.com.br/dicas-de-snowboard/eventos/zona-radical-cbdn", :target=>'blank'} Campeonato Brasileiro
      organizado pela CBDN, e o parceiro de mídia da série dos eventos do
      %a{:href => "http://zonaradical.com.br/dicas-de-snowboard/eventos/2-amador-snowboard-festival-relatorio", :target=>'blank'} Amador Snowboard Festival
      do Ski Mountain Park.
    %p
      E não pense que este site será algo fixo e monótono. Nós estamos evoluindo a cada dia, e sobretudo, abertos a sugestões, comentários e propostas.
  .heading
    %h1
      Contatos
  %p
    Procuramos colaboração em todas as áreas conectadas a snowboarding, e a criação e desenvolvimento do site.
    Por favor, pode nos escrever com qualquer ideia louca, que juntos tentaremos realizá-la!
  %p
    %b Questões gerais:
    %a{:href => "mailto:info@zonaradical.com.br", :target=>'blank'} info(a)zonaradical.com.br
  %p
    %b Divulgação e marketing:
    Caio,
    %a{:href => "mailto:caio@zonaradical.com.br", :target=>'blank'} caio(a)zonaradical.com.br
  %p
    %b Programação/questões tecnicas:
    Nikita,
    %a{:href => "mailto:nzonov@gmail.com", :target=>'blank'} nzonov(a)gmail.com
  %p
    %b Colaboração:
    Ignat,
    %a{:href => "mailto:ifialk@gmail.com", :target=>'blank'} ifialk@gmail.com

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      .articles--title.clearfix
        .news--item-title.right.clearfix
          .news--item-name.left
            Galera ZR

      .article
        .article--inner
          .article--desc
            %p
              A ideia deste site nasceu a partir de um papo entre um brasileiro e um russo que se conheceram nas pistas do Chile.
              O primeiro, em busca de se tornar um snowbordista, sempre atrás de desafios e novas técnicas no esporte. O
              outro, russo de nascimento, brasileiro de coração e radical por natureza.
              Aqui, os dois reuniram profissionais para a parte técnica de criação do site, e claro, diversos riders e snowbordistas experts no assunto.
            %p
              Nós não vendemos nada em nosso site. Tentamos juntar o maior número possível de informações diferentes sobre a prática do snowboarding,
              estações ao redor do mundo, organizações, eventos, atletas, entre muitos outros assuntos relacionados ao esporte.
              Além disso, estamos colaborando com a maioria dos eventos de snowboard no Brasil. Somos o canal web oficial do
              %a{:href => "http://zonaradical.com.br/dicas-de-snowboard/eventos/zona-radical-cbdn", :target=>'blank'} Campeonato Brasileiro
              organizado pela CBDN, e o parceiro de mídia da série dos eventos do
              %a{:href => "http://zonaradical.com.br/dicas-de-snowboard/eventos/2-amador-snowboard-festival-relatorio", :target=>'blank'} Amador Snowboard Festival
              do Ski Mountain Park.
            %p
              E não pense que este site será algo fixo e monótono. Nós estamos evoluindo a cada dia, e sobretudo, abertos a sugestões, comentários e propostas.
      .articles--title.clearfix
        .news--item-title.right.clearfix
          .news--item-name.left
            Contatos
      .article
        .article--inner
          .article--desc
            %p
              Procuramos colaboração em todas as áreas conectadas a snowboarding, e a criação e desenvolvimento do site.
              Por favor, pode nos escrever com qualquer ideia louca, que juntos tentaremos realizá-la!
            %p
              %b Questões gerais:
              %a{:href => "mailto:info@zonaradical.com.br", :target=>'blank'} info(a)zonaradical.com.br
            %p
              %b Divulgação e marketing:
              Caio,
              %a{:href => "mailto:caio@zonaradical.com.br", :target=>'blank'} caio(a)zonaradical.com.br
            %p
              %b Programação/questões tecnicas:
              Nikita,
              %a{:href => "mailto:nzonov@gmail.com", :target=>'blank'} nzonov(a)gmail.com
            %p
              %b Colaboração:
              Ignat,
              %a{:href => "mailto:ifialk@gmail.com", :target=>'blank'} ifialk@gmail.com

    =render 'shared/advert_xs'
