- content_for :for_head do
  %title Zona Radical | Snowboard: como aprender, praticar e apreciar
  %meta{:name => "description",
    :content => "Morando no Brasil junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "Morando no Brasil junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
  %meta{:property=>"og:title", :content => "Zona Radical | Snowboard: como aprender, praticar e apreciar"}
  %meta{:property=>"og:url", :content => "http://zonaradical.com.br"}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"website"}
  -# Schema ORg

- content_for :top_section do
  .slider-field{:itemscope => true, :itemtype => "http://schema.org/WebSite"}
    -# Index is the only page which does not start with .main-content
    %meta{:itemprop=>"keywords", :content => "snowboard, snowboarding, Brasil, Brazil, ski, prancha, montanha, escola de snowboard, praticar snowboard, aprender snowboard, estações de ski, tudo sobre equipo, Alpes"}
    %meta{:itemprop=>"about", :content => "Como pratricar snowboard morando no Brasil"}
    %meta{:itemprop=>"contentLocation", :content => "São Paulo, Brasil"}
    %meta{:itemprop=>"headline", :content => "Porque a vida precisa de mais emoção"}
    %meta{:itemprop=>"name", :content => "Zona Radical | Snowboard: como aprender, praticar e apreciar morando no Brasil"}
    %meta{:itemprop=>"url", :content => "http://zonaradical.com.br"}
    %meta{:itemprop=> "image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    %meta{:itemprop=> "description", :content=> "Morando no Brasil junto apreciamos snowboard - o melhor esporte da neve! Aki temos tudo - noticias, guia das estações de ski, dicas, forum."}
    .index-slider
      - @slides.each do |slide|
        .slide
          =link_to image_tag(slide.image_url(:big_thumb).to_s, itemprop: "image", :alt => slide.title), slide.link
          %p
            =slide.description
          %span.tag=slide.title

  .gallery-field
    - if Settings.vamoj_main or !@blog.present?
      .gallery-field-large{:title=> t('resorts')}
        - if @resort.present?
          = image_tag(@resort.image_url(:thumb).to_s, :alt => @resort.name.to_s, :style => "opacity:0.5; filter:alpha(opacity=50);")
        = form_for :search, method: :get, url: tours_path, html: { class: 'vj-widget-form' } do |f|
          .select-wrap
            = f.hidden_field :resorts, value: search_value_for(:resorts)
            .select
              %span.name
                = 'Estação'
              %a.arrow{:href => "#"}
            %ul.option-list
              %li.default{ data: { value: '' } } Tanto faz
              - tour_resorts.each do |resort|
                %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
          .select-wrap
            = f.hidden_field :period, value: search_value_for(:period)
            .select
              %span.name Periodo
              %a.arrow{:href => "#"}
            %ul.option-list
              %li.default{data: {value: ''}} Todos
              - tour_dates.each do |date|
                %li{data: { value: date.strftime("%m/%Y") }}= l(date, format: :period_filter)
          = f.submit t('search')
      %p
        Procure aqui um parceiro para sua próxima viagem de snowboard ou ski
      %span.tag
        Encontre sua trip
    -else
      .gallery-field-large{:title=> t('blogs')}
        = link_to image_tag(@blog.image_url(:big_thumb).to_s, :alt => @blog.title.to_s), @blog
        %p
          =link_to @blog.title, @blog
        %span.tag
          Blog
          =des(@blog.user)
          =@blog.user.name
    .gallery-field-small{:title=> t('adesivos')}
      - if rand(10) < 6
        =link_to image_tag('stickers-sm1.jpg', :alt=>"Pede um sticker do ZR!"), main_app.stickers_path
      - else
        =link_to image_tag('stickers-sm2.jpg', :alt=>"Pede um sticker do ZR!"), main_app.stickers_path
      %p
        %strong
          Adesivo ZR? só pedir!
    .gallery-field-small.right
      - if @gallery_image.present?
        - if @gallery_image.gallerable
          = link_to gallery_image_link(@gallery_image) do
            = image_tag @gallery_image.image_url(:lastfoto), alt: "Ultima foto no ZR"
        -else
          = image_tag(@gallery_image.image_url)
        %p Última foto no ZR
      - else
        = link_to main_app.tours_path do
          = image_tag 'gallery-3.jpg', alt: "Pacotes de snowboard"
        %p Trips e ofertas
  .clear

- content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    -#=render 'shared/aside/contest_leader'
    = render 'shared/ads_nut_aside'
    =render 'shared/aside/aside_latest_blogs'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear

.main-content
  .heading
    %h1 últimas Noticias
  .news-slider
    - if @breezes.present?
      - @breezes.each do |breez|
        .slide
          .news-item
            = link_to image_tag(breez.image_url(:thumb).to_s, :alt=>breez.title), breez.url, class: "img-wrap"
            .details
              = link_to breez.created_at.strftime('%d/%m/%Y'), breez.url, class: "date"
              = link_to breez.body.to_s, breez.url, class: "body"
            .clear
  .heading
    %h1 últimas dicas de snowboard
    %a.all{:href => main_app.tips_url.to_s} Todas
  - if @tipsOrdered.present?
    %ul.item-list
      - @tipsOrdered.each do |tipsOrd|
        %li
          = link_to show_tip_path(tipsOrd.tip_category, tipsOrd), class: "img-wrap" do
            = image_tag tipsOrd.image_url(:big_thumb).to_s, alt: tipsOrd.title, title: tipsOrd.title
          = link_to show_tip_path(tipsOrd.tip_category, tipsOrd), class: "title" do
            =tipsOrd.title
          .details
            %i.extra-info
              =distance_of_time_in_words_to_now tipsOrd.created_at
              = t('ago')
              - if tipsOrd.tag_list.present?
                ="/ Tags: #{ tipsOrd.tag_list }"
            %p
              - if tipsOrd.short_description.present?
                =truncate_html(tipsOrd.short_description, length: 253, omission: '...')
              - else
                =truncate_html(tipsOrd.level1_description, length: 253, omission: '...')
              = link_to t('readMore'), show_tip_path(tipsOrd.tip_category, tipsOrd)
          .clear
  %table.double
    %tr
      %td{:style=>"width: 45%;"}
        %div{:style=> "margin-bottom: 18px; border-bottom: 1px solid #ee9200"}
          %h12
            Eventos
          %a.all{:href => main_app.events_path.to_s} Todos
      %td{:style=>"width: 10%;"}
      %td{:style=>"width: 45%;"}
        %div{:style=> "margin-bottom: 18px; border-bottom: 1px solid #ee9200"}
          %h12
            Trips
          %a.all{:href => main_app.tours_path.to_s} Todas
    %tr
      %td
        - if @event.present?
          =link_to image_tag(@event.image_url(:big_thumb).to_s, :alt=>@event.title), event_path(@event), class: "img-wrap"
          =link_to @event.title, event_path(@event), class: "title"
          %i.date
            %span{:title=> t('startDate')}
              = @event.start_date.strftime('%d/%m/%Y')
            %b{:title=> t('country')}
              = @event.resort_categories.collect(&:name).join(', ')
          %p.tex
            - if @event.description.present?
              = truncate_html(strip_tags(@event.description.to_s), length: 120, omission: '...')
            = link_to t('readMore'), event_path(@event)
      %td
      %td
        - if @trip.present?
          =link_to tour_logo_img(@trip), show_tour_tours_path(country_or_resort(@trip), @trip), class: "img-wrap"
          =link_to @trip.title, show_tour_tours_path(country_or_resort(@trip), @trip), class: "title"
          %i.date
            %span{:title=> t('check_in')}
              = check_in_formatted(@trip)
            %b{:title=> t('country')}
              = @trip.resort_categories.collect(&:name).join(', ')
          %p.tex
            -if @trip.description.present?
              = truncate_html(strip_tags(@trip.description.to_s), length: 120, omission: '...')
            = link_to t('readMore'), show_tour_tours_path(country_or_resort(@trip), @trip)
  .heading
    %h1 Zona Radical: Snowboard no Brasil
  %p
    Zona Radical é o maior portal dedicado ao snowboard, como aprender a praticar snowboard vivendo no Brasil.
    Publicamos as dicas de viagem, de equipamento de snowboard, as noticias de eventos de snowboard brasileiro e internacional.

  %p
    A popularidade de snowboard no Brasil esta crescendo todo ano. Muita gente quem pratica surf e skateboard no Brasil vem conhecendo snowboard
    nas suas viagens para os países vizinhos como Chile e Argentina no inverno do Hemisfério Sul. Enquanto durante o nosso verão, que é o inverno do Hemisfério Norte,
    nos temos a possibilidade de praticar o snowboard nos Estados Unidos, Canada ou Europa.
    Até no próprio Brasil você pode praticar o snowboard tanto com a neve verdadeiro, quanto nas pistas artificiais.

  %p
    Você pode achar que uma viagem de snowboard é algo de luxo, que é accessível só para os ricos. Com as dicas publicadas no Zona Radical
    você ficara sabendo que uma “trip” de snowboard é possível até  para um estudante brasileiro! Brasil não é tão longe das montanhas
    incríveis de Chile e Argentina, e com esforço não tal grande nos podemos apreciar de snowboard nos lugares mais belos do Hemisfério Sul.
    Não precisa gastar uma fortuna para viajar de snowboard para Santiago de Chile, por exemplo.

  %p
    Outra preocupação aqui no Brasil é com equipamento de snowboard. Pode parecer que você precisa algo super-duper especial (e caro) para praticar snowboard.
    Na verdade, tudo pode ser alugado nas montanhas (em Santiago de Chile ou Bariloche, por exemplo), as roupas de inverno podem ser adqueridas no Brasil nas
    lojas de Decathlon ou North Face.
    E até as pranchas, botas e bindings de snowboard podem ser compradas sem sair do Brasil.

  %p Em fim, snowboard é um esporte sensacional. Praticar snowboard vivendo no Brasil é possivel. Não percam tempo!
  .heading

- content_for :for_mobile do
  = render 'layouts/header_xs', header_txt: nil, header_url: nil

  .container
    .intro
      .intro--slider
        - @slides.each do |slide|
          .slide
            = image_tag(slide.image_url(:big_thumb).to_s, itemprop: "image", :alt => slide.title)
            %p
              = slide.description
    .news
      .row.clearfix
        .news--item.left
          .news--item-title.clearfix
            .news--item-name.left ÚLTIMA NOTICIA
            = link_to t("breezes"), main_app.breezes_path, :class => "news--item-more right"
          - if @breezes.present?
            .news--item-cont
              .clearfix
                .news--item-image.left
                  = image_tag(@breezes.first.image_url(:thumb).to_s, :alt=>@breezes.first.title)
                  -# %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200"}/
                .news--item-text.right
                  = @breezes.first.body.to_s
              .news--item-tool.alt
                = @breezes.first.created_at.strftime('%d/%m/%Y')


        - if @tipsOrdered.first.present?
          .news--item.left
            .news--item-title.clearfix
              .news--item-name.left ÚLTIMAS DICAS
              = link_to t("allf"), main_app.tips_path, :class => "news--item-more right"
            .news--item-cont
              .clearfix
                .news--item-image.left
                  = image_tag(@tipsOrdered.first.image_url(:big_thumb).to_s, :alt=>@tipsOrdered.first.title)
                  -# %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200"}/
                .news--item-text.right
                  = strip_tags(@tipsOrdered.first.short_description)
              .news--item-tool
                = link_to @tipsOrdered.first.title, show_tip_path(@tipsOrdered.first.tip_category, @tipsOrdered.first)

      .row.clearfix
        - if @event.present?
          .news--item.left
            .news--item-title.clearfix
              .news--item-name.left EVENTOS
              = link_to t("allm"), main_app.events_path, :class => "news--item-more right"
            .news--item-cont
              .clearfix
                .news--item-image.left
                  = image_tag(@event.image_url(:big_thumb).to_s, :alt=>@event.title)
                  -# %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200"}/
                .news--item-text.right
                  = strip_tags(@event.description)
              .news--item-tool
                = link_to @event.title, event_path(@event)
        - if @trip.present?
          .news--item.left
            .news--item-title.clearfix
              .news--item-name.left TRIPS
              = link_to t("allm"), main_app.tours_path, :class => "news--item-more right"
            .news--item-cont
              .clearfix
                .news--item-image.left
                  = image_tag(tour_logo_img(@trip).to_s, :alt=>@trip.title)
                -# %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200"}/
                .news--item-text.right
                  =strip_tags(@trip.description)
              .news--item-tool
                =link_to @trip.title, show_tour_tours_path(country_or_resort(@trip), @trip)
      .news--item.alt
        .news--item-title.clearfix
          .news--item-name.left
            ENCONTRA A SUA TRIP
        = form_for :search, method: :get, url: tours_path do |f|
          .news--selects.row.clearfix
            .news--select.left.select-wrap
              = f.hidden_field :resorts, value: search_value_for(:resorts)
              .select
                .select_in
                  %span.select_title
                    = t('resorts')
                  %i.select_arrow
                %ul.select_list
                  %li.is-active{data: {value: ''}} Tanto faz
                  - tour_resorts.each do |resort|
                    %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
            .news--select.left.select-wrap
              = f.hidden_field :period, value: search_value_for(:period)
              .select
                .select_in
                  %span.select_title
                    =t('period')
                  %i.select_arrow
                %ul.select_list
                  %li.is-active{data: {value: ''}}
                    = t('allm')
                  - tour_dates.each do |date|
                    %li{data: { value: date.strftime("%m/%Y") }}= l(date, format: :period_filter)
          = f.submit t('search'), :class=> "button news--selects-btn"

    .heading
      %h1 Zona Radical: Snowboard no Brasil
    %p
      Zona Radical é o maior portal dedicado ao snowboard, como aprender a praticar snowboard vivendo no Brasil.
      Publicamos as dicas de viagem, de equipamento de snowboard, as noticias de eventos de snowboard brasileiro e internacional.

    %p
      A popularidade de snowboard no Brasil esta crescendo todo ano. Muita gente quem pratica surf e skateboard no Brasil vem conhecendo snowboard
      nas suas viagens para os países vizinhos como Chile e Argentina no inverno do Hemisfério Sul. Enquanto durante o nosso verão, que é o inverno do Hemisfério Norte,
      nos temos a possibilidade de praticar o snowboard nos Estados Unidos, Canada ou Europa.
      Até no próprio Brasil você pode praticar o snowboard tanto com a neve verdadeiro, quanto nas pistas artificiais.

    %p
      Você pode achar que uma viagem de snowboard é algo de luxo, que é accessível só para os ricos. Com as dicas publicadas no Zona Radical
      você ficara sabendo que uma “trip” de snowboard é possível até  para um estudante brasileiro! Brasil não é tão longe das montanhas
      incríveis de Chile e Argentina, e com esforço não tal grande nos podemos apreciar de snowboard nos lugares mais belos do Hemisfério Sul.
      Não precisa gastar uma fortuna para viajar de snowboard para Santiago de Chile, por exemplo.

    %p
      Outra preocupação aqui no Brasil é com equipamento de snowboard. Pode parecer que você precisa algo super-duper especial (e caro) para praticar snowboard.
      Na verdade, tudo pode ser alugado nas montanhas (em Santiago de Chile ou Bariloche, por exemplo), as roupas de inverno podem ser adqueridas no Brasil nas
      lojas de Decathlon ou North Face.
      E até as pranchas, botas e bindings de snowboard podem ser compradas sem sair do Brasil.

    %p Em fim, snowboard é um esporte sensacional. Praticar snowboard vivendo no Brasil é possivel. Nao percam tempo!
    .heading
    = render 'shared/advert_xs'
