-content_for :for_head do
  %title Amigos do Zona Radical
  %meta{:name => "description",
    :content => "A lista dos amigos do Zona Radical"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos amigos do Zona Radical"}
  %meta{:property=>"og:title", :content => "Amigos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1
      Publica sua empresa no ZR
  %iframe{:width => 701,:height => 1190,:src => 'https://docs.google.com/forms/d/1Cmt-jdIivjJs_HTiRVbFwZdYhMggDkLN1qTgjRJrigA/viewform'}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil
  .container
    %iframe{:width => "100%", :height=>1200, :src => 'https://docs.google.com/forms/d/1Cmt-jdIivjJs_HTiRVbFwZdYhMggDkLN1qTgjRJrigA/viewform'}
    -# :frameborder=>"0", :allowfullscreen=>true
