-content_for :for_head do
  %title Adesivos do Zona Radical
  %meta{:name => "description",
    :content => "Pedido de adesivos do Zona Radical"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "Pedido de adesivos do Zona Radical"}
  %meta{:property=>"og:title", :content => "Adesivos do Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> 'adesivos-fb-size.jpg'}
  %meta{:property=>"og:type", :content =>"article"}
.main-content
  .heading
    %h1
      Recebe nossos adesivos!
  %iframe{:width => 701,:height => 1190,:src => 'https://docs.google.com/forms/d/1mYpzraxca134J96ugqnr5dqQARobfRzIN-PX8Df-R9Q/viewform'}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil
  .container
    %iframe{:width => "100%", :height=>1200, :src => 'https://docs.google.com/forms/d/1mYpzraxca134J96ugqnr5dqQARobfRzIN-PX8Df-R9Q/viewform'}
