- events.each do |event_xs|
  %a.article.hidden-sm{:href => event_path(event_xs)}
    .article--image-big
      %img{:alt => "", :src => event_xs.image_url(:big_thumb), :itemprop => "image"}/
    .article--inner
      .article--title
        =event_xs.title

  .article.visible-sm
    .article--inner.pad
      .article--image
        %img{:alt => "", :src => event_xs.image_url(:big_thumb), :itemprop => "image"}/
      .article--info
        .article--title
          =event_xs.title

        .article--dates
          =event_period(event_xs)
      .article--text
        =event_xs.short_description.html_safe
        %a{:href => event_path(event_xs)}
          =t('readMore')
      .article--tools.visible-sm.clearfix
        - unless event_xs.tag_list.empty?
          .article--tags.left
            %span.bold
              Marcações:
            %span
              = tag_list_linked(event_xs.tag_list)
        .article--category.right
          - if !event_resorts(event_xs).empty?
            = event_resorts(event_xs)
            = ' - '
            =event_countries(event_xs)
          - else
            =event_countries(event_xs)
