%li
  =link_to image_tag(event.image_url(:big_thumb).to_s, itemprop: "image"), event_path(event), :class => 'img-wrap'
  .details
    %p.name=link_to event.title, event_path(event)
    %i
      = event_period(event)
    %p
      %i
        %b{:itemprop=>"location"}
          = event_countries(event)
        = event_resorts(event)

    %p
      = event.short_description
    =link_to t('readMore'), event_path(event)

  -if can? :event, :update
    = link_to 'Edit', edit_event_path(event)
    = event.id
  -if can? :event, :delete
    = link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }
  .clear
