= form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h1
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title, data: { url: slug_events_path }
    %br
      %i
        Campo obrigatorio.
  .field
    = f.label :slug
    = f.text_field :slug
    %br
      %i
        Campo obrigatorio.
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :image
    minimal image 368*210
    = image_tag @event.image_url(:thumb).to_s
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :start_date
    = f.text_field :start_date, value: @event.start_date.try(:strftime, '%d/%m/%Y')
    %br
      %i
        Campo obrigatorio.
  .field
    = f.label :end_date
    = f.text_field :end_date, value: @event.end_date.try(:strftime, '%d/%m/%Y')
    %br
      %i
        Campo obrigatorio.
  .field
    = f.label :resort_category_ids
    = f.collection_select :resort_category_ids, ResortCategory.allowed_countries, :id, :name, {}, multiple: true, style: 'width: 226px'
    %br
    %i
      Campo obrigatorio.
  .field
    = f.label :resort_ids, "Estações de destino"
    = f.grouped_collection_select :resort_ids, ResortCategory.allowed_countries, :resorts, :name, :id, :name, { include_blank: true }, multiple: true, style: 'width: 226px', data: { placeholder: 'Selecione 1o um país' }
  .field
    = f.label :short_description
    = f.text_field :short_description
  .field
    = f.label :description
    = f.text_area :description, class: 'froala', :rows => 40, :cols => 120
  %h3 Gallery
  %table
    - @event.gallery_images.all.each do |image|
      %tr
        %td
          = image_tag image.image_url(:thumb).to_s
        %td
          = text_area_tag "gallery_images[description][#{image.id}]", image.description, {placeholder: 'Descricao',size: '30x5'}
        %td
          Substituir img?
          %br
          = file_field '', "gallery_images[update_images][#{image.id}]"
        %td
          Deletar?
          %br
          = check_box_tag "gallery_images[remove_image][#{image.id}]"
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, multiple: true, name: 'gallery_images[images][]'
  .actions
    = f.submit
