.main-content
  -content_for :for_head do
    -# general METAS
    %title Eventos de Snowboard Brasileiro | Zona Radical
    %meta{:name => "description", :content =>  "Encontra aqui informação sobre os eventos mais importantes de snowboard brasileiro, e alguns dos esportes relacionados - wake, surf, sand."}

    -# Face Metas
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   "Encontra aqui informação sobre os eventos mais importantes de snowboard brasileiro, e alguns dos esportes relacionados - wake, surf, sand."}
    %meta{:property=>"og:title", :content => "Eventos de Snowboard Brasileiro | Zona Radical" }
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slider-cbdn.jpg"}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/events.jpg"}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/vamo_junto_3.png"}

    -# microdata
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/slider-cbdn.jpg"}
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/events.jpg"}
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/vamo_junto_3.png"}
  .heading
    %h1
      =t('events')
  %ul.stations-list
    =render @events
    = will_paginate @events,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  .clear

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Todos eventos"

      = render 'event_xs', events: @events
      = will_paginate @events
      =render 'shared/advert_xs'
