.main-content
  -content_for :for_head do
    %title #{@event.title} | Eventos Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@event.description.to_s)}

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@event.description.to_s)}
    %meta{:property=>"og:title", :content => @event.title+" | Eventos Zona Radical"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @event.image_url(:original)}
    %meta{:itemprop=> "photo", :content=> @event.image_url(:original)}
    - if !@event.gallery_images.all.count.zero?
      -@event.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    %meta{:itemprop=>"keywords", :content => @event.tag_list}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      %span{:itemprop=>"articleSection"}
        =t('events')
  %article
    %h2{itemprop: "name"}
      =@event.title
    .tour-card
      .leftcol
        =image_tag(@event.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
      .rightcol
        .h2
          %b{title: t('resorts')}
            = event_resorts_link @event
        %ul.details-list
          %li.details
            .contacts-list
              %span.map{title: t('countries')}
                = event_countries @event
          %li.details
            .details-list
              %span.date{title: t('period')}
                = event_period @event
                %meta{:itemprop=>"startDate", :content=> @event.start_date}
                -# .strftime('%d/%m/%Y') */
    .clear
    %p
      %i= tag_list_linked(@event.tag_list)
    %p.descr
      = @event.description.html_safe

    -unless @event.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @event.gallery_images.all
    .clear
    - if can? :event, :update
      = link_to t('edit'), edit_event_path(@event)
      |
      \#{link_to 'Back', events_path}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Todos Eventos", :header_url => main_app.events_path

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{tour_logo_img_url(@event)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag(@event.image_url(:big_thumb))
        -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @event.title
        .one--info-date
          %i
          %span
            =event_period(@event)
      .one--inner
        .tabs
          .tabs--items
            %a.active{"data-id" => "b1", :href => "#"} Descrição
          .tabs--boxes
            .tabs--box.shown{"data-id" => "b1"}
              -#=image_tag(@event.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
              %div
                %p
                  =@event.description.html_safe

        .article--tools.clearfix
          - unless @event.tag_list.empty?
            .article--tags.left
              %span.bold
                Marcações:
              %span
                = tag_list_linked(@event.tag_list)
          .article--category.right
            - if !event_resorts(@event).empty?
              = event_resorts_link(@event)
              = ' - '
              =event_countries(@event)
            - else
              =event_countries(@event)

      = render 'shared/social_sharing'

      -unless @event.gallery_images.all.count.zero?
        .one--inner
          =render 'shared/sliders/tip_slider_xs', images: @event.gallery_images.all

      - if can? :manage, @event
        .trips
          = link_to t('edit'), edit_event_path(@event)

      -#=render 'shared/related_mat_xs'

      =render 'shared/advert_xs'
