-for contest in @contests
  .contest
    =contest.title
    =contest.slug
    =contest.hashtag

    = link_to t('show'), show_contest_path(contest)
    - if can? :contest, :update
      = link_to t('edit'), edit_contest_path(contest)
