%table#u_0_0.uiGrid._51mz.pluginConnectButtonLayoutRoot._3c9t{:cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr._51mx
      %td._51m-.hCent
        %div
          %form#u_0_1
            .pluginConnectButton
              .pluginButton.pluginButtonSmall.pluginButtonPressed.pluginButtonInline.pluginButtonX.pluginConnectButtonConnected{:title => "Unlike"}
                %div
                  .pluginButtonContainer
                    .pluginButtonImage
                      %button{:title => "Like", :type => "submit",:disabled => 'disabled'}
                        %i.pluginButtonIcon.pluginButtonXOff.img.sp_plugin-button-2x.sx_plugin-button-2x_chblue
                        %i.pluginButtonIcon.pluginButtonXOn.img.sp_plugin-button-2x.sx_plugin-button-2x_xblue{:title => "Unlike"}
                    %span.pluginButtonLabel Like
      %td._51m-.pluginButtonSpacer
        .pluginButton.pluginButtonSmall
          %div
            .pluginButtonContainer
              .pluginButtonImage
                %button{:title => "Share", :type => "submit",:disabled => 'disabled'}
                  .pluginButtonIconPlaceholder
              %span.pluginButtonLabel Share
      %td._51m-
        %div
          .pluginCountButton.pluginCountNum
            %span#u_0_7.pluginCountConnected
              %span.pluginCountTextConnected
                =image.fb_likes
          .pluginCountButtonNub
            %s
            %i
