= form_for(@contest, :html => {:mulcontestart => true, :class => 'admin-form'}) do |f|
  - if @contest.errors.any?
    #error_explanation
      %h1
        = pluralize(@contest.errors.count, "error")
        prohibited this contest from being saved:
      %ul
        - @contest.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title, data: { url: slug_contests_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :hashtag
    = f.text_field :hashtag
  .field
    = f.label :no_pagination
    = f.select :no_pagination, [['Yes', true], ['No', false]]

  .field
    = f.label :start_date, "* "+t('start_date')
    = select_day contest_start_date_day(@contest), field_name: 'start_date_d', prefix: 'contest'
    = select_month contest_start_date_month(@contest), field_name: 'start_date_m', prefix: 'contest'
    = select_year contest_start_date_year(@contest), field_name: 'start_date_y', prefix: 'contest'
  .field
    = f.label :end_date, "* "+t('end_date')
    = select_day contest_end_date_day(@contest), field_name: 'end_date_d', prefix: 'contest'
    = select_month contest_end_date_month(@contest), field_name: 'end_date_m', prefix: 'contest'
    = select_year contest_end_date_year(@contest), field_name: 'end_date_y', prefix: 'contest'


  .field
    minimal image 368*210
    = image_tag @contest.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :description
    = f.text_area :description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :rules
    = f.text_area :rules, :class => 'froala', :rows => 40, :cols => 120
  = render 'shared/image_gallery/form_contests', f: f, media: @contest
  .actions
    = f.submit
