-unless @instagram_images.nil?
  -for image in @instagram_images
    .instagram_image
      =content_tag(:span,image_tag(image.user_image_url) + " @#{image.username}", :class => 'avatar')
      =link_to image_tag(image.thumb_url), image.image_url,{'title' => "<strong>#{image.username}(#{image.full_name})</strong><br/>#{image.caption}"}
      =button_tag 'data-image-id' => image.id,type: 'button', class: 'toggle-image' do
        -if image.published
          unpublish
        -else
          publish
  .clear
  =will_paginate @instagram_images
