-for image in @instagram_images
  -if !mobile_device?
    .instagram_image
      =content_tag(:span,image_tag(image.user_image_url) + " @#{image.username.first(15)}", :class => 'avatar')
      =link_to image_tag(image.thumb_url), image.image_url,{'class'=>'fancybox','rel'=>'group','data-lightbox' => 'contest','title' => "#{image.username}(#{image.full_name}): #{image.caption}", 'id' => "instagram_image_#{image.id}"}
      = render 'shared/social_sharing', url: contest_image_url(image.hashtag,image.id)
  -else
    %div{ class: 'instagram_image mobile'}
      =content_tag(:span,image_tag(image.user_image_url) + " @#{image.username.first(15)}", :class => 'avatar')
      =link_to image_tag(image.thumb_url), image.image_url,{'class'=>'fancybox','rel'=>'group','data-lightbox' => 'contest','title' => "#{image.username}(#{image.full_name}): #{image.caption}", 'id' => "instagram_image_#{image.id}"}
      = render 'shared/social_sharing', url: contest_image_url(image.hashtag,image.id)
.clear
-unless @contest.no_pagination
  =will_paginate @instagram_images
.clear
