-content_for :for_head do
  %title Prêmio MaisEstiloZR
  %meta{:property=>"og:title", :content => "Prêmio MaisEstiloZR"}
  %meta{:name => "description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=> "og:description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  -if @contest.gallery_images.all.count.zero?
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/premio.jpg"}
  -else
    %meta{:property=> "og:image", :content=> @contest.gallery_images.first}
    %meta{:property=> "og:image", :content=> @contest.gallery_images.second}
    %meta{:property=> "og:image", :content=> @contest.gallery_images.third}
  %meta{:property=>"og:type", :content =>"article"}

.main-content
  %article
    .heading
      %h1=@contest.title
      = render 'shared/social_sharing', style: 'float: right;'
    .description
      =image_tag(@contest.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
      %div{:itemprop=>"articleBody"}
        =@contest.description.html_safe unless @contest.description.blank?
    -unless @contest.gallery_images.all.count.zero?
      =render 'shared/sliders/contest', images: @contest.gallery_images.all
    -for image in @instagram_images
      -if !mobile_device?
        .instagram_image
          =content_tag(:span,image_tag(image.user_image_url) + " @#{image.username.first(15)}", :class => 'avatar')
          =link_to image_tag(image.thumb_url), image.image_url,{'class'=>'fancybox','rel'=>'group','data-lightbox' => 'contest','title' => "#{image.username}(#{image.full_name}): #{image.caption}", 'id' => "instagram_image_#{image.id}"}
          =render 'fb_count',image: image
      -else
        %div{ class: 'instagram_image mobile'}
          =content_tag(:span,image_tag(image.user_image_url) + " @#{image.username.first(15)}", :class => 'avatar')
          =link_to image_tag(image.thumb_url), image.image_url,{'class'=>'fancybox','rel'=>'group','data-lightbox' => 'contest','title' => "#{image.username}(#{image.full_name}): #{image.caption}", 'id' => "instagram_image_#{image.id}"}
          =render 'fb_count',image: image
  - if can? :contest, :update
    = link_to t('edit'), edit_contest_path(@contest)

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear
