-content_for :for_head do
  %title Prêmio MaisEstiloZR
  %meta{:property=>"og:type", :content =>"article"}
  %meta{:property=>"og:title", :content => "Prêmio MaisEstiloZR"}
  %meta{:name => "description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=> "og:description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  -if @contest.gallery_images.all.count.zero?
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/premio.jpg"}
  -else
    -@contest.gallery_images[0..3].each do |image|
      %meta{:property=> "og:image", :content=> image.image_url.to_s}
      %meta{:itemprop=> "photo", :content=> image.image_url.to_s}


.main-content
  %article
    .heading
      %h1=@contest.title
      = render 'shared/social_sharing', style: 'float: right;'
    -# Countdown
    .heading
      Falta para começar
      .countdown
        =hidden_field_tag :countdown, ((@contest.start_date - DateTime.now) * 24 * 60 * 60).to_i

    -# Text with logo
    .description
      =image_tag(@contest.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
      %div{:itemprop=>"articleBody"}
        =@contest.description.html_safe unless @contest.description.blank?

    -unless @contest.gallery_images.all.count.zero?
      =render 'shared/sliders/contest', images: @contest.gallery_images.all

    -# Rules
    =@contest.rules.html_safe unless @contest.rules.blank?

    - if can? :contest, :update
      = link_to t('edit'), edit_contest_path(@contest)

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear
