.main-content
  %article
    .heading
      %h1 'Contests'
    =render 'contests'
    non locale
    =non_locale_webs
    locale from url
    =locale_from_url
    uri reques without www
    =URI(request.original_url).host.sub("www.",'')
.clear
