-content_for :for_head do
  %meta{:property=>"og:type", :content =>"article"}
  -unless @preview_instagram_image.full_name.blank?
    %meta{:property=> "og:title", :content =>   'Prêmio #MaisEstiloZR: a foto de '+@preview_instagram_image.username}
    %meta{:property=> "og:description", :content =>   'A foto de '+@preview_instagram_image.username+' concorrendo o prêmio #MaisEstiloZR'}
  - else
    %meta{:property=> "og:title", :content =>   'Prêmio #MaisEstiloZR: a foto de '+@preview_instagram_image.username}
    %meta{:property=> "og:description", :content =>   'A foto de '+@preview_instagram_image.username+' concorrendo o prêmio #MaisEstiloZR'}
  %meta{:property=>"og:url", :content => contest_image_url(@preview_instagram_image.hashtag, @preview_instagram_image.id)}
  %meta{:property=> "og:image", :content=> @preview_instagram_image.data['images']['standard_resolution']['url']}

%article
  %h1=@contest.title
  .description
    =image_tag(@preview_instagram_image.user_image_url, class: 'med-img', itemprop: "image")
    ="@#{@preview_instagram_image.username}"
    = render 'shared/social_sharing', url: contest_image_url(@preview_instagram_image.hashtag,@preview_instagram_image.id), style: 'float: right;'
    %div{:itemprop=>"articleBody"}
      %strong="#{@preview_instagram_image.username}(#{@preview_instagram_image.full_name})"
      %p="#{@preview_instagram_image.caption}"
    =image_tag @preview_instagram_image.image_url
  .countdown_wrapper
    -if !mobile_device?
      .countdown=hidden_field_tag :countdown, ((@contest.end_date - DateTime.now) * 24 * 60 * 60).to_i
    -else
      .countdown.mobile=hidden_field_tag :countdown, ((@contest.end_date - DateTime.now) * 24 * 60 * 60).to_i
    %h3.center Falta para terminar
  = link_to t('backToContest'), contest_path(@contest)
  - if can? :contest, :update
    = link_to t('edit'), edit_contest_path(@contest)
