-content_for :for_head do
  %title Prêmio MaisEstiloZR
  %meta{:property=>"og:type", :content =>"article"}
  %meta{:property=>"og:title", :content => "Prêmio MaisEstiloZR"}
  %meta{:name => "description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=> "og:description", :content => "O prêmio para atleta mais estilo ZR do Campeonato CBDN"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  -if @contest.gallery_images.all.count.zero?
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/premio.jpg"}
  -else
    -@contest.gallery_images[0..3].each do |image|
      %meta{:property=> "og:image", :content=> image.image_url.to_s}
      %meta{:itemprop=> "photo", :content=> image.image_url.to_s}
%article
  %h1=@contest.title
  .description
    =image_tag(@contest.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
    %div{:itemprop=>"articleBody"}
      =@contest.description.html_safe unless @contest.description.blank?
  =render 'instagram_images'
  .countdown_wrapper
    -if !mobile_device?
      .countdown=hidden_field_tag :countdown, ((@contest.end_date - DateTime.now) * 24 * 60 * 60).to_i
    -else
      .countdown.mobile=hidden_field_tag :countdown, ((@contest.end_date - DateTime.now) * 24 * 60 * 60).to_i
    %h3.center Falta para terminar
  =@contest.rules.html_safe unless @contest.rules.blank?
  - if can? :contest, :update
    = link_to t('edit'), edit_contest_path(@contest)
