= form_for [:manage, @tag] do |f|
  - if @tag.errors.any?
    #error_explanation
      %h1
        = pluralize(@tag.errors.count, "error")
        prohibited this tag from being saved:
      %ul
        - @tag.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .actions{ style: "margin-top: 10px" }
    = f.submit
