.heading
  %h1 All tags

- @tags.each do |tag|
  %p
    %b= tag.name
    %i= tag.taggings_count
    - if can? :manage, tag
      = link_to t('edit'), edit_manage_tag_path(tag)
      = link_to t('destroy'), manage_tag_path(tag), method: :delete, data: { confirm: t('confirm_destroy') }
