<!-- auto 1 -->
<div class='news--item-title clearfix heading'>
  <div class='news--item-name left'>
    <h1>Propaganda</h1>
  </div>
</div>

  <ins class="adsbygoogle"
     style="display:block; max-width: 701px;"
     data-ad-client="ca-pub-3856617884026618"
     data-ad-slot="8384116282"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
