<!-- auto 1 -->
<div class='heading'>
  <h1>Propaganda</h1>
</div>
<ins class="adsbygoogle"
     style="display:block; max-width: 303px;; margin-bottom: 35px"
     data-ad-client="ca-pub-3856617884026618"
     data-ad-slot="8384116282"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
