- if Event.any? { |b| b[:id] == Settings.event_id }
  - event=Event.find(Settings.event_id)
  .news--item-title.clearfix
    .news--item-name.left Proximo evento:
  %a.article.hidden-sm{:href => event_path(event)}
    .article--image-big
      %img{:alt => "", :src => event.image_url(:big_thumb)}/
    .article--inner
      .article--title
        =event.title
  .article.visible-sm
    .article--inner.pad
      .article--image
        %img{:alt => "", :src => event.image_url(:big_thumb)}/
      .article--info
        .article--title
          =event.title
        -#.article--photo 11
        .article--dates
          =event_period(event)
      .article--text
        =event.short_description.html_safe
        %a{:href => event_path(event)} Leia mais
      .article--tools.visible-sm.clearfix
        - unless event.tag_list.empty?
          .article--tags.left
            %span.bold
              Marcações:
            %span
              = tag_list_linked(event.tag_list)
        .article--category.right
          - if !event_resorts(event).empty?
            = event_resorts(event)
            = ' - '
            =event_countries(event)
          - else
            =event_countries(event)
