.one--author
  .one--author-avatar
    =image_tag author.avatar_url(:ava)
  %a.one--author-line{:href => "#"} Sobre autor
  .one--author-name
    =author.name
    =author.surname
  .one--author-text
    =author.bio.html_safe unless author.bio.nil?
