.heading{:style=>'margin-top: 30px; margin-bottom: -10px;  padding-bottom: -10px;'}
  -if Settings.forum
    = link_to 'Todos os comentários', DiscourseZr.topic_url(comment_discourse.discourse_topic_id), target: '_blank', class: :all
  %h1
    Comentários

- if comment_discourse.discourse_topic_id.present?
  .clear
  %ul.comments-list
    - comments = comment_discourse.discourse_comments
    - comments.main_comments.each do |comment|
      - comment = CommentPresenter.new(comment, comments.all_comments)
      %li
        %a.img-wrap{:href => "#"}
          %img.userpic{:alt => "", :src => comment.user_avatar}/
        .details
          %p.title
            = link_to 'javascript:;', class: 'reply_to_link', data: { reply_to: comment.post_number, action: 'reply' } do
              = content_tag(:span, fa_icon('reply', text: 'responder'), class: 'reply')
              = content_tag(:span, fa_icon('undo', text: 'cancelar'), class: 'undo', style: 'display: none')
            %span= comment.title
          %div.comment-content= comment.content
        .clear
      - comment.replies.each do |reply|
        - reply_comment = CommentPresenter.new(reply)
        %li.comment-reply
          %a.img-wrap{:href => "#"}
            %img.userpic{:alt => "", :src => reply_comment.user_avatar}/
          .details
            %p.title
              %span= reply_comment.title
            %div.comment-content= reply_comment.content
          .clear

= form_for @comment || Comment.new, url: form_path, html: { class: 'comments-form', data: { logged_user: current_user.present? } } do |f|
  = hidden_field(:comment, :path, value: commentable_show_path)
  = f.text_field :reply_to, hidden: true
  - if @comment and @comment.errors.any?
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg
  = f.text_area :content, placeholder: 'Deixe seu comentário aqui', rows: 1
  = f.submit 'Enviar'

%p{:style=>'margin-top: 30px;'}
  /
