.news--item-title.clearfix
  .news--item-name.left Comentários

- if comment_discourse.discourse_topic_id.present?
  .comments
    .news--item-title.clearfix
      .news--item-name.left COMENTÁRIOS:
    .comments--list
      - comments = comment_discourse.discourse_comments
      - comments.main_comments.each do |comment|
        - comment = CommentPresenter.new(comment, comments.all_comments)
        .comment
          .comment--avatar
            %img{:alt => "", :src => comment.user_avatar}/
          .comment--inner
            .comment--info
              -#a.comment--author{:href => "#"}
              %span.comment--date
                = comment.title
            .comment--text
              = comment.content
        - comment.replies.each do |reply|
          - reply_comment = CommentPresenter.new(reply)
          .comment.sub
            .comment--avatar
              %img{:alt => "", :src => reply_comment.user_avatar}/
            .comment--inner
              .comment--info
                -#a.comment--author{:href => "#"} Fábio Paz Paz
                %span.comment--date
                  = reply_comment.title
              .comment--text
                = reply_comment.content


.comments--form
  = form_for @comment || Comment.new, url: form_path, html: {data: { logged_user: current_user.present? } } do |f|
    = hidden_field(:comment, :path, value: commentable_show_path)
    -#= f.text_field :reply_to, hidden: true
    - if @comment and @comment.errors.any?
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
    = f.text_field :content, placeholder: 'DEIXE SEU COMENTÁRIO AQUI', rows: 1
    -#.action
    %button{:type => "submit"}
      = f.submit 'Enviar', class: 'button'
.clear
%p{:style=>'margin-top: 20px;'}
  /
