.news--item-title.clearfix
  .news--item-name.left Ultimos blogs no ZR:
.related--slider
  - @blogs.each do |blg|
    .slide
      %a.article.hidden-sm{:href => "#{blog_path(blg)}"}
        .article--image-big
          %img{:alt => blg.title, :src => blg.image_url(:big_thumb)}/
        .article--inner
          .article--title
            =blg.title
      .article.visible-sm
        .article--inner.pad
          .article--image
            %img{:alt => blg.title, :src =>blg.image_url(:big_thumb)}/
          .article--info
            .article--title
              = blg.title
            =link_to blg.user.name, user_path(blg.user), :class=>'article--user'
            -#a.{:href => }

          .article--text
            =strip_tags(blg.content[0..150])
            %p
              =link_to "Leia mais", blg
          .article--tools.visible-sm.clearfix
            .article--tags.left
            - unless blg.tag_list.empty?
              .article--tags.left
                %span.bold
                  Marcações:
                %span
                  = tag_list_linked(blg.tag_list)
            .article--category.right
              %a{:href => blogs_path} Blogs no ZR
.clear
-#=render 'shared/related_blog_xs'
