-unless objects.empty?
  .heading
    %h1
      Dicas Relacionadas:
  .related--slider
    - objects.each do |obj|
      .slide
        %a{:href => "#{show_tip_path(obj.tip_category, obj)}"}
          %img{:alt => obj.title, :src => obj.image_url(:big_thumb)}/
        =link_to obj.title, show_tip_path(obj.tip_category, obj), class: 'title'
        - unless obj.tag_list.empty?
          %span.bold
            Marcações:
          %span
            = tag_list_linked(obj.tag_list)
  .clear
