-unless objects.empty?
  .news--item-title.clearfix
    .news--item-name.left Dicas Relacionadas:
  .related--slider
    - objects.each do |obj|
      .slide
        %a.article.hidden-sm{:href => "#{show_tip_path(obj.tip_category, obj)}"}
          .article--image-big
            %img{:alt => obj.title, :src => obj.image_url(:big_thumb)}/
          .article--inner
            .article--title
              =obj.title
        .article.visible-sm
          .article--inner.pad
            .article--image
              %img{:alt => obj.title, :src =>obj.image_url(:big_thumb)}/
            .article--info
              .article--title
                = obj.title
              =link_to obj.author.name, user_path(obj.author), :class=>'article--user'
            -#a.{:href => }

            .article--text
              =strip_tags(obj.short_description)
              %p
                =link_to "Leia mais", show_tip_path(obj.tip_category, obj)
            .article--tools.visible-sm.clearfix
              .article--tags.left
              - unless obj.tag_list.empty?
                .article--tags.left
                  %span.bold
                    Marcações:
                  %span
                    = tag_list_linked(obj.tag_list)
              .article--category.right
                %a{:href => tips_path} Dicas do ZR
  .clear
