#signIn{:title => t('signIn')}
  =t('enterWith')
  = link_to omniauth_authorize_path(:user, 'facebook'), :class => 'login' do
    %span.fbspl
  = link_to omniauth_authorize_path(:user, 'twitter'), :class => 'login' do
    %span.twspl
  =t('or')
  = form_for(User.new, url: session_path(:user),       |
    html:{id: 'sign_in_user', :'data-type' => 'json'}, |
    remote: true) do |f|                               |
    = f.email_field :email, :autofocus => true, :placeholder => 'email'
    %p
    = f.password_field :password, :placeholder => 'password'
    %p
    - if Devise.mappings[:user].rememberable?
      %label.checkbox
        = f.check_box :remember_me
        \
        =t('rememberMe')
    %p
    = link_to t('forgotPsw'), new_password_path('user'), :class => 'login-link'
    %br/
    = link_to t('noConfirm'), new_confirmation_path('user'), :class => 'login-link'
    %br/
    = f.submit "Sign in", :class => "btn btn-success", :style=>"background: #81C7FF;"
  .modal-footer
