%ol.trip-offers-list
  - offers.each do |offer|
    %li
      .piccol
        = link_to tour_logo_img(offer), show_offer_offers_path(country_or_resort(offer), offer), class: "title"
        = link_to small_logo(offer.owner), offer.owner
      .leftcol
        %p.title
          = link_to offer.title, show_offer_offers_path(country_or_resort(offer), offer), class: "title"
          -# = participation_status(offer)
        -if offer.kind == Offer::KIND_START_DATE
          %i.date
            %span{:title=>t('check_in')}
              = check_in_formatted(offer)
            %span{:title=>"Paises de destino"}
              %b= offer.resort_categories.collect(&:name).join(', ')
            %span{:title=>"Estações de destino"}
            = tour_resorts_names(offer)
            - if offer.price
              %br
              - if offer.currency
                =offer.currency.symbol
              =offer.price
        -elsif offer.kind == Offer::KIND_ACTIVE_INTERVAL
          %i.date
            %span{:title=>t('activeFrom')}
              = offer.active_from.strftime('%d/%m/%Y')
            %span{:title=>t('activeTill')}
              = offer.active_till.strftime('%d/%m/%Y')
            %span{:title=>"Paises de destino"}
              %b= offer.resort_categories.collect(&:name).join(', ')
            %span{:title=>"Estações de destino"}
            = tour_resorts_names(offer)
            - if offer.price
              %br
              =offer.currency.symbol
              =offer.price
        %p
          = truncate_html(offer.description.html_safe, length: 100)
          = link_to 'Leia mais', show_offer_offers_path(country_or_resort(offer), offer), class: 'read-more'
        - if can? :manage, offer
          %br
          = link_to t('edit'), edit_manage_offer_path(offer)
          |
          = link_to t('destroy'), manage_offer_path(offer), method: :delete, data: { confirm: t('confirm_destroy') }
      .rightcol
        %p{:style=>"float: left;"}
          - if offer.user_owners.include?(current_user)
            Seu pacote <br>
          = link_to cut_phrase(offer.owner.surname,10), offer.owner

      .clear
