%a.article.hidden-sm{:href => show_offer_offers_path(country_or_resort(offer_xs), offer_xs)}
  .article--image-big
    %img{:alt => "", :src => tour_logo_img_url(offer_xs), :itemprop => "image"}/
  .article--inner
    .article--title
      =offer_xs.title
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => tour_logo_img_url(offer_xs), :itemprop => "image"}/
    .article--info
      .article--title
        =offer_xs.title

      .article--user
        = link_to offer_xs.user_owners.first.name+" "+offer_xs.user_owners.first.surname, user_path(offer_xs.user_owners.first), :target=>"_blank"
      -if offer_xs.kind_start_date?
        .article--dates
          = check_in_formatted(offer_xs)
      -if offer_xs.kind_active_interval?
        .article--dates
          = offer_xs.active_from.strftime('%d/%m/%Y')
          \ ->
          = offer_xs.active_till.strftime('%d/%m/%Y')

    .article--text
      =truncate_html(offer_xs.description, length: 300, omission: '...')
      %a{:href => show_offer_offers_path(country_or_resort(offer_xs), offer_xs)}
        =t('readMore')
    .article--tools.visible-sm.clearfix
      - unless offer_xs.tag_list.empty?
        .article--tags.left
          %span.bold
            Marcações:
          %span
            = tag_list_linked(offer_xs.tag_list)

      .article--category.right
        - if !offer_resorts_names_linked(offer_xs).empty?
          = offer_resorts_names_linked(offer_xs)
          = ' - '
          =offer_countries(offer_xs)
        - else
          =offer_countries(offer_xs)
