= form_for :search, url: search_offers_path, method: :get, remote: true do |f|
  %p.search-intro{:style => "margin-top: -20px; margin-bottom: 15px;"}
    Escolha os parâmetros abaixo para encontrar um pacote do seu jeito, do seu gosto.
  .search-filter
    .select-wrap
      = f.hidden_field :resort_categories, value: search_value_for(:resort_categories)
      .select
        %span.name País
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}} Tanto faz
        - offer_resort_categories.each do |resort_category|
          %li{data: { value: resort_category.id }}= resort_category.name
    .select-wrap
      = f.hidden_field :resorts, value: search_value_for(:resorts)
      .select
        %span.name Estação
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}} Tanto faz
        - offer_resorts.each do |resort|
          %li{data: { value: resort.id, category_id: resort.resort_category_id } }= resort.name
    .select-wrap
      = f.hidden_field :period, value: search_value_for(:period)
      .select
        %span.name Periodo
        %a.arrow{:href => "#"}
      %ul.option-list
        %li.default{data: {value: ''}} Todos
        - offer_dates.each do |date|
          %li{data: { value: date.strftime("%m/%Y") }}= l(date, format: :period_filter)
    -#.select-wrap
    -#  = f.hidden_field :tour_style, value: search_value_for(:tour_style)
    -#  .select
    -#    %span.name Alvo
    -#    %a.arrow{:href => "#"}
    -#  %ul.option-list
    -#    %li.default{data: {value: ''}} Tanto faz
    -#    - offer_styles.each do |offer_style|
    -#      %li{data: { value: offer_style.id }}= offer_style.name
    -#.select-wrap
    -#  = f.hidden_field :accommodation, value: search_value_for(:accommodation)
    -#  .select
    -#    %span.name Hospedagem
    -#    %a.arrow{:href => "#"}
    -#  %ul.option-list
    -#    %li.default{data: {value: ''}} Todos tipos
    -#    - offer_accommodations.each do |accommodation|
    -#      %li{data: { value: accommodation.id }}= accommodation.name
    -#.select-wrap
    -#  = f.hidden_field :cost, value: search_value_for(:cost)
    -#  .select
    -#    %span.name Custos
    -#    %a.arrow{:href => "#"}
    -#  %ul.option-list
    -#    %li.default{data: {value: ''}} Qualquer
    -#    %li{"data-value" => "0..499"} menos de r$ 500 por pessoa
    -#    %li{"data-value" => "500..1000"} r$ 500 - r$ 1000
    -#    %li{"data-value" => "1000..Infinity"} mais de r$ 1000 por pessoa
    .select-extra
    .select-extra
      = f.submit t('applyFilters'), :style=>"display: block; margin-left: auto; margin-right: auto;"
    .select-extra
      - unless params[:search].nil?
        = link_to t('cleanFilters'), main_app.search_offers_path, remote: true, class: 'button', style: "display: block; margin-left: auto; margin-right: auto;"
    .clear
