- if @offers.empty?
  Não existem pacotes ou nenhum foi encontrada com os filtros especificados.
- else
  .heading
  = render 'offer', offers: @offers, offer_path_method: "offer_path"
  = will_paginate @offers
