-content_for :for_head do
  %meta{:itemprop=>"keywords", :content => @offer.tag_list}

.tour-card
  .leftcol
    = tour_logo_img(@offer)
    %ul.details-list
      %li.contacts
        .contacts-list
          %span.map{:title=> t('countries')}
            = offer_countries(@offer)
  .rightcol
    .h2
      -# %span.name
      %b{:title=>"Estacoes"}
        = offer_resorts_names_linked(@offer)
    %ul.details-list
      %li.details
        .details-list
          -if @offer.kind_start_date?
            %span.date{:title=> t('check_in')}
              = check_in_formatted(@offer)
          -if @offer.kind_active_interval?
            %span.date{:title=> t('active_from')}
              = @offer.active_from.strftime('%d/%m/%Y')
              \ ->
              = @offer.active_till.strftime('%d/%m/%Y')
          -unless @offer.duration.nil?
            %span.days{:title=> t('duration')}
              = @offer.duration
              dias
          -unless @offer.price.nil?
            %span.price{:title=> t('price')}
              =@offer.currency.symbol
              = @offer.price
              por pessoa
          -unless !@offer.air_included
            %span.air
              A passagem aérea está inclusa
          %span.style{:title=> t('tourStyle')}
            = @offer.tour_style
          %span.accom{:title=> t('accommodation')}
            = @offer.accommodation

        .clear
    -#.h2{:itemprop=>"name"}
    -#  Agência
  .parti-col
    = link_to small_logo(@offer.owner), @offer.owner
  -#  -#.ava-col{:style=>"margin-left: -25px; width: 65px;"}
  -#  -#.name-col
  -#  -#  = link_to @offer.owner.surname, @offer.owner, target: '_blank'
  .clear
  %div{:style=>"text-align: center; margin-bottom: 10px;"}
    %i
      Entra em contato com a Agência:
      = @offer.owner.surname
      =link_to @offer.owner.email,"mailto:"+@offer.owner.email.to_s+"?subject= pacote publicado no ZR"
  %p
    %i= tag_list_linked(@offer.tag_list)
  -unless @offer.description.nil?
    %p.descr
      %b
        =t('description')
        \:
      = @offer.description.html_safe
  -# - unless @offer.participants_in([:pending, :approved]).empty?
  -#   %p.descr
  -#     %b
  -#       =t('participants')
  -#     %ul
  -#       - @offer.participants_in([:pending, :approved]).each do |participant|
  -#         %li== #{participant.user.name} #{participant.user.surname}
  -#     - if @offer.participants_in([:pending]).where(user: current_user).first
  -#       - tour_participant = @offer.participants_in([:pending]).where(user: current_user).first
  -#       = link_to 'Recall', recall_tour_participant_path(@offer, tour_participant), class: 'button'
  /%p.small
  -#  %b
  -#    Estilos de trip:
  -#  -TourStyle.all.each do |t_style|
  -#    = t_style.name
  -#    ="("+t_style.description.to_s+")."
  -#  %b
  -#    Tipos de moradia:
  -#  -Accommodation.all.each do |acco|
  -#    = acco.name
  -#    ="("+ acco.description.to_s+")."
  %div{:style=>"text-align: center"}
  -unless @offer.gallery_images.all.count.zero?
    = render 'shared/sliders/tip', images: @offer.gallery_images.all



-#  - @offer.resorts.each do |resort|
-#    = resort_logo_img(resort)

-# = participation_status(@offer, participate_button: true)
