.main-content
  -content_for :for_head do
    -# general METAS
    %title Agências de neve | Zona Radical
    %meta{:name => "description", :content =>  "A lista completa das melhores agências de viagem do Brasil que oferecem pacotes para montanhas nevedas."}
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   "A lista completa das melhores agências de viagem do Brasil que oferecem pacotes para montanhas nevedas."}
    %meta{:property=>"og:title", :content => "Agências de neve | Zona Radical" }
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/agencias.png"}
  .heading
    %h1
      Agências do Brasil

  %p.search-intro
    Surpreendentemente, no Brasil existem várias agências que oferecem pacotes de viagens para praticar snowboard e esqui.
    Nem todas são grandes e/ou famosas. Confira a lista (ordenada pelo numero dos pacotes publicados) das melhores que conhecemos aqui no ZR.

  %p.small
    Atenção. Não nos responsabilizamos pelas descrições das agências - elas respondem por sua própria autonomia.

  .heading
  - @users.each do |agency|
    = render 'users/profile_agency', profile: agency
    -if can? :update, agency
      =link_to t('editProfile'), edit_user_path(agency), :target => "_blank"
    .heading

  -content_for :aside do
    %aside
      =render 'shared/aside/aside_share_buttons'
      -#=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_social_buttons'
      =render 'shared/aside/aside_fb_like_box'
      -# =render 'shared/aside/aside_resort_gallery'
    .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Agencias turísticas do Brasil"

      .article
        .article--inner
          .article--desc
            %p
              Surpreendentemente, no Brasil existem várias agências que oferecem pacotes de viagens para praticar snowboard e esqui.
              Nem todas são grandes e/ou famosas. Confira a lista (ordenada pelo numero dos pacotes publicados) das melhores que conhecemos aqui no ZR.



      = render partial: "users/profile_agency_xs", collection: @users
      -# ToDo pagination style
      =render 'shared/advert_xs'
