.main-content
  -content_for :for_head do
    -# general METAS
    %title Pacotes de Snow | Zona Radical
    %meta{:name => "description", :content =>  "Pacotes de viagem de neve de agencias diferentes. Compare e encontre sua viagem de snowboard prefeita!"}
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content => "Pacotes de Snow | Zona Radical" }
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/packages.png"}
  -if !mobile_device?
    .search-heading
      = render 'search_heading'
    .search-filters
      = render 'search_filters'
  - else
    %h1 Todos os anúncios
  .search-result
    = render 'search_list'
  .clear

  -content_for :aside do
    %aside
      .heading
        %h1
          O que é?
        = render 'shared/social_sharing', style: 'float: right;'
      %p.search-intro{:style => "margin-bottom: 0px;"}
        Aqui você pode encontrar os pacotes de viagens para praticar snowboard e ski oferecidos no Brasil.
        %br
        Não são os pacotes do ZR, nos não estamos vendendo nada. São das agêcias turísticas brasileiras, a lista dessas ultimas está aqui:
        = link_to "Agências de neve", main_app.agencies_path
      - if can? :manage, Offer
        = link_to 'Os meus pacotes', manage_offers_path, class: 'all my-ads', target: '_blank', style: "margin-top: -25px; margin-bottom: 15px;"

      -if !mobile_device?
        -if can? :manage, Offer
          = link_to 'Adicionar um pacote', new_manage_offer_path, class: 'button', :style=>"display: block; margin-left: auto; margin-right: auto; margin-top: 15px;margin-bottom: 25px;"
      - else
        Para publicar um pacote ou aplicar filtros nos anuncios publicados por favor usa a versão desktop do site.
      .clear
      = render 'shared/aside/aside_tags'
      =render 'shared/aside/aside_social_buttons'
      -#=render 'shared/aside/aside_tip_category', :tip_category => nil
      =render 'shared/aside/aside_advert'
      =render 'shared/aside/aside_fb_like_box'
      =render 'shared/aside/aside_resort_gallery'
    .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Pacotes turísticos"

      .article
        .article--inner
          .article--desc
            %p
              Aqui você pode encontrar os pacotes de viagens para praticar snowboard e ski oferecidos no Brasil.
              %br
              Não são os pacotes do ZR, nos não estamos vendendo nada. São das agêcias turísticas brasileiras, a lista dessas ultimas está aqui:
              = link_to "Agências de neve", main_app.agencies_path


      = render partial: "offer_xs", collection: @offers
      = will_paginate @offers
      -# ToDo pagination style

      =render 'shared/advert_xs'
