.main-content
  -content_for :for_head do
    -# general METAS
    %title #{@offer.title} | Pacote de Snow com Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@offer.description.to_s)}

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   strip_tags(@offer.description.to_s)}
    %meta{:property=>"og:title", :content => "Pacote de Snow: " +@offer.title}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/packages.png"}
    %meta{:itemprop=> "photo", :content=> "http://zonaradical.com.br/images/packages.png"}
    - if !@offer.gallery_images.all.count.zero?
      -@offer.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    -# schema.org METAS
    -# %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1
      Offer:
      = @offer.title

  %article
    = render 'show'

    .clear

    - if can? :manage, @offer
      = link_to 'Edit', edit_manage_offer_path(@offer)
      \|
    = link_to 'Back', offers_path

-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_gallery'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Pacotes", :header_url => main_app.offers_path

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{tour_logo_img_url(@offer)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag(tour_logo_img_url(@offer))
        -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @offer.title
        .one--info-date
          %i
          -if @offer.kind_start_date?
            %span
              = check_in_formatted(@offer)
          -if @offer.kind_active_interval?
            %span
              = @offer.active_from.strftime('%d/%m/%Y')
              \ ->
              = @offer.active_till.strftime('%d/%m/%Y')
      .one--inner
        .one--inner-avatar
          =image_tag @offer.user_owners.first.avatar_url(:ava)
          -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100"}/
        .one--inner-name.visible-sm
          =@offer.user_owners.first.name
          =@offer.user_owners.first.surname
        .tabs
          .tabs--items
            %a.active{"data-id" => "b1", :href => "#"} Descrição

          .tabs--boxes
            .tabs--box.shown{"data-id" => "b1"}
              -#=image_tag(@offer.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
              %div
                %p
                  =@offer.description.html_safe

        .article--tools.clearfix
          .article--category.right
            - if !offer_resorts_names_linked(@offer).empty?
              = offer_resorts_names_linked(@offer)
              = ' - '
              =offer_countries(@offer)
            - else
              =offer_countries(@offer)

      = render 'shared/social_sharing'

      -unless @offer.gallery_images.all.count.zero?
        .one--inner
          =render 'shared/sliders/tip_slider_xs', images: @offer.gallery_images.all

      =render 'shared/author_xs', author: @offer.user_owners.first

      - if can? :manage, @offer
        .trips
          = link_to t('edit'), edit_manage_offer_path(@offer)

      -#=render 'shared/related_mat_xs'
      =render 'shared/advert_xs'
