- if @user.errors.any?
  #error_explanation
    %h1
      = pluralize(@user.errors.count, "error")
      prohibited this user from being saved:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message
%div#tabs
  %ul.levels
    %li
      %a{:href => '#tab_main'}
        %span Main info
    %li
      %a{:href => '#tab_avatar'}
        %span Avatar
    -if can? :manage, :all
      %li
        %a{:href => '#tab_roles'}
          %span Roles
    %li
      %a{:href => '#tab_security'}
        %span Security
  = form_for(@user, :html => {:multipart => true, :class => 'admin-form'}) do |f|
    %div#tab_main
      .actions{:style => "float: right;"}
        = f.submit
      - if current_user.has_role?("agency") and !current_user.admin?
        %b
          Nome
        =@user.name
        %p.small
          As agencia são obrigadas manter o nome "Agencia".
      - else
        .field
          = f.label :name
          = f.text_field :name
      .field
        = f.label :slug
        = f.text_field :slug
      .field
        = f.label :surname
        = f.text_field :surname
      - if @user.agency? || @user.org?
        .field
          = f.label :telephone
          = f.text_field :telephone
      .field
        = f.label :login
        = f.text_field :login
      .field
        = f.label :email
        -if Identity.find_by_user_id(@user.id).blank?
          = f.text_field :email
        -else
          = f.text_field :email
      .field
        = f.label :sex
        = select(:user, :sex,options_for_select([[t('man'),'M'],[t('women'),'F']],@user.sex),:prompt => t('chooseSex'))
      .field
        = f.label :birthday
        = f.date_select :birthday, :start_year=>1950, :end_year => 2010
      .field
        = f.label :country
        = f.country_select :country
      .field
        = f.label :city
        = f.text_field :city
      .field
        = f.label :web
        = f.text_field :web
      .field
        = f.label :fb
        = f.text_field :fb
      .field
        = f.label :bio
        = f.text_area :bio, class: 'froala', size: "100x20"
      .actions
        = f.submit
    %div#tab_avatar
      .field
        = image_tag @user.avatar_url if @user.avatar?
        = f.label :avatar
        = f.file_field :avatar
        = f.check_box :remove_avatar
        = t('removeImage')
      .field
        = image_tag @user.small_logo_url if @user.small_logo?
        = f.label :small_logo
        = f.file_field :small_logo
        = f.check_box :remove_small_logo
        = t('removeImage')
      .actions
        = f.submit
    -if can? :manage, :all
      %div#tab_roles
        %h3= t('assignedRoles')
        %ul
          -for role in Role.all
            %li
              = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
              = role.name
          = hidden_field_tag 'user[role_ids][]', ''
        .actions
          = f.submit
  = form_for(@user, :url => { :action => "update_password" }, :html => {:class => 'admin-form'}) do |f|
    %div#tab_security
      .field
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off"
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit 'Salvar Senha'
        %small Apertando este botão salvará apenas a senha.
