%a.article.hidden-sm{:href => user_url(profile_athl_xs)}
  .article--image-big
    %img{:alt => "", :src => profile_athl_xs.avatar_url(:ava), :itemprop => "image"}/
  .article--inner
    .article--title
      =profile_athl_xs.name
      =profile_athl_xs.surname
.article.visible-sm
  .article--inner.pad
    .article--image
      %img.rnd{:alt => "", :src => profile_athl_xs.avatar_url(:ava), :itemprop => "image"}/
    .article--info
      .article--title
        = profile_athl_xs.name
        =profile_athl_xs.surname

    .article--text
      =profile_athl_xs.bio
      %a{:href => user_url(profile_athl_xs)}
        =t('readMore')
