.heading
  %h1= t('userProfile')
  -#- if !current_user.athlete?

.profile-card
  .leftcol
    = avatar_img(profile)
  .rightcol
    .title
      %span.name= profile.name.to_s + ' ' + profile.surname.to_s
      -if !profile.login.blank?
        =' aka ' + profile.login.to_s
      - if profile.online?
        %span.online online
      - else
        %span.offline offline
        %span.activity
          %b
            = t('lastSignInAt')
            \:
          = user_last_seen_at(profile)
    %ul.details-list
      - if !(profile.agency? or profile.org?)
        -if profile.younger_45?
          %li
            %b
              = t('age')
              \:
            = profile.age
        -unless profile.sex.nil?
          %li
            %b
              = t('sex')
              \:
            =profile.sex.to_s
        -if profile.younger_45?
          %li
            %b
              = t('birthday')
              \:
            =profile.birthday.to_formatted_s(:long)
      -unless profile.country.blank?
        %li
          %b
            = t('country')
            \:
          =Carmen::Country.coded(profile.country).name
      -unless profile.city.blank?
        %li
          %b
            = t('city')
            \:
          =profile.city
      %li.contacts
        %b
          = t('contacts')
          \:
        .contacts-list
          - if profile.confirmed?
            %span.email=mail_to profile.email, profile.email, :target => "_blank"
          -elsif !profile.unconfirmed_email.blank?
            %span.email=mail_to profile.unconfirmed_email, profile.unconfirmed_email, :target => "_blank"
          -else
            %span.email=mail_to profile.email, profile.email, :target => "_blank"
          - if profile.web and !profile.web.empty?
            %span.web{:title => "Site de Usuario"}
              =link_to cut_phrase(URI.parse(profile.web).host,45), profile.web, :target => "_blank"
          - if profile.present?
            %span.fb{:title => "Perfil no Facebook"}
              =link_to(profile.fb, :target => "_blank") do
                =cut_phrase(profile.name.to_s+" "+profile.surname.to_s,45)
          - if (profile.agency? or profile.org?) and profile.telephone
            %span.phone=profile.telephone
        .clear
  .clear
  -unless profile.bio.blank?
    %p.bio
      %b Biografia:
      =profile.bio.html_safe
  -unless profile.image_galleries.all.count.zero?
    = render profile.image_galleries
