%a.article.hidden-sm{:href => user_url(profile_org_xs)}
  .article--image-big
    %img{:alt => "", :src => profile_org_xs.avatar_url(:thumb), :itemprop => "image"}/
  .article--inner
    .article--title
      =profile_org_xs.surname
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => profile_org_xs.avatar_url(:thumb), :itemprop => "image"}/
    .article--info
      .article--title
        =profile_org_xs.surname

    .article--text
      =profile_org_xs.bio.to_s.html_safe
      %a{:href => user_url(profile_org_xs)}
        =t('readMore')
