%a.article.hidden-sm{:href => user_url(profile_agency_xs)}
  .article--image-big
    %img{:alt => "", :src => profile_agency_xs.avatar_url(:thumb), :itemprop => "image"}/
  .article--inner
    .article--title
      =profile_agency_xs.name
      =profile_agency_xs.surname
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => profile_agency_xs.avatar_url(:thumb), :itemprop => "image"}/
    .article--info
      .article--title
        = profile_agency_xs.name
        = profile_agency_xs.surname

    .article--text
      =profile_agency_xs.bio.html_safe
      %a{:href => user_url(profile_agency_xs)}
        =t('readMore')
