.profile-agnc-card
  .leftcol
    = link_to logo_img(profile), user_url(profile)
  .rightcol
    .title
      %span.name
        = link_to profile.surname.to_s, user_url(profile), :class =>"name"
    %ul.details-list
      -unless profile.city.blank?
        %li
          %b
            = t('city')
            \:
          =profile.city
      -if Settings.offers
        %li
          %b
            = t('publishedOffers')
            \:
            = offers_published(profile)

      %li.contacts
        %b
          = t('contacts')
          \:
        .contacts-list
          - if profile.web and !profile.web.empty?
            %span.web
              =link_to cut_phrase(URI.parse(profile.web).host,35), profile.web, :target => "_blank"
          - if profile.fb and !profile.fb.to_s.empty?
            %span.fb{:title => "Perfil no Facebook"}
              =link_to(profile.fb, :target => "_blank") do
                =cut_phrase(profile.name.to_s+" "+profile.surname.to_s,35)
          %span.email
            =mail_to profile.email, profile.email, :target => "_blank"
          - if profile.telephone
            %span.phone
              = profile.telephone
        .clear
-unless profile.bio.blank?
  %p.bio2{:style=>"margin-top: 10px;"}
    = profile.bio.html_safe
.clear
