.profile-agnc-card
  .leftcol
    -# = link_to avatar_img(profile), user_url(profile)
    = logo_img(profile)
  .rightcol
    .title
      %span.name
        = profile.surname.to_s
    %ul.details-list
      -unless profile.city.blank?
        %li
          %b
            = t('city')
            \:
          =profile.city
      %li.contacts
        %b
          = t('contacts')
          \:
        .contacts-list
          - if profile.web and !profile.web.empty?
            %span.web
              =link_to cut_phrase(URI.parse(profile.web).host,35), profile.web, :target => "_blank"
          - if profile.fb and !profile.fb.to_s.empty?
            %span.fb{:title => "Perfil no Facebook"}
              =link_to(profile.fb, :target => "_blank") do
                =cut_phrase(profile.surname.to_s,45)
          - if profile.login
            %span.email
              =mail_to profile.login, profile.login, :target => "_blank"
          - if profile.telephone
            %spne.phone
              = profile.telephone
        .clear
-unless profile.bio.blank?
  %p.bio2{:style=>"margin-top: 10px;"}
    %b
      O que é:
  %p.bio2{:style=>"margin-top: 0px;"}
    = profile.bio.html_safe
  .clear
