-content_for :for_head do
  %title Atetas brasileiros de Snowboard | Zona Radical
  %meta{:name => "description",
      :content => "A lista dos melhores atletas brasileiros de snowboard"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "A lista dos melhores atletas brasileiros de snowboard"}
  %meta{:property=>"og:title", :content => "Atletas brasileiros de Snowboard | Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/athletes.png"}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  .heading
    %h1= t('athletes')
    = render 'shared/social_sharing', style: 'float: right;'

  .introtext
    Nesta página nós publicamos a lista dos melhores atletas brasileiros de snowboard. Os mais conhecidos, os mais bem sucedidos.

    Não é uma lista de atletas "oficias-profissionais", então não precisa de resolução de nenhum orgão oficial para aparecer aqui, e sim um bom nível de riding e participação nos eventos (inter)nacionais.
  .introtext
    Caso você conheça mais alguém merecendo um espaço no site, nos envie o nome e todas informações disponíveis.

  .introtext
    Os rankings oficias de snowboarders brasileiros podem ser encontrados nas paginas de
    =link_to "World Snowboard Tour,", "http://www.worldsnowboardtour.com/points-lists/?gender=M&type=SS&nation=BRA#table", :target=>"blank"
    =link_to "Comite Sudamericano de Snowboard,", "http://www.southamericasnowboard.com/rankings.html", :target=>"blank"
    e
    =link_to "Federação Internacional de Ski.", "http://data.fis-ski.com/snowboard/fis-points-lists.html", :target=>"blank"


  .heading

  - @users.each do |athlete|
    = render 'profile_athl', profile: athlete
    .heading
  = will_paginate @users,:previous_label => '<<',:next_label => '>>', :inner_window => 1
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Atletas Brasileiros"

      .article
        .article--inner
          .article--desc
            Nesta página nós publicamos a lista dos melhores atletas brasileiros de snowboard. Os mais conhecidos, os mais bem sucedidos.
            Não é uma lista de atletas "oficias-profissionais", então não precisa de resolução de nenhum orgão oficial para aparecer aqui, e sim um bom nível de riding e participação nos eventos (inter)nacionais.
          .article--desc
            Caso você conheça mais alguém merecendo um espaço no site, nos envie o nome e todas informações disponíveis.
        .article--inner
          .article--desc
            Os rankings oficias de snowboarders brasileiros podem ser encontrados nas paginas de
            =link_to "World Snowboard Tour,", "http://www.worldsnowboardtour.com/points-lists/?gender=M&type=SS&nation=BRA#table", :target=>"blank"
            =link_to "Comite Sudamericano de Snowboard", "http://www.southamericasnowboard.com/rankings.html", :target=>"blank"
            e
            =link_to "Federação Internacional de Ski.", "http://data.fis-ski.com/snowboard/fis-points-lists.html", :target=>"blank"



      = render partial: "profile_athl_xs", collection: @users
      = will_paginate @users
      -# ToDo pagination style
      =render 'shared/advert_xs'

