-content_for :for_head do
  %title Organizações de snowboard do Brasil| Zona Radical
  %meta{:name => "description",
      :content => "A lista das poucas organizações brasileiros de snowboard"}
  -# facebook METAS
  %meta{:property=> "og:description", :content => "A lista das poucas organizações brasileiros de snowboard"}
  %meta{:property=>"og:title", :content => "Organizações de snowboard do Brasil| Zona Radical"}
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/orgs.png"}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  .heading
    %h1
      Organizações de snowboard
    = render 'shared/social_sharing', style: 'float: right;'

  .introtext
    Não há muitas Organizações de snowboard no Brasil, mas damos aqui a lista completa delas.
  .introtext
    Caso você conheça mais alguma merecendo espaço aqui, nos envie todas informações disponíveis
    =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br", :target => '_blank'
  .heading

  - @users.each do |org|
    = render 'profile_org', profile: org
    -if can? :update, org
      =link_to t('editProfile'), edit_user_path(org), :target => "_blank"
    .heading
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Organizações Brasileiras de Snowboard"

      .article
        .article--inner
          .article--desc
            Não há muitas Organizações de snowboard no Brasil, mas damos aqui a lista completa delas.
        .article--inner
          .article--desc
            Caso você conheça mais alguma merecendo espaço aqui, nos envie todas informações disponíveis
            =link_to "info@zonaradical.com.br", "mailto:info@zonaradical.com.br", :target => '_blank'

      = render partial: "profile_org_xs", collection: @users

      =render 'shared/advert_xs'
