-content_for :for_head do
  -if @user.roles.include?("athlete")
    %title #{@user.name.to_s} #{@user.surname.to_s} | Atletas do Brasil
    %meta{:property=>"og:title", :content => @user.name.to_s+" "+ @user.surname.to_s+" | Atletas do Brasil"}
    %meta{:name => "description",
        :content => "Perfil personalizado de "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos."}
    %meta{:property=> "og:description", :content => "Perfil perzonalizado de "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos."}
  - elsif @user.agency?
    %title #{@user.surname.to_s} | Agencias do Brasil
    %meta{:property=>"og:title", :content => @user.surname.to_s+" | Agencias do Brasil"}
    %meta{:name => "description",
        :content => "Perfil personalizado da "+@user.name.to_s+" "+@user.surname.to_s+": pacotes e ofertas, contatos, galeria das fotos e videos."}
    %meta{:property=> "og:description", :content => "Perfil perzonalizado da "+@user.name.to_s+" "+@user.surname.to_s+": pacotes e ofertas, contatos, galeria das fotos e videos."}
  - else
    %title #{@user.name.to_s} #{@user.surname.to_s} | Snowboarders do Brasil
    %meta{:property=>"og:title", :content => @user.name.to_s+" "+ @user.surname.to_s+" | Snowboarders do Brasil"}
    %meta{:name => "description",
        :content => "Perfil personalizado de "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos."}
    %meta{:property=> "og:description", :content => "Perfil perzonalizado de "+@user.name.to_s+" "+@user.surname.to_s+": biografia, contatos, galeria das fotos."}
  -# facebook METAS
  %meta{:property=>"og:url", :content => request.original_url.to_s}
  %meta{:property=> "og:image", :content=> @user.avatar_url}
  -unless @user.image_galleries.all.count.zero?
    - @user.image_galleries.each do |galler|
      - galler.gallery_images.each do |img|
        %meta{:property=> "og:image", :content=>  img.image_url(:slider).to_s}
  %meta{:property=>"og:type", :content =>"website"}
.main-content
  -if @user.agency?
    .heading
      %h1
        Perfil de Agência
    = render 'profile_agency', profile: @user
    - if @user.blogs.count > 0
      .heading
        %h1
          Blog
      %ul.stations-list
        =render partial: "blogs/blog", collection: @user.blogs
      .clear
    - if Offer.published.owned_by([@user]).count > 0 and Settings.offers
      %p
      = form_tag @user, id: 'show_passed_form', method: :get, enforce_utf8: false do
        Mostrar Pacotes passados
        = check_box_tag :show_passed, '1', params[:show_passed] == "1"
      .heading
        %h1
          Pacotes criados por #{@user.name} #{@user.surname}
      = render 'offers/offer', offers: params[:show_passed] == "1" ? Offer.published.owned_by([@user]) : Offer.published.switched_on.owned_by([@user]), offer_path_method: "offer_path"
  - else
    = render 'profile', profile: @user
    .heading
      %h1
        Blog
    %ul.stations-list
      =render partial: "blogs/blog", collection: @user.blogs.order(orig_date: :desc)
-content_for :aside do
  %aside
    .heading
      %h1= t('personalMenu')
    .buttons
      -if can? :update, @user
        %a.button{:href => edit_user_path(@user)}= t('editProfile')
        = image_gallery_button
      - if @user.agency?
        = offer_button if Settings.offers
      - else
        = tour_button
    .clear
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{@tip.image_url(:big_thumb)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag @user.avatar_url(:ava)
        /%img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          =@user.name
          =@user.surname
      -#= image_tag @tip.image_url(:big_thumb)
      .one--inner
        .tabs
          .tabs--items
            %a.active{"data-id" => "b1", :href => "#"} Bio

          .tabs--boxes
            .tabs--box.shown{"data-id" => "b1"}
              -#=image_tag(@tip.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
              %div
                %p
                  -unless @user.bio.blank?
                    =@user.bio.html_safe

        -unless @user.image_galleries.all.count.zero?
          = render @user.image_galleries

    -if @user.agency? and Settings.offers
      - if Offer.published.owned_by([@user]).count > 0
        .article
          .article--inner
            .article--desc
              %p
                Pacotes criados por #{@user.name} #{@user.surname}
        = render partial: "offers/offer_xs", collection: Offer.published.switched_on.owned_by([@user])

    -if can? :update, @user
      %a.button{:href => edit_user_path(@user)}= t('editProfile')
