= form_for(@slide, :html => {:mulslideart => true, :class => 'admin-form'}) do |f|
  - if @slide.errors.any?
    #error_explanation
      %h1
        = pluralize(@slide.errors.count, "error")
        prohibited this slide from being saved:
      %ul
        - @slide.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :status
    = f.select :status, [['Ativo', true], ['Inativo', false]]
  .field
    minimal image 635*372
    = image_tag @slide.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .actions
    = f.submit
