.heading
  %h1 All Slides

- @slides.order(created_at: :desc).each do |slide|
  %p
    %b= slide.title
    Publicado:
    =slide.status.to_s
    %br
    =image_tag(slide.image_url(:thumb).to_s, class: 'med-img', itemprop: "image")
    %br
    - if can? :manage, slide
      = link_to t('show'), slide
      = link_to t('edit'), edit_slide_path(slide)
      = link_to t('destroy'), slide, method: :delete, data: { confirm: t('confirm_destroy') }
