-content_for :for_head do
  %title Zona Radical | Dicas de Snowboard: #{@slide.title}

.heading
  %h1
    %span{:itemprop=>"articleSection"}
      =t('slides')

%article
  %h3 Título
  %p #{@slide.title}

  %h3 Descrição
  %p #{@slide.description}
  
  %h3 Status
  %p #{@slide.slide_status}
  
  %h3 Imagem
  %p
    =image_tag(@slide.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")

  %p
    - if can? :manage, @slide
      = link_to t('edit'), edit_slide_path(@slide)
      = link_to t('destroy'), slide_path(@slide), method: :delete, data: { confirm: t('confirm_destroy') }
  
  %p
    %br