%p#notice= notice
.main-content
  .heading
    %h1= t('Media') + ': ' + @media_image_category.name
  .introtext= @media_image_category.description.html_safe unless @media_image_category.description.nil?
  -if can? :update, @media_image_category
    = link_to t('edit'), edit_tip_category_path(@media_image_category)
  .clear
  %ul.stations-list
    =render @image_galleries
    = will_paginate @image_galleries,:previous_label => '<<',:next_label => '>>', :inner_window => 1
  -if @media_image_category.children?
    -@media_image_category.children.each do |media_category|
      -unless media_category.tips.empty?
        .heading
          %h1= media_category.name + ' (' + media_category.tips.size.to_s + ')'
        .introtext= media_category.description.html_safe unless media_category.description.nil?
        -if can? :update, media_category
          = link_to t('edit'), edit_media_image_category_path(media_category)
        .clear
        %ul.stations-list
          =render media_category.tips.limit(3)
        -if media_category.tips.size > 3
          %p= link_to t('otherTips') + media_category.name, media_image_category_path(media_category)
-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =#render 'shared/aside/aside_tip_category', :tip_category => @media_image_category
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear
