= form_for(@tip, html: { multipart: true, class: 'admin-form' }) do |f|
  - if @tip.errors.any?
    #error_explanation
      %h1
        = pluralize(@tip.errors.count, "error")
        prohibited this tip from being saved:
      %ul
        - @tip.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  - if !@tip.new_record? && current_user.admin?
    .field
      = f.label :author
      -# = f.select :author_id, User.all.collect { |user| [user.name, user.id] }
      = f.select :author_id, User.all.joins(:roles).where(roles: { name: 'editor' }).order(name: :asc).collect { |user| [user.name + " " + user.surname, user.id] }
  .field
    = f.label :title
    = f.text_field :title, data: { url: slug_tips_path }
  -if session[:locale]=='pt-BR'
    .field
      = f.label :slug
      = f.text_field :slug
  .field
    = f.label :category
    = f.select(:tip_category_id, TipCategory.all.collect { |tip_category| [tip_category.name, tip_category.id] })
  .field
    minimal image 368*210
    = image_tag @tip.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image
  .field
    = f.label :short_description
    = f.text_area :short_description, rows: 10, cols: 50, maxlength: 250
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :level1_description
    = f.text_area :level1_description, class: 'froala', rows: 40, cols: 120
  .field
    = f.label :level2_description
    = f.text_area :level2_description, class: 'froala', rows: 40, cols: 120
  .field
    = f.label :level3_description
    = f.text_area :level3_description, class: 'froala', rows: 40, cols: 120
  = render 'shared/image_gallery/form_tips', f: f, media: @tip
  .actions
    = f.submit
