%a.article.hidden-sm{:href => show_tip_path(tip_xs.tip_category, tip_xs)}
  .article--image-big
    %img{:alt => "", :src => tip_xs.image_url(:extra_big_thumb), :itemprop => "image"}/
  .article--inner
    .article--title
      =tip_xs.title
.article.visible-sm
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => tip_xs.image_url(:big_thumb), :itemprop => "image"}/
    .article--info
      .article--title
        =tip_xs.title
      -unless tip_xs.author.nil?
        .article--user
          = link_to tip_xs.author.name+" "+tip_xs.author.surname, user_path(tip_xs.author), :target=>"_blank"
    .article--text
      =tip_xs.short_description.html_safe
      %a{:href => show_tip_path(tip_xs.tip_category, tip_xs)}
        =t('readMore')
    .article--tools.visible-sm.clearfix

      - unless tip_xs.tag_list.empty?
        .article--tags.left
          %span.bold
            Marcações:
          %span
            = tag_list_linked(tip_xs.tag_list)

      .article--category.right
        =link_to tip_xs.tip_category.name, show_tip_category_path(tip_xs.tip_category)
