.main-content
  -content_for :for_head do
    -# general METAS
    %title Dicas de Snowboard | Zona Radical
    %meta{:name => "description", :content =>  "As dicas de snowboard: como viajar económico, aprender rápido, escolher e comprar o melhor equipamento."}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  "Dicas de Snowboard | Zona Radical"}
    %meta{:property=>"og:description", :content =>  "As dicas de snowboard: como viajar económico, aprender rápido, escolher e comprar o melhor equipamento."}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading
    %h1{:style=>'font: normal normal 20px / 19px "HelveticaNeueBold", Arial, Helvetica, sans-serif;'}
      =t('tips')
  .clear
  %p{:style=>'padding-bottom: 16px;'}
    Essa sessão do nosso portal é dedicada as Dicas de snowboard. Nos tentamos contar a nossa própria experiencia de como aprender
    rápido andar de snowboard, de como viajar econômico, de como escolher a melhor estação nos EUA ou nos Alpes, como encontrar sua
    melhor câmera de ação e como editar videos... Alem disso traduzimos para você as melhores matérias das revistas internacionais
    de snowboard e procuramos opiniões de melhores atletas brasileiros.

  - unless TipCategory.all.empty?
    - TipCategory.all.each do |tip_category|
      -unless tip_category.tips.empty?
        .heading
          %h1= tip_category.name + ' (' + tip_category.tips.size.to_s + ')'
          = link_to t('allTips') + tip_category.name, show_tip_category_path(tip_category), class: :all
        .introtext
          -if !tip_category.description.nil?
            =tip_category.description.html_safe
          =link_to 'Todas dicas da categoria', show_tip_category_path(tip_category)
        -if can? :update, tip_category
          = link_to t('edit'), edit_tip_category_path(tip_category)
        .clear
        %ul.stations-list
          =render tip_category.tips.order(created_at: :desc).limit(3)
          -if tip_category.tips.size > 3
            %p.others= link_to t('otherTips') + tip_category.name, show_tip_category_path(tip_category)
  .clear


-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => nil
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_resort_gallery'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      =render 'layouts/list_filters_xs', :header_txt => "Todas Dicas"

      .article
        .article--inner
          .article--desc
            Todas as dicas sobre snowboard

      = render partial: "tips/tip_xs", collection: @tips.order(created_at: :desc)
      = will_paginate @tips
      -# ToDo pagination style

      =render 'shared/advert_xs'
