.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    -# general METAS
    %title #{@tip.title} | Dicas de Snowboard | ZR
    %meta{:name => "description", :content =>  @tip.short_description.to_s}
    %meta{ name: "keywords",
      content: @tip.tag_list.to_s+", snowboard, snowboarding, Brasil, Brazil, prancha, roupas de snowboard, equipamento de snowboard, praticar snowboard, aprender snowboard, equipamento" }

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:description", :content =>  @tip.short_description.to_s}
    %meta{:property=>"og:title", :content => @tip.title+" | Dicas de Snowboard | ZR"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @tip.image_url(:original).to_s}
    -unless @tip.gallery_images.all.count.zero?
      -@tip.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>@tip.author.name+' '+@tip.author.surname+" | Zona Radical"}
    %meta{:itemprop=>"description", :content => @tip.short_description.to_s}
    %meta{:itemprop=>"keywords", :content => @tip.tag_list.to_s+', snowboard, snowboarding, Brasil, Brazil, prancha, roupas de snowboard, equipamento de snowboard, praticar snowboard, aprender snowboard, equipamento'}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"image", :content=> @tip.image_url(:original).to_s}
    -unless @tip.gallery_images.all.count.zero?
      -@tip.gallery_images[0..3].each do |image|
        %meta{:property=> "image", :content=> image.image_url(:slider).to_s}
  .heading
    %h1
      %span{:itemprop=>"articleSection"}
        =t('tips')
      \:
      %span{:itemprop=>"about"}
        = link_to @tip.tip_category.name, show_tip_category_path(@tip.tip_category)
  %article
    =image_tag(@tip.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
    %h2{:itemprop=>"headline"}
      =@tip.title
    %i.extra-info
      =distance_of_time_in_words_to_now @tip.created_at
      = t('ago')
      - unless @tip.tag_list.empty?
        = ' / Marcações: '
        = tag_list_linked(@tip.tag_list)
    -if @tip.level1_description.present? and !@tip.level2_description.present? and !@tip.level3_description.present?
      %div#tabs
        %div#tab_level1
          =@tip.level1_description.html_safe
    -else
      %div#tabs
        %ul.levels
          -if !@tip.level1_description.blank? and !@tip.level2_description.blank?
            %li
              %a{:href => '#tab_level1'}
                %span Nivel 1
          -if !@tip.level2_description.blank?
            %li
              %a{:href => '#tab_level2'}
                %span Nivel 2
          -if !@tip.level3_description.blank?
            %li
              %a{:href => '#tab_level3'}
                %span Nivel 3
        -# end levels buttons
        -if !@tip.level1_description.to_s.blank?
          %div#tab_level1

            %div{:itemprop=>"articleBody"}
              =@tip.level1_description.html_safe

        -if !@tip.level2_description.to_s.blank?
          %div#tab_level2
            =@tip.level2_description.html_safe

        -if !@tip.level3_description.to_s.blank?
          %div#tab_level3
            =@tip.level3_description.html_safe
    -unless @tip.gallery_images.all.count.zero?
      =render 'shared/sliders/tip', images: @tip.gallery_images.all
    = render 'shared/social_sharing', style: 'float: right; margin-top: 10px;'
    .clear
    =render 'shared/related_mat', objects: similar_tips(@tip)

    - if can? :tip, :update
      = link_to t('edit'), edit_tip_path(@tip)
      |
      \#{link_to 'Back', tips_path}
    - if Settings.enable_forum
      = render 'shared/comments', { comment_discourse: @tip, form_path: comment_tip_path, commentable_show_path: show_tip_path(@tip.tip_category, @tip) }
    = render 'shared/ads_nut_1'

-# end main-content

-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => @tip.tip_category
    = render 'shared/ads_nut_aside'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_latest_blogs'
    =render 'shared/aside/aside_advert'
    -#=render 'shared/aside/aside_fb_like_box'
    =render 'shared/aside/aside_social_buttons'

  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> @tip.tip_category.name, :header_url => show_tip_category_path(@tip.tip_category)

  .container
    .one
      .one--info
        -#{:style => "background-image: url(#{@tip.image_url(:big_thumb)})"}
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag @tip.image_url(:big_thumb)
          -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @tip.title
        .one--info-date
          %i
          %span
            =@tip.created_at.strftime('%d/%m/%Y')
        -#= image_tag @tip.image_url(:big_thumb)
      .one--inner
        -unless @tip.author.nil?
          - if !@tip.author.name=="Ignat"
            .one--inner-avatar
              =image_tag @tip.author.avatar_url(:ava)
              -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100"}/
            .one--inner-name.visible-sm
              =@tip.author.name
              =@tip.author.surname
        .tabs
          .tabs--items
            -if !@tip.level1_description.blank?
              %a.active{"data-id" => "b1", :href => "#"} Nivel 1
            -if !@tip.level2_description.blank?
              %a{"data-id" => "b2", :href => "#"} Nivel 2
            -if !@tip.level3_description.blank?
              %a{"data-id" => "b3", :href => "#"} Nivel 3

          .tabs--boxes
            -if !@tip.level1_description.blank?
              .tabs--box.shown{"data-id" => "b1"}
                -#=image_tag(@tip.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
                %div
                  %p
                    =@tip.level1_description.html_safe

            -if !@tip.level2_description.blank? && @tip.level1_description.blank?
              .tabs--box.shown{"data-id" => "b2"}
                %div
                  %p
                    =@tip.level2_description.html_safe
            - elsif !@tip.level1_description.blank?
              .tabs--box{"data-id" => "b2"}
                %div
                  %p
                    =@tip.level2_description.html_safe

            -if !@tip.level3_description.blank?
              .tabs--box.shown{"data-id" => "b3"}
                %div
                  %p
                    =@tip.level3_description.html_safe

        -unless @tip.gallery_images.all.count.zero?
          =render 'shared/sliders/tip_slider_xs', images: @tip.gallery_images.all

        .article--tools.clearfix
          - unless @tip.tag_list.empty?
            .article--tags.left
              %span.bold
                Marcações:
              = tag_list_linked(@tip.tag_list)
          .article--category.right
            %a{:href => show_tip_category_path(@tip.tip_category)} #{@tip.tip_category.name} - Category

      =render 'shared/related_mat_xs', objects: similar_tips(@tip)

      -unless @tip.author.nil?
        =render 'shared/author_xs', author: @tip.author

      -#.trips
      -#  %a{:href => "#"} Crirar Trip
      -#  %a{:href => "#"} Todos Trip
      -#  %a{:href => "#"} Crirar Trip
      -#  %a{:href => "#"} Todos Trip

      - if Settings.enable_forum
        =render 'shared/comments_xs', { comment_discourse: @tip, form_path: comment_tip_path, commentable_show_path: show_tip_path(@tip.tip_category, @tip) }
      -#=render 'shared/related_mat_xs'
      =render 'shared/advert_xs'
      =render 'shared/ads_nut_1'
