.heading
  %h5 Fique conectado
%ul.social-buttons
  %li
    %a.fb{:href => "https://www.facebook.com/zonaradicalbrasil", :target => "_blank"}
  %li
    %a.yt{:href => "http://instagram.com/zonaradicalbr", :target => "_blank"}
  %li
    %a.tw{:href => "https://twitter.com/ZonaRadicalBR", :target => "_blank"}
  %li
    %a.gp{:href => "https://www.youtube.com/channel/UCSrETbpCKUUOS-RBhKZYfRw", :target => "_blank"}
  %li
    -#a.rss{:href => Rails.application.secrets.discourse_url + '/session/sso?return_path='+Rails.application.secrets.discourse_url+'/categories', :alt=> "Comunidade ZR"}
