.advert-block
  .heading
    %h5 Snow-Forecast
  %link{:href => "http://www.snow-forecast.com/stylesheets/feed.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  #wf-weatherfeed
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "272", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.snow-forecast.com/resorts/"+resort_id+"/forecasts/feed/mid/m", :style => "overflow:hidden;border:none;", :width => "469"}
      %p Your browser does not support iframes.
    #wf-link
      %a{:href => "http://www.snow-forecast.com/"}
        %img{:alt => "Snow Forecast", :src => "http://www.snow-forecast.com/images/feed/snowlogo-150.png"}/
      %p#cmt
        View detailed snow forecast for
        %a{:href => "http://www.snow-forecast.com/resorts/"+resort_id+"?utm_source=embeddable&amp;utm_medium=widget&amp;utm_campaign="+resort_id} #{resort_id}
        at:
        %br/
        %a{:href => "http://www.snow-forecast.com/resorts/"+resort_id+"?utm_source=embeddable&amp;utm_medium=widget&amp;utm_campaign="+resort_id}
          %strong snow-forecast.com
      %div{:style => "clear: both;"}
