-#.advert-block
-#  -#-if rand(10)<4
-#  -#  .heading
-# .heading
-#   %h5 Melhores Trips
-# = link_to image_tag('event-rtn.jpg', :alt=>"Uma trip de amigos para Colorado 2017"), "http://zonaradical.com.br/pacotes-ski-snowboard/Breckenridge/colorado-eua-2017", :target=> "blank"

.advert-block
  -#-if rand(10)<4
  -#  .heading
  .heading
    %h5 Adesivos do ZR a um clique
  = link_to image_tag('event-pedido.jpg'), main_app.stickers_path, :target=> "blank"
  -#-else
  -#  .heading
  -#    %h5 Proximo Evento
  -#  = image_tag("/images/22-cbdn-adv.png", :alt=>"Campeonato Brasileiro de Snowboard 2016")

-#.advert-block
-#  .heading
-#    %h5 Ofertas
-#  -if rand(10)<6
-#    = link_to image_tag("/images/offer-valfredo.png", :alt=>"Disconto especial da Agencia Turismo em Chile"), "http://zonaradical.com.br/users/agencia-turismoemchile", :target=> "blank"
-#  -else
-#    = link_to image_tag("/images/offer-overtravel.jpg", :alt=>"Disconto especial da Agencia OverTravel360"), "http://zonaradical.com.br/users/operadora-overtravel360-com", :target=> "blank"
