.heading
  %h5= t('categories')
%ul.categories
  %li
    =link_to tips_path, :rel => 'nofollow' do
      All
      %span='(' + Tip.all.size.to_s + ')'
    -TipCategory.all.each do |root_category|
      %li
        =link_to root_category.name, show_tip_category_path(root_category)
