.heading
  %h5 Lugares: Valle Nevado
  %a.all{:href => '#'} Tudo
%ul.places-list
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-1.jpg'}/
      Title 1
  %li
    %a{:href => '#'}
      %img{:alt => '', :src => '/images/places-2.jpg'}/
      Title 2
