.heading
  %h5 Ultimos Blogs no ZR
  %a.all{:href => blogs_path} Todos
%ul.places-list
  - @blogs[0..1].each do |blg|
    %li
      %a{:href => blog_path(blg)}
        %img{:alt => blg.title, :src => blg.image_url(:thumb)}/
        =blg.title
