-unless @instagram_images.empty?
  .heading
    %h5 Contest leaders
  %ul.contest-leaders
    %li
      =link_to image_tag(@instagram_images[0].thumb_url), contests_path,{'title' => "#{@instagram_images[0].username}(#{@instagram_images[0].full_name}): #{@instagram_images[0].caption}", 'id' => "instagram_image_#{@instagram_images[0].id}"}
    %li
      =link_to image_tag(@instagram_images[1].thumb_url), contests_path,{'title' => "#{@instagram_images[1].username}(#{@instagram_images[1].full_name}): #{@instagram_images[1].caption}", 'id' => "instagram_image_#{@instagram_images[1].id}"}
    %li
      =link_to image_tag(@instagram_images[2].thumb_url), contests_path,{'title' => "#{@instagram_images[2].username}(#{@instagram_images[2].full_name}): #{@instagram_images[2].caption}", 'id' => "instagram_image_#{@instagram_images[2].id}"}
