= form_for(@resort, :html => {:multipart => true, :class => 'admin-form'}) do |f|
  - if @resort.errors.any?
    #error_explanation
      %h1
        = pluralize(@resort.errors.count, "error")
        prohibited this resort from being saved:
      %ul
        - @resort.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
  .field
    = f.label :name
    = f.text_field :name, data: { url: slug_resorts_path }
  .field
    = f.label :slug
    = f.text_field :slug
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list
  - if @resort.persisted?
    .field
      = f.label :snow_forecast_id
      = f.text_field :snow_forecast_id
  .field
    = image_tag @resort.image_url(:thumb).to_s
    = f.label :image
    = f.file_field :image
    = f.check_box :remove_image

  .field
    = f.label :country
    = f.select(:resort_category_id, nested_dropdown(ResortCategory.all.arrange))
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :fb
    = f.text_field :fb
  .field
    = f.label t('linkToResortMap')
    = f.text_field :map_url
  .field
    = f.label t('airport')
    = f.text_field :airport
  .field
    = f.label t('altitude')
    = number_field_tag 'resort[altitude_top]', @resort.altitude_top
    = number_field_tag 'resort[altitude_bottom]', @resort.altitude_bottom
  .field
    = f.label t('drop')
    = number_field_tag 'resort[drop]', @resort.drop
  .field
    = f.label t('terrain')
    = number_field_tag 'resort[terrain]', @resort.terrain
  .field
    = f.label t('lifts')
    = number_field_tag 'resort[lifts]', @resort.lifts
  .field
    = f.label t('slopes')
    = f.text_field :slopes
  .field
    = f.label :level1_description
    = f.text_area :level1_description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :level2_description
    = f.text_area :level2_description, :class => 'froala', :rows => 40, :cols => 120
  .field
    = f.label :level3_description
    = f.text_area :level3_description, :class => 'froala', :rows => 40, :cols => 120

  -unless @resort.gallery_images.all.count.zero?
    %h3 Gallery
    %ul
    -@resort.gallery_images.all.each do |image|
      %li
        = image_tag image.image_url(:thumb).to_s
        = text_area_tag "gallery_images[description][#{image.id}]", image.description, size: '30x5'
        = check_box_tag "gallery_images[remove_image][#{image.id}]"
  .field
    = f.label :add_gallery_images
    = f.file_field :add_gallery_images, :multiple => true, name: 'gallery_images[images][]'
  .actions
    = f.submit
