%li
  =link_to image_tag(resort.image_url(:thumb).to_s,itemprop: "image"), show_resort_path(resort.country, resort), :class => 'img-wrap'
  .details
    %p.name
      =link_to resort.name, show_resort_path(resort.country, resort)
    -unless resort.gallery_images.all.count.zero?
      %span.pics-amount{:title=> t('picsAmount')}
        = resort.gallery_images.all.count.to_s
    -unless resort.drop.to_s.empty?
      %span.drop{:title=> t('drop')}
        = print_with_meters(resort.drop,t('meters'))
    -if !resort.level1_description.blank?
      %p
        =truncate_html(resort.level1_description, length: 203, omission: '...')
        =link_to t('readMore'), show_resort_path(resort.country, resort)
  -if can? :resort, :update
    = link_to t('edit'), edit_resort_path(resort)
  -if can? :resort, :delete
    = link_to 'Destroy', resort, method: :delete, data: { confirm: 'Are you sure?' }
  .clear
