-#a.article.hidden-sm{:href => show_resort_path(resort_xs.country, resort_xs)}
-#  .article--image-big
-#    %img{:alt => "", :src => resort_xs.image_url(:extra_big_thumb), :itemprop => "image"}/
-#  .article--inner
-#    .article--title
-#      =resort_xs.name
-#.article.visible-sm
.article
  .article--inner.pad
    .article--image
      %img{:alt => "", :src => resort_xs.image_url(:thumb), :itemprop => "image"}/
    .article--info
      .article--title
        =resort_xs.name
      -unless resort_xs.gallery_images.all.count.zero?
        .article--photo{:title=> t('picsAmount')}
          = resort_xs.gallery_images.all.count.to_s
      -unless resort_xs.drop.to_s.empty?
        .article--height{:title=> t('drop')}
          = print_with_meters(resort_xs.drop,t('meters'))
    .article--text
      =truncate_html(resort_xs.level1_description, length: 300, omission: '...')
      %a{:href => show_resort_path(resort_xs.country, resort_xs)}
        =t('readMore')
    .article--tools.visible-sm.clearfix
      - unless resort_xs.tag_list.empty?
        .article--tags.left
          %span.bold
            Marcações:
          %span
            = tag_list_linked(resort_xs.tag_list)
      .article--category.right
        - if resort_xs.country.parent
          =link_to resort_xs.country.name,  show_resort_category_path(resort_xs.country)
          = ' - '
          =link_to resort_xs.country.parent.name,  show_resort_category_path(resort_xs.country.parent)
        - else
          =link_to resort_xs.country.name,  show_resort_category_path(resort_xs.country)
