.main-content
  -content_for :for_head do
    -# general METAS
    %title Todas Estações de Ski e Snowboard | Zona Radical
    %meta{:name => "description", :content =>  "As estações de snowboard de mundo inteiro: descrições, opinões, informações."}
    %meta{:name=>"robots", :content=>"noindex, nofollow"}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:title", :content =>  "Todas Estações de Ski e Snowboard | Zona Radical"}
    %meta{:property=>"og:description", :content =>  "As estações de snowboard de mundo inteiro: descrições, opinões, informações."}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -# @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> "http://zonaradical.com.br/images/slide-1.jpg"}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}

  - unless ResortCategory.all.empty?
    - ResortCategory.all.select {|c| c.ancestry==nil}.each do |resort_category|
      .heading
        %h1
          =t('resorts')
          #{resort_category.name}
        = link_to t('allResorts') + resort_category.name, show_resort_category_path(resort_category), class: :all
      - resort_category.children.each do |ch_resort_category|
        -unless ch_resort_category.resorts.empty?
          .heading
            %h1= "#{ch_resort_category.name} (#{ch_resort_category.resorts_size_with_children})"
            = link_to t('allResorts') + ch_resort_category.name, show_resort_category_path(ch_resort_category), class: :all
          .introtext
            -if !ch_resort_category.description.nil?
              =truncate_html(ch_resort_category.description, length: 203, omission: '...')
              -if ch_resort_category.description.html_safe.length>200
                =link_to t('readMore'), show_resort_category_path(ch_resort_category)
          -if can? :update, ch_resort_category
            = link_to t('edit'), edit_resort_category_path(ch_resort_category)
          .clear
          %ul.stations-list
            =render ch_resort_category.resorts.limit(3)
            -if ch_resort_category.resorts.size > 3
              %p.others= link_to t('otherResorts') + ch_resort_category.name, show_resort_category_path(ch_resort_category)

  .clear

-content_for :aside do
  %aside
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_resort_category', :resort_category => nil
    =render 'shared/aside/aside_advert'
    -#=render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_fb_like_box'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      .articles--title.clearfix
        .articles--filter.left
          %a.articles--filter-btn{:href => "#"} Países
          .articles--filter-box
            %ul.articles--filter-list
              =filter_xs_resort_categories(ResortCategory.all.arrange)
        .news--item-title.right.clearfix
          .news--item-name.left
            Todas estações de ski


      = render partial: "resorts/resort_xs", collection: @all_resorts
      = will_paginate @all_resorts
      -# ToDo pagination style
