.main-content{:itemscope => true, :itemtype => "http://schema.org/SkiResort"}
  -content_for :for_head do
    -# general METAS
    %title #{@resort.name} | Estação de Ski e Snowboard | #{@resort.resort_category.name}
    %meta{:name => "description", :content =>  "Descrição de estação de ski #{@resort.name} de #{@resort.resort_category.name}, dicas de viagens, informação da montanha e pistas."}
    %meta{:name => "keywords",
      :content=> @resort.tag_list.to_s+", "+@resort.name.to_s+", "+@resort.resort_category.name.to_s+", snowboard, snowboarding, Brasil, Brazil, praticar snowboard, aprender snowboard, estações de ski, estações de esqui, guia das estações"}

    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=> "og:description", :content =>   "Descrição de estação de #{@resort.name} de #{@resort.resort_category.name}, dicas de viagens, informação da montanha e pistas."}
    /strip_tags(@resort.level1_description.to_s)
    %meta{:property=>"og:title", :content => "#{@resort.name} | Estação de Ski e Snowboard | #{@resort.resort_category.name}"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    %meta{:property=> "og:image", :content=> @resort.image_url(:extra_big_thumb).to_s}
    -unless @resort.gallery_images.all.count.zero?
      -@resort.gallery_images[0..3].each do |image|
        %meta{:property=> "og:image", :content=> image.image_url(:slider).to_s}
  .heading
    -# schema.org METAS
    %meta{:itemprop=>"logo", :content => @resort.image_url(:extra_big_thumb).to_s}
    %meta{:itemprop=>"location", :content => @resort.resort_category.name.to_s}
    -# %meta{:itemprop=>"hasMap", :content => @resort.map_url}
    -unless @resort.gallery_images.all.count.zero?
      -@resort.gallery_images[0..3].each do |image|
        %meta{:itemprop=> "photo", :content=> image.image_url(:slider).to_s}
    %meta{:itemprop=>"review", :content => strip_tags(@resort.level1_description)}
    %meta{:itemprop=>"priceRange", :content => "average"}
    %meta{:itemprop=>"keywords",
      :content => @resort.tag_list.to_s+", "+@resort.name.to_s+", "+@resort.resort_category.name.to_s+", snowboard, snowboarding, Brasil, Brazil, praticar snowboard, aprender snowboard, estações de ski, estações de esqui, guia das estações"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
    %meta{:itemprop=>"address", :content => @resort.airport}
    %meta{:itemprop=>"isicV4", :content => "8329"}
    %h1
      %span{:itemprop=>"containedIn"}
        = link_to @resort.resort_category.name, show_resort_category_path(@resort.resort_category)
  .resort-card
    .leftcol
      = resort_logo_img(@resort)
      %ul.details-list
        %li.contacts
          .contacts-list
            %span.web= link_to cut_phrase(@resort.web,33), @resort.web, :target => '_blank'
            %span.fb= link_to cut_phrase(@resort.fb,33), @resort.fb, :target => '_blank'
          .clear
    .rightcol
      .h2{:itemprop=>"name"}
        -# %span.name
        = @resort.name
        = render 'shared/social_sharing', style: 'float: right;'
      %ul.details-list
        %li.details
          .details-list
            %span.air{:title=> t('airport')}
              =print_with_meters(@resort.airport,'')
            %span.pic-base{:title=> t('altitude')}
              =print_pic_base(@resort.altitude_top,@resort.altitude_bottom,t('meters'))
            %span.drop{:title=> t('drop')}
              =print_with_meters(@resort.drop,t('meters'))
            %span.pic-base{:title=> t('terrain')}
              =print_with_meters(@resort.terrain,t('hectars'))
            %span.lifts{:title=> t('lifts')}
              =print_with_meters(@resort.lifts,'lifts')
            %span.slopes{:title=> t('slopes')}
              =@resort.slopes
            %span.map{:title=> t('slopeMap')}
              = link_to cut_phrase(@resort.map_url,45), @resort.map_url, :target => '_blank'
          .clear
    .clear
    %p
      %i= tag_list_linked(@resort.tag_list)

    -#-unless @resort.level1_description.nil?
    -#  %p.descr{:itemprop=>"review"}
    -#    %b
    -#      = t('ourtake')
    -#      \:
    -#    = @resort.level1_description.html_safe

    %div#tabs
      %ul.levels
        -if !@resort.level1_description.blank?
          %li
            %a{:href => '#descricao'}
              %span
                Descrição
        -if !@resort.level2_description.blank?
          %li
            %a{:href => '#dicas_locais'}
              %span Dicas Locais
        -if !@resort.level3_description.blank?
          %li
            %a{:href => '#expert_only'}
              %span Experts only
      -# end levels buttons
      -if !@resort.level1_description.to_s.blank?
        %div#descricao
          %div{:itemprop=>"articleBody"}
            =@resort.level1_description.html_safe

      -if !@resort.level2_description.to_s.blank?
        %div#dicas_locais
          =@resort.level2_description.html_safe
          %p{:style=>"text-align: center; font-style: italic; background: #c5c4c4"}
            %it
              Para publicar seu negocio nessa pagina, por favor preenche
            %a{:href => "http://zonaradical.com.br/lugares"}
              este formulario


      -if !@resort.level3_description.to_s.blank?
        %div#expert_only
          =@resort.level3_description.html_safe

    %div{:style=>"text-align: center"}
      -unless @resort.gallery_images.all.count.zero?
        =render 'shared/sliders/resort_gal', images: @resort.gallery_images.all, name: @resort.name
        .clear
    - if can? :resort, :update
      = link_to t('edit'), edit_resort_path(@resort)
      |
      \#{link_to 'Back', resorts_path}

  =render 'shared/related_mat', objects: similar_tips([@resort.name,@resort.resort_category,@resort.airport,@resort.tag_list])

  -if !@resort.snow_forecast_id.to_s.empty?
    %heading
      %h1
        Previsão de neve
    %link{:href => "http://www.snow-forecast.com/stylesheets/feed.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    #wf-weatherfeed{:style=>"margin-left: auto; margin-right: auto; "}
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "272", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.snow-forecast.com/resorts/"+@resort.snow_forecast_id+"/forecasts/feed/mid/m", :style => "overflow:hidden;border:none;", :width => "469"}
        %p Seu navegador nao pode visualizar o prognostico.
      #wf-link
        %a{:href => "http://www.snow-forecast.com/", :target=>"blank", :rel=>"nofollow"}
          %img{:alt => "Snow Forecast", :src => "http://www.snow-forecast.com/images/feed/snowlogo-150.png"}/
        %p#cmt
          Veja o prognostico detalhado:
          %a{:href => "http://www.snow-forecast.com/resorts/"+@resort.snow_forecast_id+"?utm_source=embeddable&amp;utm_medium=widget&amp;utm_campaign="+@resort.snow_forecast_id,  :target=>"blank", :rel=>"nofollow"} #{@resort.snow_forecast_id}
          at:
          %br/
          %a{:href => "http://www.snow-forecast.com/resorts/"+@resort.snow_forecast_id+"?utm_source=embeddable&amp;utm_medium=widget&amp;utm_campaign="+@resort.snow_forecast_id, :target=>"blank", :rel=>"nofollow"}
            %strong snow-forecast.com
        %div{:style => "clear: both;"}

-content_for :aside do
  %aside
    =render 'shared/aside/aside_resort_category', :resort_category => @resort.resort_category
    =render 'shared/aside/aside_advert'
    = render 'shared/aside/aside_tags'
    -#-if !@resort.snow_forecast_id.to_s.empty?
    -#  =render 'shared/aside/aside_sn_forecast', :resort_id => @resort.snow_forecast_id
    -#=render 'shared/aside/aside_resort_gallery'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
  .clear


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> @resort.resort_category.name, :header_url => show_resort_category_path(@resort.resort_category)

  .container
    .one
      .one--info
        -# url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)"}
        .one--info-image
          = image_tag @resort.image_url(:thumb)
        -#img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120"}/
        .one--info-title
          = @resort.name
        .one--info-date
          %i
          %span
            =@resort.created_at.strftime('%d/%m/%Y')
      .one--inner
        .tabs
          .tabs--items
            -if !@resort.level1_description.blank?
              %a.active{"data-id" => "b1", :href => "#"} Descrição
            -if !@resort.level2_description.blank?
              %a{"data-id" => "b2", :href => "#"} Dicas Locais
            -if !@resort.level3_description.blank?
              %a{"data-id" => "b3", :href => "#"} Experts only

          .tabs--boxes
            -if !@resort.level1_description.blank?
              .tabs--box.shown{"data-id" => "b1"}
                -#=image_tag(@resort.image_url(:big_thumb).to_s, class: 'med-img', itemprop: "image")
                %div#descricao
                  %p
                    =@resort.level1_description.html_safe

            -if !@resort.level2_description.blank?
              .tabs--box{"data-id" => "b2"}
                %div#dicas_locais
                  %p
                    =@resort.level2_description.html_safe

            -if !@resort.level3_description.blank?
              .tabs--box{"data-id" => "b3"}
                %div#expert_only
                  %p
                    =@resort.level3_description.html_safe

        -unless @resort.gallery_images.all.count.zero?
          =render 'shared/sliders/tip_slider_xs', images: @resort.gallery_images.all

        .article--tools.clearfix
          - unless @resort.tag_list.empty?
            .article--tags.left
              %span.bold
                Marcações:
              = tag_list_linked(@resort.tag_list)
          .article--category.right
            %a{:href => show_resort_category_path(@resort.resort_category)} #{@resort.resort_category.name} -
            %a{:href => show_resort_category_path(@resort.resort_category.parent)} #{@resort.resort_category.parent.name}

      - if can? :resort, :update
        = link_to t('edit'), edit_resort_path(@resort)

      -#=render 'shared/related_mat_xs'
      =render 'shared/advert_xs'
