/*
*= reset
*= require select2
*= require_self
*/

html {
  min-width: 100%;
}

body {
  font: normal normal 1rem / 2rem "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  /* Arial on Windows - http://mky.be/fontstack */
  color: #535353; /* 646464 */
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  max-width: 90%;
  position: relative;
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #fefefe 100%);
  /* W3C */
  &:after {
    content: '';
    display: block;
    height: 30%;
  }
}

header {
  position: relative;
  nav {
    height: 2rem;
    position: relative;
    ul {
      &.menu1 {
        margin: 0;
        list-style: none;
        > li {
          float: left;
          a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1rem;
            display: block;
            height: 2rem;
            line-height: 2rem;
            padding: .3rem .3rem;
          }
          > a.active {
            cursor: default;
            background: #ee9200;
          }
        }
        li {
          background: #333333;
          a:hover {
            background: #ee9200;
          }
        }
        > li > a {
          span {
            color: #ee9200;
          }
          &.active span, &:hover span {
            color: #333;
          }
        }
      }
    }
  }
}

.content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

section.top-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
}


.main-content {
  width: 90%;
  float: left;
}

.heading {
  /* position: relative;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid #ee9200;*/
  a.all {
    text-decoration: none;
    float: right;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h1 {
  font: normal normal 1.1rem / 1.5rem "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 0.3rem solid #f78e00;
  padding-bottom: 0.0rem;
}
