/*
*= require fancybox
*= require froala_editor.min.css
*= require froala_style.min.css
*=  require sliders/slick-tips
*=  require shared/flipclock
*/

.instagram_image
{
  display: inline-block;
  width: 200px;
  height: 200px;

  &.mobile
  {
    margin: 0 0 60px 30px;
  }

  span.avatar
  {
    position: relative;
    left: -25px;

    img
    {
      border-radius: 50%;
      border: white 3px solid;
      width: 50px;
      height: 50px;
      bottom: -25px;
      position:relative;
    }
  }
}
.countdown_wrapper
{
  width: 310px;
}
.countdown {margin-top: 30px}
/* Flipclock small  */
.flip-clock-wrapper
{
  .flip-clock-divider
  {
    height: 50px;
    .flip-clock-dot
    {
      display: block;
      background: #323434;
      width: 5px;
      height: 5px;
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      left: 7px;
    }
    .flip-clock-dot.bottom
    {
      top: 26px;
    }
    .flip-clock-dot.top
    {
      top: 13px;
    }
  }
  ul {
    width: 25px;
    height: 50px;
    margin: 0 2px;
    li {
      line-height: 50px;
      a div {
        &.down {
          //Instead of the line below you could use @include border-bottom-left-radius($radius)
          border-bottom-left-radius: 4px;
          //Instead of the line below you could use @include border-bottom-right-radius($radius)
          border-bottom-right-radius: 4px;
        }
        div.inn {
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 4px;
          font-size: 30px;
        }
        &.up:after {
          top: 25px;
          height: 2px;
        }
      }
    }
  }
}

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -40px;
  color: black;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -44px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

h3.center
{
  text-align: center;
  margin: 0 0 0 100px;
  font-size: initial;
}

// FB Likes
._56zz {
  position: absolute;
  width: 100%;
  z-index: 3
}

._56z- {
  top: 24px;
  width: 450px
}

._56z_ {
  top: 23px
}

._56-0 {
  top: 0
}

._56-1 {
  top: 62px
}

._56-2 {
  top: 24px
}

._56zy img {
  margin-top: 0
}

._5jjm ._5jjl {
  background-color: #f6f7f8;
  border-bottom: 1px solid #d9d9d9;
  height: 24px;
  padding: 16px 12px;
  vertical-align: middle
}

._5jjm ._5jjl span {
  display: inline-block;
  vertical-align: middle
}

._5jjm ._5jjn {
  border-radius: 2px;
  height: 24px;
  vertical-align: middle;
  width: 24px
}

._5jjm ._5sdw {
  position: absolute;
  top: 11px
}

._5jjm ._5jjl ._5jjo {
  color: #141823;
  display: inline-block;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  max-width: 340px;
  overflow: hidden;
  padding-left: 37px;
  position: absolute;
  vertical-align: middle
}

._1op8 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}

._5jjm ._56zy {
  margin: 12px 12px 0
}

._5jjm ._56zy .uiMentionsInput {
  min-height: 65px
}

._5jjm *::-webkit-input-placeholder {
  color: #9197a3
}

._5jjm ._56zy .uiTypeahead, ._5jjm ._56zy .uiTypeahead .wrap {
  border: none
}

._5jjq {
  border: 1px solid;
  border-color: #e9eaed #e9eaed #d1d1d1;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15)
}

._5jjq ._5tzr {
  float: left;
  height: 134px;
  margin: 10px 12px;
  position: absolute
}

._5jjq._5tzs ._5tzr {
  float: none;
  height: auto;
  min-height: 100px;
  position: relative
}

._5jjq ._5tzr ._5tzt {
  font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  max-height: 88px;
  overflow: hidden
}

._5jjq ._5tzr ._5tzu {
  bottom: 0;
  color: #9197a3;
  font-size: 11px;
  position: absolute;
  text-transform: uppercase
}

._5jjq ._5tzr ._5tzv {
  font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px
}

._5jjq img {
  margin: 0;
  width: 154px
}

._5jjm th {
  width: 20%
}

@media (max-device-width: 480px) {
  ._56z- {
    width: 320px
  }
  ._5jjq ._5tzr {
    float: none;
    height: auto;
    position: relative
  }
  ._5jjq ._5tzr ._5tzu, ._5jjq ._5tzr ._5tzt {
    max-width: 195px;
    overflow: hidden;
    text-overflow: ellipsis
  }
  ._5jjq ._5tzr ._5tzu {
    position: relative
  }
  ._5jjq img {
    width: 80px
  }
  ._1op8 {
    width: 220px
  }
}

// FB plugin
table#u_0_0{
  line-height: 1.28;
  background: transparent;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px
  h1, h2, h3, h4, h5, h6 {
    font-size: 13px;
    color: #141823;
    margin: 0;
    padding: 0
  }

  h1 {
    font-size: 14px
  }

  h4, h5, h6 {
    font-size: 11px
  }

  p {
    margin: 1em 0
  }

  a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none
  }

  button {
    margin: 0
  }

  a:hover {
    text-decoration: underline
  }

  img {
    border: 0
  }

  td, td.label {
    text-align: left
  }

  dd {
    color: #000
  }

  dt {
    color: #777
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  abbr {
    border-bottom: none;
    text-decoration: none
  }

  hr {
    background: #d9d9d9;
    border-width: 0;
    color: #d9d9d9;
    height: 1px
  }

  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
  }

  .clearfix {
    zoom: 1
  }

  .datawrap {
    word-wrap: break-word
  }

  .word_break {
    display: inline-block
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .aero {
    opacity: .5
  }

  .column {
    float: left
  }

  .center {
    margin-left: auto;
    margin-right: auto
  }

  #facebook .hidden_elem {
    display: none !important
  }

  #facebook .invisible_elem {
    visibility: hidden
  }

  #facebook .accessible_elem {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px
  }

  .direction_ltr {
    direction: ltr
  }

  .direction_rtl {
    direction: rtl
  }

  .text_align_ltr {
    text-align: left
  }

  .text_align_rtl {
    text-align: right
  }

  .pluginFontArial, .pluginFontArial button, .pluginFontArial input, .pluginFontArial label, .pluginFontArial select, .pluginFontArial td, .pluginFontArial textarea {
    font-family: Arial, sans-serif
  }

  .pluginFontLucida, .pluginFontLucida button, .pluginFontLucida input, .pluginFontLucida label, .pluginFontLucida select, .pluginFontLucida td, .pluginFontLucida textarea {
    font-family: Lucida Grande, sans-serif
  }

  .pluginFontSegoe, .pluginFontSegoe button, .pluginFontSegoe input, .pluginFontSegoe label, .pluginFontSegoe select, .pluginFontSegoe td, .pluginFontSegoe textarea {
    font-family: Segoe UI, sans-serif
  }

  .pluginFontTahoma, .pluginFontTahoma button, .pluginFontTahoma input, .pluginFontTahoma label, .pluginFontTahoma select, .pluginFontTahoma td, .pluginFontTahoma textarea {
    font-family: Tahoma, sans-serif
  }

  .pluginFontTrebuchet, .pluginFontTrebuchet button, .pluginFontTrebuchet input, .pluginFontTrebuchet label, .pluginFontTrebuchet select, .pluginFontTrebuchet td, .pluginFontTrebuchet textarea {
    font-family: Trebuchet MS, sans-serif
  }

  .pluginFontVerdana, .pluginFontVerdana button, .pluginFontVerdana input, .pluginFontVerdana label, .pluginFontVerdana select, .pluginFontVerdana td, .pluginFontVerdana textarea {
    font-family: Verdana, sans-serif
  }

  .pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea {
    font-family: helvetica, arial, sans-serif
  }

  ._1f8a {
    display: inline;
    float: left
  }

  ._1f8b {
    float: left
  }

  ._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
  }

  ._5f0n {
    table-layout: fixed;
    width: 100%
  }

  .uiGrid .vTop {
    vertical-align: top
  }

  .uiGrid .vMid {
    vertical-align: middle
  }

  .uiGrid .vBot {
    vertical-align: bottom
  }

  .uiGrid .hLeft {
    text-align: left
  }

  .uiGrid .hCent {
    text-align: center
  }

  .uiGrid .hRght {
    text-align: right
  }

  ._51mx:first-child > ._51m- {
    padding-top: 0
  }

  ._51mx:last-child > ._51m- {
    padding-bottom: 0
  }

  ._51mz ._51mw {
    padding-right: 0
  }

  ._51mz ._51m-:first-child {
    padding-left: 0
  }

  .pluginErrorLink {
    color: #f03d25
  }

  .fss {
    font-size: 9px
  }

  .fsm {
    font-size: 11px
  }

  .fsl {
    font-size: 13px
  }

  .fsxl {
    font-size: 16px
  }

  .fsxxl {
    font-size: 18px
  }

  .fwn {
    font-weight: normal
  }

  .fwb {
    font-weight: bold
  }

  .fcb {
    color: #333
  }

  .fcg {
    color: #7f7f7f
  }

  .fcw {
    color: #fff
  }

  form {
    margin: 0;
    padding: 0
  }

  label {
    cursor: pointer;
    color: #666;
    font-weight: bold;
    vertical-align: middle
  }

  label input {
    font-weight: normal
  }

  textarea, .inputtext, .inputpassword {
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0
  }

  textarea {
    max-width: 100%
  }

  select {
    border: 1px solid #bdc7d8;
    padding: 2px
  }

  .inputtext, .inputpassword {
    padding-bottom: 4px
  }

  .inputtext:invalid, .inputpassword:invalid {
    box-shadow: none
  }

  .inputradio {
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: middle
  }

  .inputcheckbox {
    border: 0;
    vertical-align: middle
  }

  .inputbutton, .inputsubmit {
    border-style: solid;
    border-width: 1px;
    border-color: #dcdee3 #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #fff;
    padding: 2px 15px 3px 15px;
    text-align: center
  }

  .inputsubmit_disabled {
    background-color: #999;
    border-bottom: 1px solid #000;
    border-right: 1px solid #666;
    color: #fff
  }

  .inputaux {
    background: #e9eaed;
    border-color: #e9eaed #666 #666 #e7e7e7;
    color: #000
  }

  .inputaux_disabled {
    color: #999
  }

  .inputsearch {
    background: #ffffff url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/unHwF9CkMyM.png) no-repeat left 4px;
    padding-left: 17px
  }

  .pluginButtonSpacer {
    padding-left: 4px
  }

  .pluginButton {
    background: #4c69ba;
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    background: linear-gradient(#4c69ba, #3b55a0);
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap
  }

  .pluginButtonLight {
    background: -webkit-linear-gradient(#0084ff, #006fff);
    background: linear-gradient(#0084ff, #006fff);
    text-shadow: 0 -1px 0 #005ecf
  }

  .pluginButtonInline {
    display: inline-block
  }

  .pluginButtonX {
    cursor: default
  }

  .pluginButton button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    margin: -1px;
    outline: none;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c
  }

  .pluginButtonIcon {
    height: 14px;
    left: 0;
    margin: 0 4px 0 4px;
    position: relative;
    top: 3px;
    vertical-align: top;
    width: 14px
  }

  .pluginButtonImage {
    display: inline-block
  }

  .pluginButtonContainer {
    -webkit-font-smoothing: antialiased
  }

  .pluginButtonIconPlaceholder {
    display: block;
    height: 14px;
    width: 7px
  }

  .pluginButton .pluginButtonLabel {
    padding: 0 5px 0 0;
    position: relative;
    vertical-align: top
  }

  .android .pluginButton .pluginButtonLabel {
    top: 1px
  }

  .pluginButton:hover {
    background: #5b7bd5;
    background: -webkit-linear-gradient(#5b7bd5, #4864b1);
    background: linear-gradient(#5b7bd5, #4864b1);
    border-color: #5874c3 #4961a8 #41599f;
    box-shadow: inset 0 0 1px #607fd6
  }

  .pluginButtonLight:hover {
    background: -webkit-linear-gradient(#009bff, #0084ff);
    background: linear-gradient(#009bff, #0084ff);
    box-shadow: inset 0 0 1px #006fff
  }

  .pluginButtonPressed, .pluginButtonPressed:hover {
    background: #355089;
    background: -webkit-linear-gradient(#415ca9, #4c69ba);
    background: linear-gradient(#415ca9, #4c69ba);
    border-color: #385490 #ddd #374f92;
    box-shadow: inset 0 0 1px #3e58a3;
    opacity: .7
  }

  .pluginButtonPressedLight, .pluginButtonPressedLight:hover {
    background: -webkit-linear-gradient(#006fff, #0084ff);
    background: linear-gradient(#006fff, #0084ff)
  }

  .pluginButtonErrorLink {
    color: #a00;
    font-weight: bold
  }

  .pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn, .pluginButtonX button:focus .pluginButtonXOn {
    display: inline-block
  }

  .pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff, .pluginButtonX button:focus .pluginButtonXOff {
    display: none
  }

  .pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber {
    display: none
  }

  form.async_saving .pluginButtonThrobber {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 1px;
    max-width: 14px
  }

  .sp_plugin-button-2x {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/KxVPs0eEy36.png);
    background-size: 30px 72px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_favblue {
    background-position: 0 -42px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_chblue {
    background-position: 0 -27px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_xblue {
    background-position: -15px -27px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_thumb {
    width: 13px;
    height: 13px;
    background-position: -15px -57px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_bigthumb {
    width: 29px;
    height: 26px;
    background-position: 0 0
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_fav {
    background-position: -15px -42px
  }

  .sp_plugin-button-2x.sx_plugin-button-2x_favgrey {
    background-position: 0 -57px
  }

  i.img {
    -ms-high-contrast-adjust: none;
    _overflow: hidden
  }

  i.img u {
    left: -999999px;
    position: absolute
  }

  .pluginCountButton {
    background: white;
    border: 1px solid #9197a3;
    border-radius: 2px;
    color: #4e5665;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    margin-left: 6px;
    min-width: 15px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap
  }

  .pluginCountButtonNub {
    height: 0;
    left: 2px;
    position: relative;
    top: -15px;
    width: 5px;
    z-index: 2
  }

  .pluginCountButtonNub s, .pluginCountButtonNub i {
    border-color: transparent #9197a3;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px
  }

  .pluginCountButtonNub i {
    border-right-color: #fff;
    left: 2px;
    top: -7px
  }

  .pluginCountTextConnected, .pluginCountConnected .pluginCountTextDisconnected {
    display: none
  }

  .pluginCountConnected .pluginCountTextConnected {
    display: inline
  }

  ._4xn4 {
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
    border-top: 1px solid #323232
  }

  ._4xn6 {
    background: #fff;
    border-bottom: 2px solid #283e6c;
    color: #000
  }

  ._4xn4, ._4xn4 button, ._4xn4 input, ._4xn4 label, ._4xn4 select, ._4xn4 td, ._4xn4 textarea {
    font-size: 14px
  }

  ._4xn4 .uiToken {
    height: 1.3em
  }

  ._4xn4 .uiToken .remove {
    top: 1px
  }

  ._5op1 ._4xn6 {
    background: #fff;
    -webkit-background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin: 0 3px 3px 3px
  }

  ._5op1 ._4xn4 {
    border: none !important
  }

  ._4xn4 {
    position: relative
  }

  ._4xn8, ._4xn9 {
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0
  }

  ._4xn8 {
    border: 5px solid transparent
  }

  ._4xn9 {
    border: 4px solid transparent
  }

  ._4xna ._4xn8 {
    top: 6px
  }

  ._4xnb ._4xn8 {
    bottom: 6px
  }

  ._4xnc ._4xn8 {
    left: 6px
  }

  ._4xnd ._4xn8 {
    right: 6px
  }

  ._4xne ._4xn8 {
    top: -10px
  }

  ._4xnf ._4xn8 {
    bottom: -10px
  }

  ._4xng ._4xn8 {
    left: -10px
  }

  ._4xnh ._4xn8 {
    right: -10px
  }

  ._4xne ._4xn9 {
    left: -4px;
    top: -3px
  }

  ._4xnf ._4xn9 {
    bottom: -3px;
    left: -4px
  }

  ._4xng ._4xn9 {
    left: -3px;
    top: -4px
  }

  ._4xnh ._4xn9 {
    right: -3px;
    top: -4px
  }

  ._4xne ._4xn8 {
    border-bottom-color: #333
  }

  ._4xnf ._4xn8 {
    border-top-color: #293e6b
  }

  ._5op1 ._4xne ._4xn8 {
    border-bottom-color: #e5e5e5
  }

  ._4xng ._4xn8 {
    border-right-color: #333
  }

  ._4xnh ._4xn8 {
    border-left-color: #333
  }

  ._4xne ._4xn9 {
    border-bottom-color: #fff
  }

  ._4xnf ._4xn9 {
    border-top-color: #fff
  }

  ._4xng ._4xn9 {
    border-right-color: #fff
  }

  ._4xnh ._4xn9 {
    border-left-color: #fff
  }

  ._4xne {
    margin-top: 5px
  }

  ._4xnf {
    margin-bottom: 4px
  }

  ._4xng {
    margin-left: 5px
  }

  ._4xnh {
    margin-right: 5px
  }

  .pluginFluidInputContainer {
    margin: 0 4px
  }

  .pluginFluidInput {
    height: 42px;
    margin-left: -4px;
    width: 100%
  }

  .lfloat {
    float: left
  }

  .rfloat {
    float: right
  }

  ._ohe {
    float: left
  }

  ._ohf {
    float: right
  }

  ._8o, ._8o .img {
    display: block
  }

  ._8r {
    margin-right: 5px
  }

  ._8s {
    margin-right: 8px
  }

  ._8t {
    margin-right: 10px
  }

  ._42ef {
    overflow: hidden
  }

  .pas {
    padding: 5px
  }

  .pam {
    padding: 10px
  }

  .pal {
    padding: 20px
  }

  .pts {
    padding-top: 5px
  }

  .ptm {
    padding-top: 10px
  }

  .ptl {
    padding-top: 20px
  }

  .prs {
    padding-right: 5px
  }

  .prm {
    padding-right: 10px
  }

  .prl {
    padding-right: 20px
  }

  .pbs {
    padding-bottom: 5px
  }

  .pbm {
    padding-bottom: 10px
  }

  .pbl {
    padding-bottom: 20px
  }

  .pls {
    padding-left: 5px
  }

  .plm {
    padding-left: 10px
  }

  .pll {
    padding-left: 20px
  }

  .phs {
    padding-left: 5px;
    padding-right: 5px
  }

  .phm {
    padding-left: 10px;
    padding-right: 10px
  }

  .phl {
    padding-left: 20px;
    padding-right: 20px
  }

  .pvs {
    padding-top: 5px;
    padding-bottom: 5px
  }

  .pvm {
    padding-top: 10px;
    padding-bottom: 10px
  }

  .pvl {
    padding-top: 20px;
    padding-bottom: 20px
  }

  .mas {
    margin: 5px
  }

  .mam {
    margin: 10px
  }

  .mal {
    margin: 20px
  }

  .mts {
    margin-top: 5px
  }

  .mtm {
    margin-top: 10px
  }

  .mtl {
    margin-top: 20px
  }

  .mrs {
    margin-right: 5px
  }

  .mrm {
    margin-right: 10px
  }

  .mrl {
    margin-right: 20px
  }

  .mbs {
    margin-bottom: 5px
  }

  .mbm {
    margin-bottom: 10px
  }

  .mbl {
    margin-bottom: 20px
  }

  .mls {
    margin-left: 5px
  }

  .mlm {
    margin-left: 10px
  }

  .mll {
    margin-left: 20px
  }

  .mhs {
    margin-left: 5px;
    margin-right: 5px
  }

  .mhm {
    margin-left: 10px;
    margin-right: 10px
  }

  .mhl {
    margin-left: 20px;
    margin-right: 20px
  }

  .mvs {
    margin-top: 5px;
    margin-bottom: 5px
  }

  .mvm {
    margin-top: 10px;
    margin-bottom: 10px
  }

  .mvl {
    margin-top: 20px;
    margin-bottom: 20px
  }

  ._1mwt {
    text-align: right
  }

  ._4jy0, ._59pe:focus, ._59pe:hover {
    background-color: #f6f7f8;
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/wL6VQj7Ab77.png);
    background-repeat: repeat-x;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle
  }

  ._4jy0 {
    padding: 0 8px
  }

  ._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle
  }

  html ._4jy0:focus {
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
    outline: none
  }

  ._4jy0._5f0v:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
  }

  ._4jy0 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle
  }

  form.async_saving ._4jy0, a.async_saving._4jy0, ._4jy0._42fr, ._4jy0._42fr:active, ._4jy0._42fr:focus, ._4jy0._42fr:hover {
    cursor: default;
    opacity: .5
  }

  ._517h, ._59pe:focus, ._59pe:hover, ._517h._42fr:active, ._517h._42fr._42fs {
    border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff
  }

  ._517h:active, ._517h._42fs {
    border-color: #ccc
  }

  ._517h._42fs, ._517h._42fr._42fs {
    color: #5890ff
  }

  ._4jy1, ._4jy2 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
  }

  ._4jy1, ._4jy1._42fr:active, ._4jy1._42fr._42fs {
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83
  }

  ._4jy1:active, ._4jy1._42fs {
    background-color: #4e69a2;
    border-color: #2f477a #314a7f #334c83
  }

  ._4jy2, ._4jy2._42fr:active, ._4jy2._42fr._42fs {
    background-color: #6bb933;
    border-color: #60a62e #519f18 #409701
  }

  ._4jy2:active, ._4jy2._42fs {
    background-color: #52bb5d;
    border-color: #3a8b00 #3f9700 #419b00
  }

  ._59pe, form.async_saving ._59pe, a.async_saving._59pe, ._59pe._42fr, ._59pe._42fr:active, ._59pe._42fr:focus, ._59pe._42fr:hover {
    background: none;
    border-color: transparent;
    box-shadow: none
  }

  ._517i, ._517i._42fr:active, ._517i._42fr._42fs {
    background-position: 0 0;
    font-size: 12px;
    height: 18px;
    line-height: 18px
  }

  ._517i:active, ._517i._42fs {
    background-position: 0 -156px
  }

  ._4jy1._517i, ._4jy1._517i._42fr:active, ._4jy1._517i._42fr._42fs {
    background-position: 0 -314px
  }

  ._4jy1._517i:active, ._4jy1._517i._42fs {
    background-position: 0 -471px
  }

  ._4jy2._517i, ._4jy2._517i._42fr:active, ._4jy2._517i._42fr._42fs {
    background-position: 0 -628px
  }

  ._4jy2._517i:active, ._4jy2._517i._42fs {
    background-position: 0 -785px
  }

  ._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
    background-position: 0 -21px;
    font-size: 12px;
    line-height: 22px
  }

  ._4jy3:active, ._4jy3._42fs {
    background-position: 0 -178px
  }

  ._4jy1._4jy3, ._4jy1._4jy3._42fr:active, ._4jy1._4jy3._42fr._42fs {
    background-position: 0 -335px
  }

  ._4jy1._4jy3:active, ._4jy1._4jy3._42fs {
    background-position: 0 -492px
  }

  ._4jy2._4jy3, ._4jy2._4jy3._42fr:active, ._4jy2._4jy3._42fr._42fs {
    background-position: 0 -649px
  }

  ._4jy2._4jy3:active, ._4jy2._4jy3._42fs {
    background-position: 0 -806px
  }

  ._4jy4, ._4jy4._42fr:active, ._4jy4._42fr._42fs {
    background-position: 0 -46px;
    font-size: 12px;
    line-height: 26px;
    padding: 0 10px
  }

  ._4jy4:active, ._4jy4._42fs {
    background-position: 0 -203px
  }

  ._4jy1._4jy4, ._4jy1._4jy4._42fr:active, ._4jy1._4jy4._42fr._42fs {
    background-position: 0 -360px
  }

  ._4jy1._4jy4:active, ._4jy1._4jy4._42fs {
    background-position: 0 -517px
  }

  ._4jy2._4jy4, ._4jy2._4jy4._42fr:active, ._4jy2._4jy4._42fr._42fs {
    background-position: 0 -674px
  }

  ._4jy2._4jy4:active, ._4jy2._4jy4._42fs {
    background-position: 0 -831px
  }

  ._4jy5, ._4jy5._42fr:active, ._4jy5._42fr._42fs {
    background-position: 0 -75px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 16px
  }

  ._4jy5:active, ._4jy5._42fs {
    background-position: 0 -232px
  }

  ._4jy1._4jy5, ._4jy1._4jy5._42fr:active, ._4jy1._4jy5._42fr._42fs {
    background-position: 0 -389px
  }

  ._4jy1._4jy5:active, ._4jy1._4jy5._42fs {
    background-position: 0 -546px
  }

  ._4jy2._4jy5, ._4jy2._4jy5._42fr:active, ._4jy2._4jy5._42fr._42fs {
    background-position: 0 -703px
  }

  ._4jy2._4jy5:active, ._4jy2._4jy5._42fs {
    background-position: 0 -860px
  }

  ._4jy6, ._4jy6._42fr:active, ._4jy6._42fr._42fs {
    background-position: 0 -112px;
    font-size: 14px;
    line-height: 42px;
    padding: 0 24px
  }

  ._4jy6:active, ._4jy6._42fs {
    background-position: 0 -269px
  }

  ._4jy1._4jy6, ._4jy1._4jy6._42fr:active, ._4jy1._4jy6._42fr._42fs {
    background-position: 0 -426px
  }

  ._4jy1._4jy6:active, ._4jy1._4jy6._42fs {
    background-position: 0 -583px
  }

  ._4jy2._4jy6, ._4jy2._4jy6._42fr:active, ._4jy2._4jy6._42fr._42fs {
    background-position: 0 -740px
  }

  ._4jy2._4jy6:active, ._4jy2._4jy6._42fs {
    background-position: 0 -897px
  }

  ._51xa ._4jy0 {
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    margin: 0 !important;
    margin-left: -1px !important;
    position: relative;
    z-index: 1
  }

  ._51xa > ._4jy0:first-child, ._51xa > :first-child ._4jy0 {
    border-radius: 2px 0 0 2px;
    margin-left: 0 !important
  }

  ._51xa > ._4jy0:last-child, ._51xa > :last-child ._4jy0 {
    border-radius: 0 2px 2px 0
  }

  ._51xa ._4jy0._42fr {
    z-index: 0
  }

  ._51xa ._4jy0._4jy1, ._51xa ._4jy0._4jy2 {
    z-index: 2
  }

  ._51xa ._4jy0:focus {
    z-index: 3
  }

  ._4jy0._52nf {
    cursor: default
  }

  ._4jy0._52nd {
    box-shadow: none
  }

  ._9c6, ._9c6:active {
    -webkit-background-clip: padding-box;
    border-color: #666;
    border-color: rgba(0, 0, 0, .4)
  }

  ._3y89 ._4jy0 {
    border-bottom-width: 0;
    border-top-width: 0
  }

  ._3y89 > ._4jy0:first-child, ._3y89 > :first-child ._4jy0 {
    border-left-width: 0;
    border-radius: 1px 0 0 1px
  }

  ._3y89 > ._4jy0:last-child, ._3y89 > :last-child ._4jy0 {
    border-radius: 0 1px 1px 0;
    border-right-width: 0
  }

  ._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap
  }

  ._42ft:hover {
    text-decoration: none
  }

  ._42ft + ._42ft {
    margin-left: 4px
  }

  ._42fr, ._42fs {
    cursor: default
  }

  .uiTextareaNoResize {
    resize: none
  }

  .uiTextareaAutogrow {
    overflow: hidden
  }

  *::-webkit-input-placeholder {
    color: #9197a3
  }

  *:focus::-webkit-input-placeholder {
    color: #bdc1c9
  }

  .no_js *::-webkit-input-placeholder {
    color: #000
  }

  ._rv {
    height: 100px;
    width: 100px
  }

  ._rw {
    height: 50px;
    width: 50px
  }

  ._s0:only-child {
    display: block
  }

  ._54rv {
    height: 16px;
    width: 16px
  }

  ._54ru {
    height: 32px;
    width: 32px
  }

  ._tzw {
    height: 40px;
    width: 40px
  }

  ._54rt {
    height: 48px;
    width: 48px
  }

  ._54rs {
    height: 56px;
    width: 56px
  }

  ._ry {
    height: 24px;
    width: 24px
  }

  ._4qba {
    font-style: normal
  }

  ._4qbb, ._4qbc, ._4qbd {
    background: none;
    border-bottom: 1px solid #f99;
    font-style: normal;
    padding: 0;
    width: auto
  }

  ._4qbb:hover, ._4qbc:hover, ._4qbd:hover {
    background-color: #fcc;
    border-top: 1px solid #ccc;
    cursor: help
  }

  ._5f0v {
    outline: none
  }

  ._3oxt {
    outline: 1px dotted #3b5998;
    outline-color: invert
  }

  .webkit ._3oxt {
    outline: 5px auto #5b9dd9
  }

  .win.webkit ._3oxt {
    outline-color: #e59700
  }

  ._3sod {
    background-color: #e9eaed;
    border: 1px solid #9daccb;
    border-radius: 3px;
    font-size: 11px;
    margin-top: 3px;
    opacity: 0;
    position: relative;
    top: -30px;
    -webkit-transition: top .2s ease-in-out, opacity .3s ease-in-out
  }

  ._5p3y ._3sod {
    font-size: 12px
  }

  ._5vb_ ._3sod, ._6nw ._3sod {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    font-size: 12px;
    margin-top: 4px;
    -webkit-transition: top .2s ease-in-out, opacity .3s ease-in-out, -webkit-box-shadow .2s ease-in-out
  }

  ._3soe {
    opacity: 1;
    top: 0
  }

  ._3sof {
    display: none
  }

  ._3sod:hover {
    background-color: #c4cde0
  }

  ._5vb_ ._3sod:hover, ._6nw ._3sod:hover {
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4)
  }

  ._3sod ._3sok {
    display: block;
    height: 28px;
    margin-right: 8px;
    width: 28px
  }

  ._3sod ._3soi, ._3sod ._3soi:hover {
    color: #333;
    text-decoration: none
  }

  ._3sod ._3soj {
    padding: 10px
  }

  ._3sod ._3sol {
    word-wrap: break-word
  }

  ._3sod ._3soc {
    float: right;
    margin: 8px 8px 7px 7px
  }

  ._3sod ._1x8t {
    height: 16px;
    width: 16px
  }

  ._3sod ._3som {
    color: #777;
    margin-top: 5px
  }

  .uiLayer {
    outline: none
  }

  .textMetrics {
    border: none;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -9999999px
  }

  .textMetricsInline {
    white-space: pre
  }

  ._32qa button {
    opacity: .4
  }

  ._59ov {
    height: 100%;
    height: 910px;
    position: relative;
    top: -10px;
    width: 100%
  }

  ._5ti_ {
    background-size: cover;
    height: 100%;
    width: 100%
  }

  ._5tj2 {
    height: 900px
  }

  ._2mm3 ._5a8u .uiBoxGray {
    background: #fff;
    margin: 0;
    padding: 12px
  }

  .uiTypeaheadView .basic ._5dzy {
    float: none
  }

  .uiTypeaheadView .compact ._5dzy {
    display: inline-block;
    position: static
  }

  .UFIReplySocialSentenceLinkText ._5dzy {
    margin-left: 1px
  }

  ._5dzy {
    display: inline-block
  }

  ._5dzz {
    height: 14px;
    margin-left: 3px;
    vertical-align: -2px;
    width: 14px
  }

  ._5d-3._5dzz {
    height: 16px;
    margin-left: 2px;
    vertical-align: -3px;
    width: 16px
  }

  ._5dz- {
    height: 15px;
    margin-left: 3px;
    vertical-align: -2px;
    width: 15px
  }

  ._5dz_ {
    height: 17px;
    margin-left: 3px;
    vertical-align: -4px;
    width: 17px
  }

  ._5d-0 {
    height: 19px;
    margin-left: 2px;
    vertical-align: -3px;
    width: 19px
  }

  ._5d-1 {
    height: 19px;
    margin-left: 4px;
    vertical-align: -2px;
    width: 19px
  }

  ._5d-3._5d-1 {
    height: 26px;
    margin-left: 4px;
    vertical-align: -5px;
    width: 26px
  }

  .highContrast ._56_f._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -457px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5dzz {
    overflow: hidden;
    position: relative
  }

  ._56_f._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -457px
  }

  .highContrast ._56_f._5d-3._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -289px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5d-3._5dzz {
    overflow: hidden;
    position: relative
  }

  ._56_f._5d-3._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -289px
  }

  .highContrast ._56_f._5dz-:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -489px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5dz- {
    overflow: hidden;
    position: relative
  }

  ._56_f._5dz- {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -489px
  }

  .highContrast ._56_f._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -325px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5dz_ {
    overflow: hidden;
    position: relative
  }

  ._56_f._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -325px
  }

  .highContrast ._56_f._5d-0:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -106px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5d-0 {
    overflow: hidden;
    position: relative
  }

  ._56_f._5d-0 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -106px
  }

  .highContrast ._56_f._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -212px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._56_f._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -212px
  }

  .highContrast ._56_f._5d-3._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -55px 0 0 0;
    position: absolute
  }

  .highContrast ._56_f._5d-3._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._56_f._5d-3._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -55px
  }

  .highContrast ._56_f._3vjg._5dzz:before, .highContrast ._56_f._5d-3._3vjg ._5dzz:before, .highContrast ._56_f._3vjg._5dz-:before, .highContrast ._56_f._3vjg._5dz_:before, .highContrast ._56_f._3vjg._5d-0:before, .highContrast ._56_f._3vjg._5d-1:before, .highContrast ._56_f._5d-3._3vjg ._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -392px 0 0 -15px;
    position: absolute
  }

  .highContrast ._56_f._3vjg._5dzz, .highContrast ._56_f._5d-3._3vjg ._5dzz, .highContrast ._56_f._3vjg._5dz-, .highContrast ._56_f._3vjg._5dz_, .highContrast ._56_f._3vjg._5d-0, .highContrast ._56_f._3vjg._5d-1, .highContrast ._56_f._5d-3._3vjg ._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._56_f._3vjg._5dzz, ._56_f._5d-3._3vjg ._5dzz, ._56_f._3vjg._5dz-, ._56_f._3vjg._5dz_, ._56_f._3vjg._5d-0, ._56_f._3vjg._5d-1, ._56_f._5d-3._3vjg ._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -15px -392px
  }

  .highContrast .uiTypeaheadView .selected ._56_f._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -473px 0 0 0;
    position: absolute
  }

  .highContrast .uiTypeaheadView .selected ._56_f._5dzz {
    overflow: hidden;
    position: relative
  }

  .uiTypeaheadView .selected ._56_f._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -473px
  }

  .highContrast .selected ._56_f._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -342px 0 0 0;
    position: absolute
  }

  .highContrast .selected ._56_f._5dz_ {
    overflow: hidden;
    position: relative
  }

  .selected ._56_f._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -342px
  }

  .UFICommentContent ._56_f {
    margin-left: 1px
  }

  ._56_f._4yxb {
    margin-left: 0
  }

  .highContrast ._1gop._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -375px 0 0 0;
    position: absolute
  }

  .highContrast ._1gop._5dzz {
    overflow: hidden;
    position: relative
  }

  ._1gop._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -375px;
    height: 16px;
    width: 16px
  }

  .highContrast .uiTypeaheadView .selected ._1gop._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -358px 0 0 0;
    position: absolute
  }

  .highContrast .uiTypeaheadView .selected ._1gop._5dzz {
    overflow: hidden;
    position: relative
  }

  .uiTypeaheadView .selected ._1gop._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -358px;
    -webkit-filter: brightness(200%);
    height: 16px;
    width: 16px
  }

  ._59t2._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/r/XTBCJQ4brFv.png)
  }

  ._59t2._5dz- {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yt/r/9P4tFVoazCQ.png)
  }

  ._59t2._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/seydRWcRiTg.png)
  }

  ._59t2._5d-0 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/ui6i-KsMj_C.png)
  }

  ._59t2._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/pAT_aWF8wR_.png)
  }

  .highContrast ._1_4q._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -307px 0 0 -16px;
    position: absolute
  }

  .highContrast ._1_4q._5dzz {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -307px
  }

  .highContrast ._1_4q._5d-3._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -307px 0 0 -16px;
    position: absolute
  }

  .highContrast ._1_4q._5d-3._5dzz {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5d-3._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -307px
  }

  .highContrast ._1_4q._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -392px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4q._5dz_ {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -392px
  }

  .highContrast ._1_4q._5d-0:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -231px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4q._5d-0 {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5d-0 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -231px
  }

  .highContrast ._1_4q._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -128px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4q._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -128px
  }

  .highContrast ._1_4q._5d-3._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -128px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4q._5d-3._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._1_4q._5d-3._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -128px;
    height: 22px
  }

  .highContrast .uiTypeaheadView .selected ._1_4q._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -307px 0 0 -16px;
    position: absolute
  }

  .highContrast .uiTypeaheadView .selected ._1_4q._5dzz {
    overflow: hidden;
    position: relative
  }

  .uiTypeaheadView .selected ._1_4q._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -307px
  }

  .highContrast .selected ._1_4q._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -392px 0 0 1px;
    position: absolute
  }

  .highContrast .selected ._1_4q._5dz_ {
    overflow: hidden;
    position: relative
  }

  .selected ._1_4q._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -392px
  }

  .UFICommentContent ._1_4q {
    margin-left: 1px
  }

  ._1_4q._78p {
    margin-left: 0
  }

  .highContrast ._1_4r._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -320px 0 0 -16px;
    position: absolute
  }

  .highContrast ._1_4r._5dzz {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -320px
  }

  .highContrast ._1_4r._5d-3._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -320px 0 0 -16px;
    position: absolute
  }

  .highContrast ._1_4r._5d-3._5dzz {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5d-3._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -320px
  }

  .highContrast ._1_4r._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -408px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4r._5dz_ {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -408px
  }

  .highContrast ._1_4r._5d-0:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -250px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4r._5d-0 {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5d-0 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -250px
  }

  .highContrast ._1_4r._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -149px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4r._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -149px
  }

  .highContrast ._1_4r._5d-3._5d-1:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -170px 0 0 1px;
    position: absolute
  }

  .highContrast ._1_4r._5d-3._5d-1 {
    overflow: hidden;
    position: relative
  }

  ._1_4r._5d-3._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -170px;
    height: 22px
  }

  .highContrast .uiTypeaheadView .selected ._1_4r._5dzz:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -320px 0 0 -16px;
    position: absolute
  }

  .highContrast .uiTypeaheadView .selected ._1_4r._5dzz {
    overflow: hidden;
    position: relative
  }

  .uiTypeaheadView .selected ._1_4r._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -16px -320px
  }

  .highContrast .selected ._1_4r._5dz_:before {
    content: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    margin: -408px 0 0 1px;
    position: absolute
  }

  .highContrast .selected ._1_4r._5dz_ {
    overflow: hidden;
    position: relative
  }

  .selected ._1_4r._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 1px -408px
  }

  .UFICommentContent ._1_4r {
    margin-left: 1px
  }

  ._1_4r._11_k {
    margin-left: 0
  }

  ._5d62._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -425px
  }

  ._5d62._5d-3._5dzz {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -270px
  }

  ._5d62._5dz- {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -441px
  }

  ._5d62._5dz_ {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -308px
  }

  ._5d62._5d-0 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -83px
  }

  ._5d62._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -192px
  }

  ._5d62._5d-3._5d-1 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: 0 -27px
  }

  li + ._2qm {
    margin-top: -1px
  }

  li._2qm {
    background-color: #f6f7f8;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px
  }

  ._2qn {
    font-weight: bold
  }

  ._356, ._355 ._357 {
    display: none
  }

  ._355 ._356 {
    display: inline
  }

  ._2qs ._2qq ._52l8, span._52l8, .compact .selected span._52l8 {
    color: #333333 !important;
    font-weight: bold;
    padding: 1px 2px
  }

  ._ksg ._52l8 {
    display: inline-block;
    margin-top: -1px
  }

  ._357 {
    font-weight: normal
  }

  div._4ck.uiTypeaheadView {
    width: 100%
  }

  .uiContextualTypeaheadView li._2qm {
    border-top: solid 1px #e9eaed
  }

  .uiContextualTypeaheadView li ._3ks {
    height: 32px;
    width: 32px
  }

  .uiTypeaheadView .compact li {
    min-height: 32px;
    padding: 2px 10px 2px 45px
  }

  .uiTypeaheadView .compact .hashtag {
    height: 32px;
    min-height: 32px;
    padding: 2px 10px 2px 10px
  }

  .uiTypeaheadView .compact li.raw {
    min-height: 0;
    padding: 0
  }

  .uiTypeaheadView .compact .splitpics, .uiTypeaheadView .compact img {
    display: block;
    height: 32px;
    left: 6px;
    position: absolute;
    width: 32px
  }

  .uiTypeaheadView .compact img.secretTagIcon {
    display: inline-block;
    height: 9px;
    left: 0;
    margin-right: 4px;
    position: relative;
    top: 1px;
    width: 9px
  }

  .uiTypeaheadView .compact .text {
    font-weight: bold
  }

  .uiTypeaheadView .compact .disabled_result .text {
    font-weight: normal
  }

  .uiTypeaheadView .compact .wrappingHeader {
    font-weight: bold;
    position: relative;
    white-space: normal
  }

  .uiTypeaheadView .compact .wrappingHeader .auxTitle {
    color: #7f7f7f;
    font-weight: normal
  }

  .uiTypeaheadView .compact .details {
    color: #999;
    padding-top: 0
  }

  .uiTypeaheadView .compact .detailsContents {
    position: relative
  }

  .uiTypeaheadView .compact .splitpic {
    float: left;
    overflow: hidden;
    width: 15px
  }

  .uiTypeaheadView .compact .splitpics img {
    left: 0;
    margin-left: -8px;
    position: static
  }

  .uiTypeaheadView .compact .splitpics .leftpic {
    margin-right: 1px;
    width: 16px
  }

  .uiTypeaheadView .compact .splitpics .toppic {
    height: 15px;
    margin-bottom: 1px
  }

  .uiTypeaheadView .compact .splitpics .bottompic {
    height: 16px
  }

  .uiTypeaheadView .compact .splitpics .toppic img, .uiTypeaheadView .compact .splitpics .bottompic img {
    margin-top: -8px
  }

  .uiTypeaheadView .compact .friendlist img {
    background-color: transparent
  }

  .uiTypeaheadView .compact .timestamp {
    color: #7f7f7f;
    display: block;
    float: right;
    font-size: 11px;
    margin-left: 2px;
    vertical-align: middle
  }

  .uiTypeaheadView .compact .debugInfo {
    float: right;
    text-align: right
  }

  .uiTypeaheadView .basic img {
    display: block;
    float: left;
    padding-right: 4px
  }

  div.uiTypeaheadView .basic .calltoaction {
    padding: 3px
  }

  .uiTypeaheadView .basic .debugInfo {
    float: right;
    text-align: right
  }

  .uiTypeaheadView {
    display: block;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%
  }

  .uiContextualTypeaheadView {
    position: static
  }

  .uiTypeaheadView ul {
    background: #fff;
    border: solid;
    border-width: 1px 1px 2px;
    border-color: #333333 #333 #293e6a;
    overflow: hidden;
    padding: 2px 0
  }

  .uiTypeaheadView .freeform {
    border-top-color: #dcdee3;
    padding: 2px 6px 1px;
    text-align: center
  }

  .uiTypeaheadView li {
    border: solid #fff;
    border-width: 1px 0;
    color: #333;
    cursor: pointer;
    display: block;
    min-height: 1px;
    padding: 0 6px;
    position: relative
  }

  .uiTypeaheadView strong {
    background-color: #d8deea;
    color: #3b5998
  }

  div.uiTypeaheadView .selected {
    background-color: #627aad;
    border-color: #3a5795
  }

  .highContrast div.uiTypeaheadView .selected {
    border-right-width: 10px
  }

  .uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span {
    color: #ffffff !important
  }

  .uiTypeaheadView .selected strong {
    background-color: #5670a6
  }

  .uiTypeaheadView .text, .uiTypeaheadView .subtext, .uiTypeaheadView .category {
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .uiTypeaheadView .category {
    color: #666
  }

  .uiTypeaheadView .subtext {
    color: #999
  }

  .uiTypeaheadView .saved {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -19px -232px;
    color: #0c5eff;
    padding-left: 12px
  }

  .uiTypeaheadView .selected .saved {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yA/r/Ap-z2LUYbml.png);
    background-repeat: no-repeat;
    background-size: 30px 505px;
    background-position: -19px -243px
  }

  .uiTypeaheadView .arrow {
    background: transparent url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/unHwF9CkMyM.png) 0 -413px;
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    width: 4px
  }

  .uiTypeaheadView .selected .arrow {
    background-position: 0 -420px
  }

  div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell, div.uiTypeaheadView li.calltoactionV2 {
    background: #f6f7f8;
    border-bottom: none;
    border-color: #dcdee3;
    display: block;
    margin: 2px 0 -2px;
    min-height: 1px;
    padding: 8px
  }

  div.uiTypeaheadView li.calltoactionV2 {
    background: #fff;
    border: solid #f6f7f8;
    border-width: 8px 0 2px 0;
    padding: 12px 12px 12px 48px
  }

  .uiTypeaheadView li.disabled {
    color: #999
  }

  div.uiTypeaheadView li.calltoaction {
    text-align: center
  }

  div.uiTypeaheadView li.calltoactionV2 {
    text-align: left
  }

  div.uiTypeaheadView li.browseMore {
    background: #fff
  }

  div.uiTypeaheadView li.browseUpsell {
    cursor: default
  }

  .uiTypeaheadView.typeaheadViewLoading li.browseUpsell {
    display: none
  }

  div.uiTypeaheadView .browseSuccess .browseSignup, div.uiTypeaheadView .browseJoined {
    display: none
  }

  div.uiTypeaheadView .browseSignup, div.uiTypeaheadView .browseSuccess .browseJoined {
    display: inherit
  }

  div.uiTypeaheadView li.calltoaction.selected, div.uiTypeaheadView li.calltoactionV2.selected {
    background-color: #627aad
  }

  div.uiTypeaheadView li.calltoaction.selected {
    border-color: #3a5795
  }

  div.typeaheadViewLoading li.calltoaction, div.typeaheadViewLoading li.calltoactionV2 {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);
    background-position: 90% 50%;
    background-repeat: no-repeat
  }

  div.typeaheadViewLoading li.calltoaction.selected, div.typeaheadViewLoading li.calltoactionV2.selected {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/AGUNXgX_Wx3.gif)
  }

  .uiTypeaheadView li.typeaheadViewInternalLoading {
    cursor: default;
    padding: 10px 0;
    text-align: center
  }

  .uiTypeaheadView .bucketed ul {
    padding: 0
  }

  .uiTypeaheadView .bucketed .header {
    background-color: #f6f7f8;
    border-top: 1px solid #e9eaed;
    border-bottom: none;
    margin-top: 4px;
    min-height: 10px;
    padding: 2px 15px 2px 6px
  }

  .uiTypeaheadView .bucketed .disabled_result {
    color: #7f7f7f;
    font-weight: normal;
    margin-top: 4px;
    min-height: 10px;
    padding: 2px 15px 2px 6px
  }

  .uiTypeaheadView .bucketed .header:first-child {
    border-top: none;
    margin-top: 0
  }

  .uiTypeaheadView .bucketed .header .text {
    color: #000000 !important
  }

  .fixed_elem, .fixed_always {
    position: fixed !important
  }

  .tinyHeight .fixed_elem {
    position: static !important
  }

  .chrome .fixed_elem, .chrome .fixed_always {
    -webkit-transform: translateZ(0)
  }

  .tinyHeight .chrome .fixed_elem {
    -webkit-transform: none
  }

  .uiContextualLayerPositioner {
    height: 0;
    position: absolute;
    z-index: 200
  }

  .uiContextualLayer {
    position: absolute
  }

  div.uiContextualLayerPositionerFixed {
    position: fixed
  }

  .uiContextualLayerParent {
    position: relative
  }

  .uiMentionsInput {
    overflow: hidden;
    position: relative
  }

  .uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead {
    background: transparent
  }

  .uiMentionsInput .mentionsTextarea {
    line-height: 1.28
  }

  .uiMentionsInput .highlighter {
    left: 0;
    overflow: hidden;
    position: absolute;
    padding: 4px;
    top: 0
  }

  .uiMentionsInput .highlighter div {
    color: transparent;
    line-height: 1.28;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word
  }

  .uiMentionsInput .highlighterContent {
    max-width: 100%
  }

  .uiMentionsInput .highlighter b {
    background: #d8deea;
    background: -webkit-linear-gradient(#dce6f8, #bdcff1);
    background: linear-gradient(#dce6f8, #bdcff1);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #a3bcea;
    font-weight: normal
  }

  .uiMentionsInput .highlighter b.weak {
    background: #dcdee3;
    background: -webkit-linear-gradient(#eaeaea, #d7d7d7);
    background: linear-gradient(#eaeaea, #d7d7d7);
    box-shadow: 0 0 0 1px #808080
  }

  .uiTypeahead {
    background: #fff;
    border: solid #bdc7d8;
    border-width: 1px 0;
    cursor: default;
    position: relative
  }

  .uiTypeahead .wrap {
    border: solid #bdc7d8;
    border-width: 0 1px
  }

  .uiTypeahead .innerWrap {
    overflow: hidden;
    zoom: 1
  }

  .uiTypeahead .textInput {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    width: 100%
  }

  .uiTypeahead .selected {
    background-color: #e2e8f6
  }

  .uiTypeaheadDisabled, .uiTypeaheadDisabled div.wrap {
    border-color: #ccc
  }

  .uiTypeaheadDisabled div.wrap {
    background: #e5e5e5
  }

  .uiTypeaheadDisabled div.wrap .textInput {
    color: #333
  }

  .uiStickyPlaceholderInput {
    display: inline-block;
    position: relative
  }

  .uiStickyPlaceholderInput input, .uiStickyPlaceholderInput textarea {
    background-color: transparent;
    position: relative
  }

  .uiStickyPlaceholderInput .placeholder {
    color: #999;
    cursor: text;
    display: none;
    height: 100%;
    left: 0;
    padding: 4px 0 0 5px;
    position: absolute;
    top: 0;
    width: 100%
  }

  .uiTypeahead .uiStickyPlaceholderInput .placeholder {
    padding: 3px 0 0 4px
  }

  div.uiStickyPlaceholderTextarea .placeholder {
    padding: 6px 0 0 6px
  }

  div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block
  }

  .uiTypeahead .uiStickyPlaceholderInput {
    width: 100%
  }

  .uiClearableTypeahead .selected .uiStickyPlaceholderInput {
    margin-right: 16px
  }

}


