// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
*=  require sliders/slick-tips
*/

.slider-field {
  width: 635px;
  height: 372px;
  position: relative;
  float: left;
}

.index-slider .slide {
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px 20px 10px 12px;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    p {
      display:block;
      bottom:0px;
      left:0;
      padding:15px 20px 10px 12px;
      line-height:24px;
      margin-bottom:0;
    }
    b {
      font-size: 16px;
      line-height: 24px;
      font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
      display: block;
    }
  }
  img {
    width: 635px;
    height: 372px;
    display: block;
  }
}

form.vj-widget-form {
  position: absolute;
  top: 35px;
  .select-wrap {
    margin-left: 4px;
  }
  input[type=submit] {
    margin: 0 auto;
  }
}
