div.tag_list {
  ul {
    min-width: 450px;
    border: 1px solid #c5c4c4;
    padding: 2px 15px;
    margin: 0;
    display: inline-flex;
    background-color: #fff;
  }
  ul li {
    width: auto !important;
    border-radius: 10px;
  }
}

ul.tagit li.tagit-new input {
    min-width: 160px;
}

ul.tagit-autocomplete {
  border: 1px solid #c5c4c4;
  background-color: #fff;
}

ul.tags {
  list-style-type: none;
}

form.tag_search_form {
  padding-top: 0px;
}

form.tag_main_filter_form {
  float: right;
  padding-top: 10px;
}

.tag_cloud {
  line-height: 1.6em;
  margin: 0 0 48px -2px;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

// Main filter form
ul.ui-autocomplete {
  background-color: #fff;
}
