%p#notice= notice
.main-content{:itemscope => true, :itemtype => "http://schema.org/Article"}
  -content_for :for_head do
    -# general METAS
    %title #{@tip_category.name} | Dicas de Snowboard | Zona Radical
    %meta{:name => "description", :content =>  strip_tags(@tip_category.description.to_s)}
    -# facebook METAS
    %meta{:property=>"og:type", :content =>"article"}
    %meta{:property=>"og:description", :content =>  strip_tags(@tip_category.description.to_s)}
    %meta{:property=>"og:title", :content => t('tips') + ': ' + @tip_category.name + " | Zona Radical"}
    %meta{:property=>"og:url", :content => request.original_url.to_s}
    -# @Todo Make proper images for all resort categories
    %meta{:property=> "og:image", :content=> "https://zonaradical.com.br"+@tip_category.image_url(:thumb_1200_630)}
    -# schema.org METAS
    %meta{:itemprop=>"author", :content =>"Zona Radical"}
    %meta{:itemprop=>"url", :content => request.original_url.to_s}
  .heading{:itemprop=>"name"}
    %h1
      = link_to t('tips'), main_app.tips_url
      =': ' + @tip_category.name
    %meta{:itemprop=>"name", :content => t('tips') + ': ' + @tip_category.name + " | Zona Radical"}
  .introtext
    = @tip_category.description.html_safe unless @tip_category.description.nil?
  -if can? :update, @tip_category
    = link_to t('edit'), edit_tip_category_path(@tip_category)
  .clear
  %ul.stations-list
    =render @tips.order(created_at: :desc)
    = will_paginate @tips,:previous_label => '<<',:next_label => '>>', :inner_window => 1
-content_for :aside do
  %aside
    =render 'shared/aside/aside_share_buttons'
    =render 'shared/aside/aside_tip_category', :tip_category => @tip_category
    = render 'shared/ads_nut_aside'
    = render 'shared/aside/aside_tags'
    =render 'shared/aside/aside_advert'
    =render 'shared/aside/aside_social_buttons'
    =render 'shared/aside/aside_fb_like_box'
    -#=render 'shared/aside/aside_resort_gallery'
  .clear

-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> "Todas Dicas", :header_url => main_app.tips_path

  .container
    .articles
      -#=render 'layouts/list_filters_xs', :header_txt => @tip_category.name
      .articles--title.clearfix
        .articles--filter.left
          %a.articles--filter-btn{:href => "#"} Categorias
          .articles--filter-box
            %ul.articles--filter-list
              =menu_tip_categories TipCategory.all

        .news--item-title.right.clearfix
          .news--item-name.left
            =@tip_category.name

      - if @tip_category.description.present?
        .article
          .article--inner
            .article--desc
              = @tip_category.description.html_safe

      = render partial: "tips/tip_xs", collection: @tips.order(created_at: :desc)
      = will_paginate @tips
      -# ToDo pagination style
      =render 'shared/advert_xs'
