!!!
%html
  / Содержимое тега <head> для всех страниц
  %head
    %meta{:charset => "utf-8"}
      %title Zona
      %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}
        %meta{:content => "telephone=no", :name => "format-detection"}
          / Шрифты
          %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
            / Стили
            %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
              / Скрипты
              %script{:src => "js/jquery-2.2.3.min.js", :type => "text/javascript"}
              %script{:src => "js/slick.js", :type => "text/javascript"}
              %script{:src => "js/scripts.js", :type => "text/javascript"}
  %body
    / Шапка главной страницы
    %header.head.harticles
      %a.head--logo.visible-sm{:href => "#"}
      %a.head--anuncio{:href => "#"}
        %i
        %span Publica Anuncio
      .head--input
        %input{:type => "text"}
      .head--tools.clearfix
        %a.left.i1{:href => "#"}
        %a.left.i2{:href => "#"}

    .container
      .articles
        .articles--title.clearfix
          .articles--filter.left
            %a.articles--filter-btn{:href => "#"} Filters (0)
            .articles--filter-box
              %ul.articles--filter-list
                %li
                  %a{:href => "#"} Categoria 1
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 2
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 3
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 4
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 5
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 6
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 7
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
                %li
                  %a{:href => "#"} Categoria 8
                  %i.non-active +
                  %i.active -
                  %ul
                    %li.sub
                      \&gt; SubCategoria 1
                      %ul
                        %li &gt; SubCategoria 1
                        %li &gt; SubCategoria 2
                        %li &gt; SubCategoria 3
                        %li &gt; SubCategoria 4
                    %li &gt; SubCategoria 2
                    %li &gt; SubCategoria 3
          .news--item-title.right.clearfix
            .news--item-name.left Most popular articles
            %a.news--item-more.right.hidden-xs{:href => "#"} Todos
        .article
          .article--inner
            .article--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida. In hac habitasse platea dictumst.

        .article
          .article--inner.pad
            .article--image
              %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114"}/
            .article--info
              .article--title Existem muitas variações das passagens
              %a.article--user{:href => "#"} Admin
            .article--text
              Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
              %a{:href => "#"} Leia mais
            .article--tools.visible-sm.clearfix
              .article--tags.left
                %span.bold Tags :
                %a{:href => "#"} proin
                %span ,
                %a{:href => "#"} iaculis
                %span ,
                %a{:href => "#"} hendrerit
                %span ,
                %a{:href => "#"} lacinia
                %span ,
                %a{:href => "#"} pellentesque
              .article--category.right
                %a{:href => "#"} Áustria Saalbach - Category

        .article
          .article--inner.pad
            .article--image
              %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114"}/
            .article--info
              .article--title Existem muitas variações das passagens
              %a.article--user{:href => "#"} Admin
            .article--text
              Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
              %a{:href => "#"} Leia mais
            .article--tools.visible-sm.clearfix
              .article--tags.left
                %span.bold Tags :
                %a{:href => "#"} proin
                %span ,
                %a{:href => "#"} iaculis
                %span ,
                %a{:href => "#"} hendrerit
                %span ,
                %a{:href => "#"} lacinia
                %span ,
                %a{:href => "#"} pellentesque
              .article--category.right
                %a{:href => "#"} Áustria Saalbach - Category
        .article
          .article--inner.pad
            .article--image
              %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114"}/
            .article--info
              .article--title Existem muitas variações das passagens
              %a.article--user{:href => "#"} Admin
            .article--text
              Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
              %a{:href => "#"} Leia mais
            .article--tools.visible-sm.clearfix
              .article--tags.left
                %span.bold Tags :
                %a{:href => "#"} proin
                %span ,
                %a{:href => "#"} iaculis
                %span ,
                %a{:href => "#"} hendrerit
                %span ,
                %a{:href => "#"} lacinia
                %span ,
                %a{:href => "#"} pellentesque
              .article--category.right
                %a{:href => "#"} Áustria Saalbach - Category
        .article
          .article--inner.pad
            .article--image
              %img{:alt => "", :src => "http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114"}/
            .article--info
              .article--title Existem muitas variações das passagens
              %a.article--user{:href => "#"} Admin
            .article--text
              Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
              %a{:href => "#"} Leia mais
            .article--tools.visible-sm.clearfix
              .article--tags.left
                %span.bold Tags :
                %a{:href => "#"} proin
                %span ,
                %a{:href => "#"} iaculis
                %span ,
                %a{:href => "#"} hendrerit
                %span ,
                %a{:href => "#"} lacinia
                %span ,
                %a{:href => "#"} pellentesque
              .article--category.right
                %a{:href => "#"} Áustria Saalbach - Category
        %ul.articles--pagination
          %li.prev
            %a{:href => "#"} &lt;&lt;
          %li.active
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li.next
            %a{:href => "#"} &gt;&gt;
    %footer.foot
      .foot--socials
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
      .foot--links
        %li
          %a{:href => "#"} Estações
        %li
          %span //
        %li
          %a{:href => "#"} Dicas
        %li
          %span //
        %li
          %a{:href => "#"} Vamo Junto
        %li
          %span //
        %li
          %a{:href => "#"} Pacotes
        %li
          %span //
        %li
          %a{:href => "#"} Forum
        %li
          %span //
        %li
          %a{:href => "#"} Galera Snow
      .foot--form
        %input{:placeholder => "Seu email...", :type => "text"}
          %button{:type => "submit"} @
          %br
            %span Receba a nossa newsletter
      .foot--copy Politica de Privacidade. Copyright 2014-2015.
    .menu
      %a.menu--close{:href => "#"}
      .menu--inner
        %a.menu--login{:href => "#"}
          %img{:alt => "", :src => "img/menu--login.png"}
            %span Log in
        .menu--links
          %ul
            %li.sub
              %span Home
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
            %li.sub
              %span Estações
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
            %li.sub
              %span Dicas
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
            %li
              %a{:href => "#"} Vamo Junto
            %li.sub
              %span Pacotes
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
            %li.sub
              %span Forum
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
            %li.sub
              %span Galera Snow
              %i
              %ul
                %li
                  %a{:href => "#"} videos
                %li
                  %a{:href => "#"} eventos
                %li
                  %a{:href => "#"} galerias de fotos
        %a.menu--settings{:href => "#"} Settings
    .login
      %a.login--close{:href => "#"}
      .login--inner
        .login--title Entre na sua conta do Zona Radical
        .login--label Faca o login com seu e-mail
        .login--input
          %input{:placeholder => "SEU EMAIL...", :type => "text"}
        .login--input
          %input{:placeholder => "SENHA", :type => "text"}
        .login--submit
          %button{:type => "submit"} Entrar
        .login--or
          ou&nbsp;
          %a{:href => "#"} Esqueci a senha
        .login--socials
          %a.fb{:href => "#"} Entrar com o Facebook
          %a.gp{:href => "#"} Entrar com o Google
          %a.tw{:href => "#"} Entrar com o Twitter
        .login--or
          Nao tem uma conta?&nbsp;
          %a{:href => "#"} Cadastre-se
