.heading
  %h1{:style=>'font: normal normal 20px / 19px "HelveticaNeueBold", Arial, Helvetica, sans-serif;'}
    = 'Tags'
.clear

= form_for '', url: tags_path, method: :get, html: { class: 'tag_search_form' } do |f|
  .field.tag_list
    = f.label :tag_list
    = f.text_field :tag_list, value: params[:tag_list]
  .actions{ style: "margin-top: 10px" }
    = f.submit 'Buscar'

= render 'show', collection: @resources[:tips], locals: { title: 'Dicas' }
= render 'show', collection: @resources[:resorts], locals: { title: 'Estações Ski Snowboard' }
= render 'show', collection: @resources[:videos], locals: { title: 'Vídeos' }
= render 'show', collection: @resources[:galleries], locals: { title: 'Galerias' }
= render 'show', collection: @resources[:events], locals: { title: 'Eventos' }
= render 'show', collection: @resources[:offers], locals: { title: 'Pacotes' }
= render 'show', collection: @resources[:breezes], locals: { title: 'Breezes' }


-content_for :for_mobile do
  =render 'layouts/header_xs', :header_txt=> nil, :header_url => nil

  .container
    .articles
      .article
        .article--inner
          .article--desc
            Todos materias com seus tags
      = form_for '', url: tags_path, method: :get, html: { class: 'tag_search_form' } do |f|
        .field.tag_list
          = f.label :tag_list
          = f.text_field :tag_list, value: params[:tag_list]
        .actions{ style: "margin-top: 10px" }
          = f.submit 'Buscar'

      = render 'show', collection: @resources[:tips], locals: { title: 'Dicas' }
      = render 'show', collection: @resources[:resorts], locals: { title: 'Estações Ski Snowboard' }
      = render 'show', collection: @resources[:videos], locals: { title: 'Vídeos' }
      = render 'show', collection: @resources[:galleries], locals: { title: 'Galerias' }
      = render 'show', collection: @resources[:events], locals: { title: 'Eventos' }
      = render 'show', collection: @resources[:offers], locals: { title: 'Pacotes' }
      = render 'show', collection: @resources[:breezes], locals: { title: 'Breezes' }

      =render 'shared/advert_xs'
