.slider-field
  .contest-slider
    -images.each_with_index do |image,i|
      .slide
        -if image.url.blank?
          =image_tag image.image_url(:tip_slider).to_s
        -else
          =link_to image_tag(image.image_url(:tip_slider).to_s), image.url, :target => '_blank'
        -unless image.description.blank?
          -if image.description.length < 110
            %p.noarr
              =image.description
          -else
            %p
              %span.arrow
              =image.description
        -unless image.name.blank?
          %span.tag
            = image.name
    -# %p.help Passa o mouse no texto encima para ver ,elhor a descrição.
