.article--slider
  -images.each_with_index do |image,i|
    .slide
      -if image.url.blank?
        =image_tag(image.image_url(:slider).to_s,:alt=>image.name.to_s)
      -else
        =link_to image_tag(image.image_url(:slider).to_s,:alt=>image.name.to_s), image.url, :target => '_blank'
      - unless image.name.nil?
        .tag
          =image.name
      .text
        %p.title
          =image.name
        %p
          =image.description.html_safe unless image.description.nil?
