.slider-field
  .tip-slider
    -images.each_with_index do |image,i|
      .slide
        -unless image.image_url.blank?
          -if image.url.blank?
            =image_tag(image.image_url(:slider).to_s,:alt=>image.name.to_s, :class=>"main")
          -else
            =link_to image_tag(image.image_url(:slider).to_s,:alt=>image.name.to_s, :class=>"main"), image.url, :target => '_blank'
          - if image.text_covers? && image.description.present?
            -if image.description.length < 110
              %p.noarr
                =image.description
            -else
              %p.img-description
                %span.arrow
                =image.description
        -unless image.name.blank?
          %span.tag
            = image.name
        %span.counter
          = i+1
          \/
          #{images.count}
        - if image.text_below? && image.description.present?
          .caption{ style: (image.image_url.blank?) ? 'padding-top: 40px' : '' }
            =image.description.html_safe

    -# %p.help Passa o mouse no texto encima para ver ,elhor a descrição.
  - if images.count > 1 && images.first.text_below?
    .extra_arrows
      %button.prev_arrow
      %button.next_arrow
